include ../partials/_variables
include ../partials/_mixins

- var suffix = production ? '.min' : '';

doctype html
html(lang='ru')

    block variables
        -
            var title = defaultPageTitle;
            var bodyClass = false;
            var activeLink = null;

    block head
        head
            meta(name='format-detection', content='telephone=no')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title
            meta(name='theme-color', content='#000000')
            meta(name='mobile-web-app-capable', content='yes')
            meta(name='apple-mobile-web-app-capable', content='yes')
            meta(name='msapplication-starturl', content='/')
            link(rel='manifest', href='static/manifest.json')
            link(href='static/css/index' + suffix + '.css', rel='stylesheet')
            link(rel='icon', href='static/favicon.png')

    block body
        body(class = bodyClass ? bodyClass : '')
            .main_wrapper

                // SVG
                block svg
                    div.svg-container(style='position: absolute; width: 0; height: 0; overflow: hidden;')
                        include ../partials/_sprite.svg

                // picture element HTML5 shiv, push notifications key (example)
                block inlineScripts
                    script.
                      document.createElement('picture');
                      window.applicationServerPublicKey =
                        'BEd6Q-l-u7MNah6eRBUY9tiqGoWwYEY9auxLrnfq2ZyFyCR3q5g6ZcbbjrHRe0pSK9AT_aVn0a7Hbz43JNpI2CU';

                block preloader
                    // Preloader
                    +preloader()

                block header
                    // Header
                    +header(activeLink)

                // Main content
                block main
                    main

                block upButton
                    // Up button
                    +buttonUp()

                block footer
                    // Footer
                    +footer()

                block popup
                    +popup--online-record()

                .popup.popup--record(data-popup-id='online-record', tabindex='-1', role='dialog')
                    .popup__container
                        .popup__close
                            svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 21.3 21.3', style='enable-background:new 0 0 21.3 21.3;', xml:space='preserve')
                                rect(x='9.6', y='-3.4', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -4.4036 10.6314)', width='2.1', height='28')
                                rect(x='-3.4', y='9.6', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -4.4086 10.6334)', width='28', height='2.1')
                        .popup__content.popup__content--form.popup__content--form-4
                            .popup__title Ждем Вас!
                            .popup__body
                                .popup__row
                                    span 18.08.2017
                                    span в
                                    span 15:40
                                .popup__row
                                    span Салон:
                                    span MAIJA СТИЛЬ (ул. Бастионная, 8/2)
                                .popup__row
                                    span Услуга:
                                    span Парикмахерские услуги

            block scripts
                // Scripts
                script(src='static/js/index.jquery' + suffix + '.js')
                script(src='static/js/index' + suffix + '.js')