.board {
  float: left;
  margin-left: 40px;
  position: relative;
  width: 0;
  color: #fff;
  font-family: $Futura-PT-Bold;

  margin-top: 67px;
  will-change: width;
  overflow: hidden;
}
@media (max-width: $minDesktop) {
  .board {
    margin-top: 82px;
    margin-left: 6px;
  }
}
@media (max-width: $minTablet) {
  .board {
    margin: 0;
    width: 100%;
  }
}
.board__inner {
  position: relative;
  width: 1048px;
  background: #000;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 79px 60px;
}
@media (max-width: $minDesktop) {
  .board__inner {
    width: 85.288vw;
    padding: 77px 25px 74px 28px;
  }
}
@media (max-width: $minTablet) {
  .board__inner {
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 47px 15px 60px;
  }
}
.board__backdrop {
  position: absolute;
  left: 196px;
  bottom: -50px;
  width: 324px;
  height: 250px;
  overflow: hidden;
}
@media (max-width: $minDesktop) {
  .board__backdrop {
    display: none;
  }
}
.board__backdrop_inner {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  transform: translate3d(0, -100%, 0);
  will-change: transform;
}
.board__content {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  will-change: transform, opacity;
}
@media (max-width: $minTablet) {
  .board__content {
    opacity: 1;
    transform: none;
  }
}
.board__content-text {
  width: 46%;
}
@media (max-width: $minDesktop) {
  .board__content-text {
    width: 40%;
  }
}
@media (max-width: $minTablet) {
  .board__content-text {
    width: 100%;
  }
}
.board__content-data {
  width: 49%;
  padding-left: 2px;
}
@media (max-width: $minDesktop) {
  .board__content-data {
    width: 58%;
  }
}
@media (max-width: $minTablet) {
  .board__content-data {
    width: 100%;
    padding: 0;
  }
}
.board__text {
  font-size: 24px;
  line-height: 28px;
}
.board__text:not(:first-child) {
  margin-top: 16px;
}
@media (max-width: $minDesktop) {
  .board__text:not(:first-child) {
    margin-top: 0;
  }
}
@media (max-width: $minTablet) {
  .board__text {
    display: inline;
  }
}
.board__text-bigger {
  font-size: 60px;
  line-height: initial;
  margin-top: 5px;
}
@media (max-width: $minDesktop) {
  .board__text-bigger {
    font-size: 24px;
    line-height: 28px;
    margin-top: 0;
  }
}
@media (max-width: $minTablet) {
  .board__text-bigger {
    display: inline;
    padding-left: 5px;
  }
}
@media (min-width: $tablet) {
  .board__percent {
    display: flex;
    align-items: flex-start;
    //justify-content: space-between;
  }
}
@media (max-width: $minTablet) {
  .board__percent {
    margin-top: 19px;
  }
}
.board__percent:not(:first-child) {
  margin-top: 14px;
}
@media (max-width: $minDesktop) {
  .board__percent:not(:first-child) {
    margin-top: 8px;
  }
}
.board__percent_number {
  font-size: 60px;
  line-height: 65px;
  letter-spacing: 4px;
  min-width: 165px;
}
@media (max-width: $minDesktop) {
  .board__percent_number {
    font-size: 57px;
    line-height: 57px;
  }
}
@media (max-width: $minTablet) {
  .board__percent_number {
    display: inline;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}
.board__percent_text {
  font-size: 18px;
  line-height: 25px;
  margin-left: 9px;
}
@media (max-width: $minDesktop) {
  .board__percent_text {
    margin-left: 10px;
    margin-top: -3px;
  }
}
@media (max-width: $minTablet) {
  .board__percent_text {
    display: inline;
    margin-top: 0;
    margin-left: 0;
  }
}
.board__button {
  display: block;
  margin-top: 22px;
  background: #fff;
  width: 280px;
  height: 50px;
}
@media (max-width: $minDesktop) {
  .board__button {
    width: 220px;
  }
}
@media (max-width: $minTablet) {
  .board__button {
    width: 100%;
    max-width: 300px;
    height: 60px;
  }
}
