.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 80px;
  max-width: 315px;
  padding: 2px 0 0;
  margin: 0;
  border: none;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  font-size: 0;

  &-centered {
    > div {
      margin-left: -16px;
    }
  }
}
.btn > div {
  display: inline-block;
}
.btn__bg_animation {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(0, -100%, 0);
  background-color: #fff;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.54, 0.01, 0.49, 1);
  transition-delay: 0s;
}
@media (max-width: $minDesktop) {
  .btn__bg_animation {
    display: none;
  }
}
.btn__dots {
  display: inline-block;
  margin-right: 18px;
  margin-bottom: 3px;
  transition: transform 0.5s ease-out;
}
.btn__dot {
  float: left;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: headerButtonDots-out 0.25s;
  animation-delay: 0.15s;
}
.btn__dot:not(:last-child) {
  margin-right: 2px;
}
.btn__text {
  display: inline-block;
  line-height: 21px;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;

  text-transform: uppercase;
  position: relative;
  z-index: 1;
  animation: headerButtonHover-out 0.25s;
  animation-delay: 0.15s;
}
@media (min-width: $desktop) {
  .btn:hover .btn__text {
    animation: headerButtonHover-in 0.25s;
    animation-delay: 0.27s;
  }
  .btn:hover .btn__dot {
    animation: headerButtonDots-in 0.25s;
    animation-delay: 0.27s;
  }
  .btn:hover .btn__bg_animation {
    transform: translate3d(0, 100%, 0);
    transition-delay: 0.1s;
  }
  .btn:hover .btn__dots {
    transform: rotate(180deg);
  }
}
@media (max-width: $minDesktop) {
  .btn {
    transition: background-color 0.15s ease;
  }
  .btn__text {
    transition: color 0.15s ease;
  }
  .btn__dot {
    transition: background-color 0.15s ease;
  }
  .btn:active {
    background-color: #fff;
  }
  .btn:active .btn__dot {
    background-color: #000;
  }
  .btn:active .btn__text {
    color: #000;
  }
}
.btn-white {
  color: #000;
}
.btn-white .btn__text {
  color: #000;
  animation: headerButtonHover-out-white 0.25s;
  animation-delay: 0.15s;
}
.btn-white .btn__dot {
  background: #000;
  animation: headerButtonDots-out-white 0.25s;
  animation-delay: 0.15s;
}
.btn-white .btn__bg_animation {
  background-color: #000;
}
@media (min-width: $desktop) {
  .btn-white:hover .btn__text {
    animation: headerButtonHover-in-white 0.25s;
    animation-delay: 0.27s;
  }
  .btn-white:hover .btn__dot {
    animation: headerButtonDots-in-white 0.25s;
    animation-delay: 0.27s;
  }
}
.btn-line {
  justify-content: flex-start;
  color: #000;
}
.btn-line .btn__text {
  animation: none !important;
  color: #000 !important;
}
.btn-line:hover {
  background-color: #fff;
  color: #000;
}
.btn-line:hover .btn__text {
  color: #8d8d8d !important;
}
.btn-line:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #000;
  transform: translate3d(0, -50%, 0);
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  .btn-line:after {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    margin-left: 5px;
  }
}
.btn-line .btn__dots {
  margin-right: 37px;
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  .btn-line .btn__dots {
    margin-right: 12px;
  }
}
@media only screen and (min-device-width: $tablet) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .btn-line .btn__dots {
    margin-right: 6px;
  }
}
.btn-line .btn__dot {
  animation: none !important;
  background-color: #000 !important;
}
.about {
  width: 288px;
  height: 80px;
  background: #000;
  z-index: 2;
}
@media (max-width: $minTablet) {
  .about {
    width: 290px;
  }
}
.about a,
.about span {
  color: #fff;
}
.about__head {
  position: relative;
  width: 288px;
  height: 80px;
  cursor: pointer;
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  .about__head {
    padding-left: 25px;
    width: 215px;
  }
}
@media (max-width: $minTablet) {
  .about__head {
    width: 290px;
    height: 60px;
  }
}
.about__phones {
  margin-top: 14px;
  margin-bottom: 8px;
}
.about__body {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: #000;
}
.about__body_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about__body span,
.about__body a {
  display: inline-block;
  width: 100%;
}
.about__body a {
  font-size: 12px;
  font-family: $Futura-PT-Bold;
  text-decoration: none;
  text-transform: uppercase;
}
.about__body span,
.about__body a[href^="tel:"],
.about__body a[href^="mailto:"] {
  font-size: 14px;
  font-family: $Helvetica;
  text-transform: none;
  line-height: 23px;
}
.about__body span {
  line-height: initial;
}
.about__body_item {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0 38px;
  @media (min-width: $desktop) {
    a:hover {
      color: #969696;
      transition: color .5s;
    }
  }
}
@media (min-width: $tablet) {
  .about__body_item {
    padding: 0 49px;
  }
}
.about__body_item > a:last-child {
  margin-top: 22px;
  padding-bottom: 30px;
}
.about__body .about__salon_name {
  display: inline-block;
  width: 100%;
  margin-top: 44px;
  margin-bottom: 21px;
  font-family: $Futura-PT-Bold;
  font-size: 24px;

  line-height: 28px;
}
@media (max-width: $minTablet) {
  .about__body .about__salon_name {
    margin-top: 0;
  }
}
.about__dots {
  position: absolute;
  display: inline-block;
  top: 39px;
  left: 38px;
  width: 10px;
  height: 2px;
  transition: transform 0.4s ease-out;
}
@media (max-width: $minTablet) {
  .about__dots {
    top: 29px;
    left: 34px;
  }
}
.about__dots_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.about__dots span {
  display: block;
  position: absolute;
  width: 2px;
  height: 2px;
  background: #fff;
  transition: transform 0.4s ease-out;
}
.about__dots span:nth-child(1),
.about__dots span:nth-child(4) {
  left: 0;
}
.about__dots span:nth-child(2) {
  left: 4px;
}
.about__dots span:nth-child(3),
.about__dots span:nth-child(5) {
  left: 8px;
}
.about__title {
  color: #fff;
  font-family: $Futura-PT-Bold;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  user-select: none;
  transition: opacity 0.4s ease-out;
}
@media (max-width: $minTablet) {
  .about__title {
    line-height: 60px;
  }
}
.about.hovered .about__dots {
  transform: rotate(180deg);
}
.about.active .about__dots span:nth-child(1) {
  transform: translateY(-4px);
}
.about.active .about__dots span:nth-child(3) {
  transform: translateY(-4px);
}
.about.active .about__dots span:nth-child(4) {
  transform: translate3d(0, 4px, 0);
}
.about.active .about__dots span:nth-child(5) {
  transform: translate3d(0, 4px, 0);
}
.about.active .about__title {
  opacity: 0;
}
.backdrop {
  position: absolute;
  background-color: #ededed;
  overflow: hidden;
}
.backdrop__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.backdrop__inner > div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
@media (max-width: $minTablet) {
  .backdrop {
    display: none;
  }
}
.anim_static_text {
  transition: all 0.67s ease-out;
}
@media (min-width: $tablet) {
  .anim_static_text {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
}
.anim_section_title__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.anim_section_title__line {
  position: absolute;
  width: 125px;
  height: 15px;
  overflow: hidden;
}
@media (max-width: $minTablet) {
  .anim_section_title__line {
    display: none;
  }
}
.anim_section_title__line div {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.anim_section_title__line div.black {
  background-color: #000;
}
.anim_section_title__line-left {
  left: -50px;
  top: -47px;
}
.anim_section_title__line-left div {
  transform: translate3d(-100%, 0, 0);
}
.anim_section_title__line-right {
  bottom: -47px;
  left: 140px;
}
.anim_section_title__line-right div {
  transform: translate3d(100%, 0, 0);
}
.anim_section_title__text {
  transition: all 0.67s ease-out;
}
@media (min-width: $tablet) {
  .anim_section_title__text {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
}
.anim_line {
  position: absolute;
  overflow: hidden;
  width: 15px;
  height: 100%;
  z-index: 1;
}
.anim_line__inner {
  background: #000;
  width: 100%;
  height: 100%;
  transform: translate3d(0, -100%, 0);
}
.ornament_animation {
  position: absolute;
  z-index: 0;

  &-sub {
    opacity: 0.05;

    .ornament_animation__svg {
      width: 100%;
      height: 100%;
    }
  }
}
.ornament_animation__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.ornament_animation__svg {
  position: absolute;
  left: 0;
  top: 0;
}
.ornament_animation svg {
  width: 100%;
  height: 100%;
}
.ornament_animation-default .ornament_animation__svg {
  transform-origin: center;
}
.ornament_animation-default .ornament_animation__svg:first-child {
  animation: rotating 35s linear infinite;
}
.ornament_animation-default .ornament_animation__svg:last-child {
  animation: rotating-back 35s linear infinite;
  top: 2px;
}
.professionals {
  width: 780px;
}
@media (max-width: $minDesktop) {
  .professionals {
    width: 555px;
  }
}
@media (max-width: $minTablet) {
  .professionals {
    width: 100%;
    padding: 0 15px;
  }
}
.professionals_inner {
  position: relative;
}
.professionals__article {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 280px;
  height: 340px;
}
@media (max-width: $minDesktop) {
  .professionals__article {
    width: 250px;
    height: 302px;
    top: 95px;
    bottom: auto;
  }
}
@media (max-width: $minTablet) {
  .professionals__article {
    position: relative;
    top: auto;
    width: 100%;
    height: auto;
    margin-top: 0;
    text-align: center;
  }
}
.professionals__img {
  position: relative;
  float: right;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
@media (max-width: $minDesktop) {
  .professionals__img {
    width: 250px;
    height: 302px;
  }
}
@media (max-width: $minTablet) {
  .professionals__img {
    display: none;
  }
}
.professionals__img img {
  min-height: 100%;
  width: 100%;
}
.professionals__title {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 24px;

  line-height: 28px;
  text-align: left;
}
@media (min-width: $desktop) {
  .professionals__title {
    width: 100%;
  }
}
.professionals__text {
  color: #4d4d4d;
  font-family: $Helvetica;
  font-size: 14px;

  line-height: 23px;
  text-align: left;
  margin-top: 32px;
}
@media (min-width: $desktop) {
  .professionals__text {
    width: 100%;
  }
}
@media (max-width: $minDesktop) {
  .professionals__text {
    margin-top: 15px;
  }
}
.professionals__btn {
  display: block;
  width: 100%;
  height: 50px;
  background-color: #000;
  margin-bottom: 70px;
  margin-top: 35px;
  text-decoration: none;
}
.professionals__btn .btn {
  padding-top: 3px;
}
.professionals__btn .btn__dots {
  margin-top: -2px;
}
@media (max-width: $minDesktop) {
  .professionals__btn {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
@media (max-width: $minTablet) {
  .professionals__btn {
    display: inline-block;
    width: 290px;
    margin: 20px 0 0 0;
  }
}
.professionals__animation {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #000;
  transform: translate3d(-100%, 0, 0);
}
@media (min-width: $tablet) {
  .professionals-hidden .professionals__title {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
  .professionals-hidden .professionals__text {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
}
#button-up {
  display: inline-block;
  font-size: 0;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 120px;
}
@media (max-width: $minDesktop) {
  #button-up {
    margin-bottom: 60px;
  }
}
@media (max-width: $minTablet) {
  #button-up {
    margin-bottom: 66px;
  }
}
#button-up svg {
  width: 79px;
  height: 79px;
}
.button_up {
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 79px;
  height: 79px;
}
.button_up__line {
  position: absolute;
  left: 50%;
  top: -60px;
  transform: translate3d(-50%, 0, 0);
  width: 2px;
  height: 40px;
  background-color: #e2e2e2;
}
.button_up__svg {
  position: absolute;
  left: 0;
  top: 0;
  animation: rotating 35s linear infinite;
}
.button_up span {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;

  line-height: 79px;
  text-transform: uppercase;
  transition: color 0.4s ease;
}
.button_up:hover span {
  color: #8d8d8d;
}

// default title, text etc styles
.default_heading {
  position: relative;

  margin-left: 194px;
  padding-top: 228px;

  @media (max-width: $minDesktop) {
    margin-left: 86px;
    padding-top: 150px;
  }

  @media (max-width: $minTablet) {
    padding-top: 153px;
    margin-left: 15px;
  }
}
.default_text {
  position: absolute;

  left: 711px;
  top: 231px;

  width: 340px;
  color: #4d4d4d;
  font-family: $Helvetica;
  font-size: 14px;

  line-height: 23px;

  @media (max-width: $minDesktop) {
    left: 404px;
    top: 152px;
  }

  @media (max-width: $minTablet) {
    position: relative;
    left: auto;
    top: auto;

    width: auto;

    margin-top: 10px;
    padding: 0 15px;
  }

  .bold {
    display: inline-block;
    width: 100%;

    margin-bottom: 9px;

    font-family: $Futura-PT-Bold;
    font-size: 18px;
    color: #000000;

    line-height: 25px;
  }
}

// LANGUAGES
.main_screen_languages {
  position: absolute;
  z-index: 5;
  top: 103px;
  left: 50px;

  &.active {
    z-index: 8;
  }

  @media (max-width: $oldDesktop) and (min-width: $desktop) {
    left: 20px;
  }

  @media (max-width: $minDesktop) {
    left: 25px;
    top: 92px;
  }

  @media (max-width: $minTablet) {
    top: 64px;
    left: 0;
  }

  &--grey {
    @media (max-width: $minDesktop) and (min-width: $tablet) {
      .main_screen_languages__item {
        color: #969696;

        &.active {
          color: #000;
        }
      }
    }

    @media (max-width: $minTablet) {
      top: 60px;
    }
  }
}
.main_screen_languages .arrow {
  display: none;
}
@media (min-width: $tablet) {
  .main_screen_languages .c_dropdown__title,
  .main_screen_languages .c_dropdown__body {
    display: block;
  }
  .main_screen_languages .c_dropdown__body {
    margin-top: 2px;
  }
}
@media (max-width: $minTablet) {
  .main_screen_languages__inner {
    height: 0;
    padding: 20px 15px;

    &.active {
      height: auto;
    }
  }
  .main_screen_languages .c_dropdown__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_screen_languages .arrow {
    display: block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    margin-top: -4px;
    transition: all 0.4s ease;
  }
  .main_screen_languages .c_dropdown {
    &.active {
      transition: background-color 0.4s ease, box-shadow 0.4s ease;
    }
    transition: none;

    .c_dropdown__body {
      transition: none;
    }
  }
  .main_screen_languages .c_dropdown__body {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0s ease 0.4s;
  }
  .main_screen_languages .c_dropdown.active {
    background-color: #fff;
  }
  .main_screen_languages .c_dropdown.active .arrow {
    transform: rotate(-135deg);
    margin-top: 0;
  }
  .main_screen_languages .c_dropdown.active .c_dropdown__body {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0s ease 0s;
  }
}
.main_screen_languages__item {
  display: inline-block;
  color: #969696;
  font-family: $Futura-PT-Bold;
  font-size: 12px;

  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
  cursor: pointer;
}
@media (min-width: $desktop) {
  .main_screen_languages__item:hover {
    color: #000;
  }
}
@media (max-width: $minDesktop) {
  .main_screen_languages__item {
    color: #fff;
    transition: color 0.1s ease;
  }
  .main_screen_languages__item:active {
    color: #000;
  }
}
@media (max-width: $minTablet) {
  .main_screen_languages__item {
    color: #979797;
    line-height: initial;
    margin-right: 0;
  }
  .main_screen_languages__item.active {
    margin-right: 15px;
  }
  .main_screen_languages__item:not(.active) {
    margin-top: 14px;
  }
}
.main_screen_languages__item.active {
  color: #000;
}
// LANGUAGES END

// BREADCRUMBS
.breadcrumbs {
  position: absolute;
  cursor: pointer;
  top: 103px;
  right: 148px;

  z-index: 1;

  @media (max-width: $minDesktop) {
    z-index: 6;

    &:before {
      content: attr(data-back);
      display: inline-block;

      color: #000000;
      font-family: $Helvetica;
      font-size: 14px;

      line-height: 23px;
      text-decoration: none;
    }

    top: 90px;
    right: 24px;
  }

  @media (max-width: $minTablet) {
    top: 117px;
    right: auto;
    left: 14px;
  }

  &--white {
    li {
      a, span {
        color: #ffffff;
      }
    }
  }

  li {
    position: relative;
    display: inline-block;

    @media (max-width: $minDesktop) {
      display: none;
    }

    &:not(:last-child) {
      margin-right: 42px;

      &:after {
        content: '';
        position: absolute;

        right: -22px;
        top: calc(50% - 1px);

        width: 2px;
        height: 2px;

        background-color: #000000;
      }
    }

    &.active {
      cursor: default;

      a, span {
        color: #000000;
      }
    }

    @media (min-width: $desktop) {
      &:hover {
        a, span {
          color: #000000;
        }
      }
    }
  }

  a, span {
    color: #969696;
    font-family: $Helvetica;
    font-size: 14px;

    line-height: 23px;
    text-decoration: none;

    transition: color .6s ease;
  }
}
// BREADCRUMBS END

// SOCIALS
.main_screen_socials {
  position: absolute;
  left: 0;
  top: 307px;
  width: 580px;
  height: 380px;
  overflow: hidden;

  @media (max-width: $minDesktop) {
    background-color: transparent;
    width: auto;
    height: auto;
    left: 41px;
    top: 278px;
    z-index: 2;
    overflow: visible;
  }

  @media (max-width: $minTablet) {
    left: 15px;
    top: 388px;
  }

  &--grey {
    .main_screen_socials__item {
      color: #969696;

      @media (min-width: $desktop) {
        &:hover {
          color: #000000;
        }
      }
    }

    @media (max-width: $minTablet) {
      left: auto;
      right: 16px;
      top: 83px;

      .main_screen_socials__item {
        display: inline-block;
        clear: none;

        &.instagram {
          margin-top: 1px;
        }

        &:first-child {
          margin-right: 15px;
        }

        svg {
          fill: #969696;
        }
      }
    }
  }

  &--animation {
    background-color: #ededed;
    bottom: -88px;
    top: inherit;
  }

  &--mobile-white {
    @media (max-width: $minTablet) {
      left: auto;
      right: 16px;
      top: 83px;

      .main_screen_socials__item {
        display: inline-block;
        clear: none;

        &.instagram {
          margin-top: 1px;
        }

        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}
.main_screen_socials__inner {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 67px;
  padding-top: 80px;

  @media (max-width: $oldDesktop) and (min-width: $desktop) {
    padding-left: 40px;
  }
}
@media (max-width: $minDesktop) {
  .main_screen_socials__inner {
    padding: 0;
  }
}
.main_screen_socials__links {
  transform: rotate(90deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  transform-origin: top left;
  position: relative;
  z-index: 6;
}
@media (max-width: $minTablet) {
  .main_screen_socials__links {
    transform: none;
  }
}
.main_screen_socials__item {
  color: #969696;
  font-family: $Helvetica;
  font-size: 14px;

  line-height: 23px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.main_screen_socials__item svg {
  display: none;
}
@media (min-width: $desktop) {
  .main_screen_socials__item:hover {
    color: #000;
  }
}
@media (max-width: $minDesktop) {
  .main_screen_socials__item {
    color: #fff;
  }
  .main_screen_socials__item:active {
    transition: none;
    color: #000;
  }
}
@media (max-width: $minTablet) {
  .main_screen_socials__item {
    clear: both;
    float: left;
    display: block;
  }
  .main_screen_socials__item span {
    display: none;
  }
  .main_screen_socials__item svg {
    display: block;
    fill: #fff;
    transition: fill 0.3s ease;
  }
  .main_screen_socials__item svg:active {
    fill: #000;
  }
  .main_screen_socials__item.facebook svg {
    width: 7px;
    height: auto;
    max-height: 15px;
  }
  .main_screen_socials__item.instagram {
    margin-top: 21px;
  }
  .main_screen_socials__item.instagram svg {
    width: 14px;
    height: 13px;
  }
}
.main_screen_socials__item:first-child {
  margin-right: 38px;
}
@media (max-width: $minDesktop) {
  .main_screen_socials__item:first-child {
    margin-right: 30px;
  }
}
.main_screen_socials .anim_line {
  height: 190px;
  left: 47px;
  top: 64px;
}
// SOCIALS END