* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

html {
  width: 100%;
  max-width: 100vw;

  overflow-x: hidden;
  position: relative;
}

body {
  &.menu-active {
    overflow: hidden !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
  }

  &.has-preloader {
    max-height: 100vh;
    height: 100%;
    overflow: hidden;
    position: relative;

    .preloader {
      display: flex;
    }
  }

  &.no-preloader {
    opacity: 0;

    .header {
      &__animation {
        &_line {
          transform: none;
        }
      }
      &__logo, &__burger, &__button {
        transform: none;
      }
      &__link {
        transform: none;
        opacity: 1;
      }
    }
  }
}

main {
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: $minDesktop) {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.main_wrapper {
  display: block;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: #fff;
}

.form-select {
  input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }
}