// C_DROPDOWN //
.c_dropdown {
  position: relative;
  transition: box-shadow 0.4s ease;
}
.c_dropdown__title {
  display: inline-block;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  text-transform: uppercase;
}
.c_dropdown__body {
  display: inline-block;
}
.c_dropdown__body_inner {
  position: relative;
}
.c_dropdown__options {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 100%;
  z-index: 2;
}
.c_dropdown__options_inner {
  width: 100%;
  height: 100%;
  position: relative;
  max-height: 140px;
}
.c_dropdown__option {
  cursor: pointer;
  user-select: none;
}
.c_dropdown__selected {
  cursor: pointer;
  user-select: none;
}
.c_dropdown.active {
  box-shadow: 0 0 24px 4px rgba(0,0,0,0.12);
}
.c_dropdown.active .c_dropdown__options {
  box-shadow: 0 18px 24px 4px rgba(0,0,0,0.12);
}
// C_DROPDOWN END //

// C_INPUT //
.c_input {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 20px;
}
.c_input:after,
.c_input:before {
  content: '';
  position: absolute;
  top: 35px;
  height: 1px;
  width: 0;
  background: black;
  transition: width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.c_input:after {
  right: 50%;
}
.c_input:before {
  left: 50%;
}
@media (min-width: $desktop) {
  .c_input:hover:after,
  .c_input:hover:before {
    width: 50%;
  }
}
.c_input__input {
  display: block;
  width: 100%;
  height: 36px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #dedede;
  color: #000;
  padding-bottom: 15px;
  font-size: 13px;
  transition: border-color 0.5s ease;
}
.c_input__input input,
.c_input__input textarea {
  border-radius: 0;
}
.c_input__placeholder {
  color: #b3b3b3;
  font-family: $Helvetica;
  font-size: 13px;

  line-height: 21px;
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: 100%;
  max-width: 100%;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform-origin: left top;
}
.c_input__error {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  color: #a70a3f;
  font-size: 12px;

  line-height: 21px;
  transform: translate3d(0, 100%, 0);
}
.c_input.active:before,
.c_input.active:after {
  width: 50%;
}
.c_input.active .c_input__placeholder {
  transform: translate3d(0, -19px, 0) scale(0.8);
}
.c_input.has-error {
  margin-bottom: 20px;
}
.c_input.has-error .c_input__input {
  border-color: #a70a3f;
}
.c_input.has-error .c_input__error:not(.help-block-2) {
  visibility: visible;
  opacity: 1;
}
.c_input.has-error-2 .help-block-2 {
  visibility: visible;
  opacity: 1;
}
// C_INPUT END //

// C_TABS //
.c_tabs {
  width: 1162px;
  margin-top: 135px;
  clear: both;
}
.c_tabs:before,
.c_tabs:after {
  content: " ";
  display: table;
}
.c_tabs:after {
  clear: both;
}
@media (max-width: $minDesktop) {
  .c_tabs {
    width: 92.58vw;
    margin-top: 50px;
  }
}
@media (max-width: $minTablet) {
  .c_tabs {
    width: 100%;
    margin-top: 10px;
  }
}
@media (min-width: $desktop) {
  .c_tabs .c_dropdown__title {
    display: none;
  }
  .c_tabs .c_dropdown__options {
    position: relative;
    width: 980px;
  }
  .c_tabs .c_dropdown__options_inner {
    display: inline-flex;
    justify-content: space-between;
    pointer-events: none;
    li {
      pointer-events: auto;
    }
  }
  .c_tabs .c_dropdown__option {
    padding-bottom: 20px;
  }
}
@media (max-width: $minDesktop) {
  .c_tabs .c_dropdown {
    background: #fff;
  }
  .c_tabs .c_dropdown__selected {
    display: inline-block;
    line-height: 10px;
  }
  .c_tabs .c_dropdown__arrow {
    display: block;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-left: 14px;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    margin-top: -6px;
    transition: all 0.4s ease;
  }
  .c_tabs .c_dropdown__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: auto;
    padding: 20px 15px;
    min-width: 165px;
  }
  .c_tabs .c_dropdown__options {
    opacity: 0;
    visibility: hidden;
    padding: 0 15px 20px;
    background-color: #fff;
    transition: opacity 0.4s ease, visibility 0s ease 0.4s;
  }
  .c_tabs .c_dropdown__option:not(:first-child) {
    margin-top: 20px;
  }
  .c_tabs .c_dropdown.active .c_dropdown__arrow {
    transform: rotate(-135deg);
    margin-top: -1px;
  }
  .c_tabs .c_dropdown.active .c_dropdown__options {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0s ease 0s;
  }
}
.c_tabs__slider_nav {
  position: absolute;
  bottom: 0;
  left: 969px;
  z-index: 1;
}
@media (max-width: $minDesktop) {
  .c_tabs__slider_nav .slider_custom__prev:active,
  .c_tabs__slider_nav .slider_custom__next:active {
    background-color: #fff;
  }
}
@media (max-width: $minDesktop) {
  .c_tabs__slider_nav {
    left: 559px;
  }
}
@media (max-width: $minTablet) {
  .c_tabs__slider_nav {
    left: 0;
    width: 100% !important;
  }
}
.c_tabs__head {
  float: right;
  margin-right: 33px;
}
@media (max-width: $minDesktop) {
  .c_tabs__head {
    float: left;
  }
}
@media (max-width: $minTablet) {
  .c_tabs__head {
    min-width: 125px;
  }
}
.c_tabs__body {
  float: left;
  width: 100%;
  height: 100%;
}
.c_tabs__body_inner {
  position: relative;
  width: 100%;
  height: 580px;
  overflow: hidden;
}
@media (max-width: $minDesktop) {
  .c_tabs__body_inner {
    height: 355px;
  }
}
@media (max-width: $minTablet) {
  .c_tabs__body_inner {
    height: 343px;
  }
}
.c_tabs__slide {
  display: block;
}
.c_tabs__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: cover';
}
@media (max-width: $minTablet) {
  .c_tabs__slide img {
    height: 343px;
  }
}
.c_tabs__option {
  color: #979797;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.4s ease;

  a {
    color: inherit;
    text-decoration: none;
  }
}
@media (min-width: $desktop) {
  .c_tabs__option:hover {
    color: #000;
  }
}
.c_tabs__option.active {
  color: #000;
}
.c_tabs__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 2px;
  background: #000;
}
@media (max-width: $minDesktop) {
  .c_tabs__line {
    display: none;
  }
}
.c_tabs__animation {
  position: absolute;
  background: #000;
  width: 110%;
  height: 50%;
}
.c_tabs__animation-left {
  bottom: 0;
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.c_tabs__animation-right {
  top: 0;
  right: 0;
  transform: translate3d(100%, 0, 0);
}
.c_tabs__content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
}
.c_tabs__content > img {
  width: 100%;
  min-height: 100%;
  @media (max-width: $minTablet) {
    min-height: auto;
  }
}
.c_tabs__content > span {
  position: absolute;
  top: 50%;
  left: 79px;
  transform: translate3d(0, -50%, 0);
  max-width: 550px;
  display: inline-block;
  color: #fff;
  font-family: $Futura-PT-Bold;
  text-transform: uppercase;
  font-size: 61px;
  letter-spacing: 3px;
}
@media (max-width: $minDesktop) {
  .c_tabs__content > span {
    font-size: 56px;
    left: 30px;
  }
}
@media (max-width: $minTablet) {
  .c_tabs__content > span {
    font-size: 32px;
    left: 15px;
    letter-spacing: -0.1px;
  }
}
.c_tabs__content.active {
  opacity: 1;
  visibility: visible;
}
.c_tabs-animatable .c_dropdown__options_inner {
  overflow: hidden;
}
@media (min-width: $tablet) and (max-width: $minDesktop) {
  .c_tabs-animatable .c_dropdown__title {
    transform: translate3d(0, 110%, 0);
    opacity: 0;
  }
}
@media (min-width: $tablet) {
  .c_tabs-animatable .c_tabs__line {
    opacity: 0;
  }
  .c_tabs-animatable .c_tabs__slider_nav {
    width: 0;
  }
  .c_tabs-animatable .c_tabs__option {
    transform: translate3d(0, 140%, 0);
  }
  .c_tabs-animatable .c_tabs__content.active {
    height: 0;
    overflow: hidden;
  }
  .c_tabs-animatable .c_tabs__content.active > span {
    opacity: 0;
  }
}

// AJAX TABS
.c_tabs--ajax {
  position: relative;
  z-index: 3;

  @media (min-width: $desktop) {
    float: right;
    width: 1164px;
    margin-top: 0;
  }

  @media (max-width: $minDesktop) {
    float: right;
    margin-top: 0;
  }

  @media (max-width: $minTablet) {
    margin-top: 0;
  }

  .c_tabs__button {
    display: inline-flex;
    width: auto;
    margin-top: 68px;
    overflow: visible;
    transform: translateX(3px);
    background-color: transparent !important;

    @media (max-width: $minDesktop) {
      margin-top: 34px;
    }

    @media (max-width: $minTablet) {
      margin-top: 30px;
      transform: translateX(-14px);

      .btn__dots {
        margin-right: 23px;
      }
    }

    &:after {
      right: -40px;

      @media (max-width: $minDesktop) {
        right: -1px;
      }

      @media (max-width: $minTablet) {
        right: -25px;
      }
    }
  }

  .c_tabs__head {
    width: 100%;
    padding-left: 79px;
    padding-right: 20px;
    margin-right: 0;

    @media (max-width: $minDesktop) {
      padding-left: 16px;
      width: auto;
    }

    @media (max-width: $minTablet) {
      padding-left: 0;
    }
  }

  .c_tabs__body {
    text-align: center;

    background-color: #e0e2e1;

    &_content {
      padding: 100px 97px 93px 80px;

      @media (max-width: $minDesktop) {
        padding: 28px 30px 50px;
      }

      @media (max-width: $minTablet) {
        padding: 38px 15px 54px;
      }
    }

    &_inner {
      height: auto;

      overflow: visible;

      @media (max-width: $minDesktop) and (min-width: $tablet) and (orientation: landscape) {
        .c_tabs__ajax-item {
          left: 10% !important;

          &--right {
            left: auto !important;
            right: 10% !important;
          }
        }
      }
    }
  }

  .c_dropdown__option {
    @media (min-width: $desktop) {
      padding-bottom: 16px;
    }
  }

  .c_dropdown__option {
    @media (max-width: $minDesktop) {
      padding-left: 16px;
    }
    @media (max-width: $minTablet) {
      padding-left: 0;
    }
  }

  .c_dropdown__title {
    @media (max-width: $minDesktop) {
      display: inline-flex;
    }
  }

  .c_tabs__ajax-item {
    display: block;

    position: relative;

    width: 466px;

    text-align: left;

    overflow: visible;

    text-decoration: none;
    @media (min-width: $desktop) {
      &:hover {
        .c_tabs__ajax-item_link {
          color: black;
        }
      }
    }

    @media (max-width: $minDesktop) {
      width: 400px;
    }

    @media (max-width: 1185px) {
      width: 360px;
    }

    @media (max-width: 1060px) {
      width: 310px;
    }

    @media (max-width: $minTablet) {
      width: 100%;
    }

    &--right {
      left: auto !important;
      right: 0 !important;
      transform: none !important;

      .c_tabs__ajax-item_date {
        right: auto;
        left: calc(100% - 17px);
        top: 24px;
      }

      .c_tabs__ajax-item_sales {
        left: auto;
        right: 11px;
      }
    }

    &--2, &--1, &--3 {
      @media (min-width: $desktop) {
        .c_tabs__ajax-item_img {
          position: relative;

          &:before {
            content: '';
            position: absolute;

            width: 100%;
            height: 100%;

            left: 0;
            top: 0;

            background-color: rgba(0, 0, 0, 0.2);

            transform: translate3d(-100%, 0, 0);

            transition: transform .4s ease;
          }

          &:hover {
            &:before {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }

    &--4 {
      background-color: #ffffff;

      padding: 44px 80px;

      @media (max-width: $minDesktop) {
        padding: 34px 28px;
      }

      @media (max-width: $minTablet) {
        padding: 15px 15px 30px;
      }
    }

    &--5 {
      &.video_block {
        transform: none;
      }

      @media (min-width: $desktop) {
        &:hover {
          .c_tabs__ajax-item_video-container {
            &:before {
              left: 0;
            }
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 41px;

      @media (max-width: $minTablet) {
        margin-bottom: 35px;
      }
    }

    &_date {
      position: absolute;

      top: 23px;
      right: calc(100% - 17px);

      color: #bfbfbf;
      font-family: $Futura-PT-Bold;
      font-size: 12px;
      line-height: 14px;

      transform: rotate(90deg);

      z-index: 1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    &_img {
      width: 100%;
      height: auto;
      overflow: hidden;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &_text {
      margin-top: 12px;
      max-width: 430px;

      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 18px;
      line-height: 21px;

      @media (max-width: $minTablet) {
        margin-top: 16px;
      }
    }

    &_link {
      width: 100%;

      margin-top: 14px;

      color: #bfbfbf;
      font-family: $Futura-PT-Bold;
      font-size: 12px;
      text-transform: uppercase;

      transition: color .7s ease;

      @media (max-width: $minTablet) {
        margin-top: 9px;
      }

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    &_sales {
      position: absolute;

      top: 11px;
      left: 11px;

      color: #bfbfbf;
      font-family: $Futura-PT-Bold;
      font-size: 12px;
      text-transform: uppercase;
    }

    &_desc {
      font-family: $Helvetica;
      font-size: 14px;
      line-height: 23px;
      color: #4d4d4d;

      max-width: 360px;

      margin-top: 10px;

      @media (max-width: $minTablet) {
        max-width: none;
      }

      b {
        color: #000000;
        font-weight: bold;
      }
    }

    &_list {
      font-family: $Helvetica;
      font-size: 14px;
      line-height: 23px;
      color: #4d4d4d;

      margin-top: 15px;

      b {
        color: #000000;
      }

      li {
        &:before {
          content: '•';
          display: inline-block;
          margin-right: 4px;
        }
      }
    }

    &_video-container {
      position: relative;
      overflow: hidden;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        transition: .45s ease-in-out;
      }
    }
  }

  .c_dropdown__options_inner {
    @media (min-width: $desktop) {
      justify-content: flex-start;

      .c_tabs__option {
        &:not(:first-child) {
          margin-left: 54px;
        }
      }
    }
  }

  .c_tabs__body {
    float: right;
  }
}
// C_TABS END //