.footer {
  width: 100%;
  position: relative;
  z-index: 3;
  overflow: hidden;

  @media (min-width: $desktop) {
    background: white;
  }

  // FOOTER SUCCESS MESSAGE
  &--success-message {
    .footer__separate {
      justify-content: space-between;
      align-items: center;

      @media (min-width: $desktop) {
        padding: 54px;
      }
    }

    .footer__separate_text {
      width: auto;
      max-width: 550px;

      @media (max-width: $minDesktop) {
        margin-bottom: 0;
      }
    }
  }
}
.footer a {
  text-decoration: none;
}
.footer__separate {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 54px 0;
  background-color: #ededed;
}
@media (max-width: $minDesktop) {
  .footer__separate {
    padding: 46px 23px;
    justify-content: space-between;
  }
}
@media (max-width: $minTablet) {
  .footer__separate {
    display: block;
    padding: 52px 15px 58px;
  }
}
.footer__separate_text {
  display: inline-block;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 24px;

  line-height: 25px;
  letter-spacing: 1px;
}
@media (max-width: $minDesktop) {
  .footer__separate_text {
    display: block;
  }
}
@media (max-width: $minTablet) {
  .footer__separate_text {
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 24px;
  }
}
.footer__separate_text-input {
  width: 330px;
  margin-right: 5px;
}
@media (max-width: $minDesktop) {
  .footer__separate_text-input {
    width: 100%;
    margin-bottom: 37px;
  }
}
.footer__separate_text-social {
  width: 110px;
}
@media (max-width: $minDesktop) {
  .footer__separate_text-social {
    width: 100%;
    margin-bottom: 24px !important;
  }
}
.footer__separate .c_input {
  display: inline-block;
  width: 535px;
  margin-top: 0;
  margin-bottom: 4px;
}
@media (max-width: $minDesktop) {
  .footer__separate .c_input {
    display: block;
    width: 82%;
  }
}
@media (max-width: $minTablet) {
  .footer__separate .c_input {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
.footer__separate .c_input.has-error {
  margin-bottom: 4px;
}
.footer__separate .c_input.has-error:before,
.footer__separate .c_input.has-error:after {
  background-color: transparent;
}
.footer__separate .c_input input {
  background-color: #ededed;
}
.footer input {
  font-size: 16px;
}
.footer__separate .c_input:before,
.footer__separate .c_input:after {
  width: 50%;
  background-color: rgba(109, 109, 109, 1);
}
.footer__separate .c_input:after {
  width: calc(50% + 1px) !important;
  right: calc(50% - 1px) !important;
}
@media (min-width: $desktop) {
  .footer__subscribe {
    display: flex;
    align-items: flex-end;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  margin-top: -4px;
}
@media (max-width: $minDesktop) {
  .footer__socials {
    display: block;
    margin-top: 0;
    margin-left: 30px;
  }
}
@media (max-width: $minTablet) {
  .footer__socials {
    margin-top: 32px;
    margin-left: 0;
  }
}
.footer__socials_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #fff;
  cursor: pointer;
  transition: background 0.4s ease;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: $desktop) {
  .footer__socials_item:nth-child(2) {
    margin-left: 25px;
  }
}
.footer__socials_item:nth-child(3) {
  margin-left: 16px;
}
.footer__socials_item svg {
  fill: #000;
  transition: fill 0.4s ease;
}
@media (min-width: $desktop) {
  .footer__socials_item:hover {
    background: #000;
  }
  .footer__socials_item:hover svg {
    fill: #fff;
  }
}
.footer__inner {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 40px;
  padding: 0 50px 50px;
}
@media (max-width: $minDesktop) {
  .footer__inner {
    margin-top: 52px;
    padding: 0 25px 25px;
  }
}
@media (max-width: $minTablet) {
  .footer__inner {
    margin-top: 60px;
    padding: 0 15px 15px;
  }
}
.footer__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: $minTablet) {
  .footer__head {
    display: block;
    width: 100%;
  }
}
.footer__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 25px;
}
@media (max-width: $minDesktop) {
  .footer__bottom {
    margin-top: 105px;
  }
}
@media (max-width: $minTablet) {
  .footer__bottom {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }
}
.footer__content {
  position: relative;
  margin-top: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: $minTablet) {
  .footer__content {
    display: block;
    margin-top: -5px;
    width: 100%;
  }
}
.footer__content span {
  font-family: $Helvetica;
  font-size: 13px;

  line-height: 21px;
}
.footer__content_block:nth-child(1) {
  width: 245px;
}
@media (max-width: $minDesktop) {
  .footer__content_block:nth-child(1) {
    width: 199px;
    margin-top: 1px;
  }
}
@media (max-width: $minTablet) {
  .footer__content_block:nth-child(1) {
    position: absolute;
    width: 100%;
    margin-top: 0;
  }
}
.footer__content_block:nth-child(2) {
  width: 348px;
  order: 3;
  margin-top: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__content_block:nth-child(2) a,
.footer__content_block:nth-child(2) span {
  display: inline-block;
  width: 100%;
}
@media (max-width: $minDesktop) {
  .footer__content_block:nth-child(2) {
    display: block;
    padding-left: 16px;
    width: 0;
  }
}
@media (max-width: $minTablet) {
  .footer__content_block:nth-child(2) {
    width: 45%;
    float: right;
    margin: 0;
    margin-top: 36px;
    padding-left: 0;
  }
}
.footer__content_block:nth-child(3) {
  width: 413px;
}
.footer__content_block:nth-child(3) a,
.footer__content_block:nth-child(3) span {
  display: inline-block;
  width: 100%;
}
@media (min-width: $tablet) and (max-width: $minDesktop) {
  .footer__content_block:nth-child(3) {
    padding-left: 37px;
  }
}
@media (max-width: $minTablet) {
  .footer__content_block:nth-child(3) {
    display: block;
    width: 100%;
  }
}
.footer__logo {
  width: 245px;
}
@media (max-width: $minDesktop) {
  .footer__logo {
    width: 199px;
  }
}
@media (max-width: $minTablet) {
  .footer__logo {
    width: 100%;
    margin: 0;
  }
}
.footer__logo svg {
  width: 100px;
  height: 39px;
}
@media (max-width: $minDesktop) {
  .footer__logo svg {
    width: 73px;
    height: 30px;
  }
}
.footer__logo span {
  display: inline-block;
  width: 100%;
  color: #000;
  font-family: $Helvetica;
  font-size: 13px;

  line-height: 22px;
}
@media (min-width: $desktop) {
  .footer__logo span {
    margin-top: 11px;
  }
}
.footer__input_field {
  width: 380px;
}
@media (max-width: $minDesktop) {
  .footer__input_field {
    width: 174px;
  }
}
@media (max-width: $minTablet) {
  .footer__input_field {
    width: 100%;
    margin-top: 33px;
  }
}
.footer__input_field-search {
  width: 412px;

  .c_input {
    &:before, &:after {
      height: 2px;
      top: 34px;
    }
  }
}
.footer__input_field-search2 {
  width: 348px;
  align-self: flex-end;
  margin-bottom: 1px;
}
@media (max-width: $minDesktop) {
  .footer__input_field-search2 {
    align-self: flex-start;
    width: 185px;
    margin-top: -4px;
  }
}
@media (max-width: $minTablet) {
  .footer__input_field-search2 {
    display: none;
  }
}
.footer__input_field_title {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;

  text-transform: uppercase;
}
.footer__input_field_text {
  color: #b3b3b3;
  font-family: $Helvetica;
  font-size: 13px;

  line-height: 22px;
}
.footer__input_field_text a {
  color: #000;
}
@media (max-width: $minDesktop) {
  .footer__input_field_text .full-tablet {
    display: inline-block;
    width: 100%;
  }
}
.footer__btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-family: $Futura-PT-Bold;
  font-size: 12px;

  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__btn-search {
  position: absolute;
  right: 0;
  bottom: 13px;
  line-height: initial;
}
.footer__btn-search svg {
  width: 16px;
  height: 16px;
  fill: #000;
}
.footer__btn-form {
  width: 220px;
  height: 50px;
  background-color: #000;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 60px;
}
@media (max-width: $minDesktop) {
  .footer__btn-form {
    width: 187px;
    margin-top: 17px;
    margin-bottom: 0;
  }
}
@media (max-width: $minTablet) {
  .footer__btn-form {
    width: 100%;
    max-width: 290px;
    margin-top: 26px;
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}
.footer__btn-form .btn__text {
  font-family: $Futura-PT-Bold;
  font-size: 12px;

}
.footer__btn-subscr {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 137px;
  height: 50px;
  background-color: #000;
}
@media (max-width: $minTablet) {
  .footer__btn-subscr {
    position: relative;
    right: auto;
    width: 100%;
    max-width: 300px;
    margin-top: 33px;
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}
.footer__btn-subscr > div {
  width: 100%;
}
@media (min-width: $desktop) {
  .footer__partnership {
    float: left;
    width: 50%;
  }
}
span.footer__partnership_title {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px !important;
  letter-spacing: 1px;

  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 3px;
}
@media (max-width: $minDesktop) {
  span.footer__partnership_title {
    margin-bottom: 11px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  span.footer__partnership_title {
    letter-spacing: 0.5px;
  }
}
span.footer__partnership_grey {
  color: #8c8c8c;
}
a.footer__partnership_link {
  color: #000;
  margin-top: 14px;
  @media (min-width: $desktop) {
    &:hover {
      color: #969696;
      transition: color .5s;
    }
  }
}
@media (min-width: $desktop) {
  .footer__partnership a,
  .footer__partnership span {
    font-size: 15px;
  }
}
@media (max-width: $minTablet) {
  .footer__partnership {
    padding-left: 0;
    margin-top: 32px;
    width: 52%;
    float: left;
  }
  .footer__partnership a {
    font-size: 13px;
  }
}
.footer__links {
  padding-left: 55px;
  margin-top: 4px;
}
@media (min-width: $desktop) {
  .footer__links {
    width: 50%;
    float: right;
  }
}
@media (max-width: $minDesktop) {
  .footer__links {
    position: absolute;
    padding-left: 0;
    right: 0;
    top: 83px;
    width: 185px;
  }
}
@media (max-width: $minTablet) {
  .footer__links {
    position: relative;
    right: auto;
    top: -9px;
    width: 45%;
    float: right;
  }
}
.footer__links > a {
  transition: color 0.3s ease;
  letter-spacing: 1px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .footer__links > a {
    letter-spacing: 0.5px;
  }
}
@media (min-width: $desktop) {
  .footer__links > a:hover {
    color: #979797;
  }
}
@media (min-width: $desktop) {
  .footer__links_block {
    width: 50%;
  }
}
.footer__links_block:nth-child(2) {
  padding-left: 80px;
}
@media (max-width: $minTablet) {
  .footer__links_block:nth-child(2) {
    padding-left: 0;
  }
}
@media (max-width: $minTablet) {
  .footer__links_block {
    margin-bottom: 7px;
  }
}
.footer__links_title {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;

  text-transform: uppercase;
  margin-bottom: 13px;
}
@media (max-width: $minDesktop) {
  .footer__links_title {
    position: absolute;
    left: calc(100% - 185px);
  }
  .footer__links_title-services {
    top: 6px;
  }
  .footer__links_title-salons {
    top: 50px;
  }
}
@media (max-width: $minTablet) {
  .footer__links_title {
    position: relative;
    left: auto;
    top: auto;
  }
  .footer__links_title-services {
    top: auto;
  }
  .footer__links_title-salons {
    top: auto;
  }
}
.footer__links_link {
  color: #8c8c8c;
  font-family: $Helvetica;
  font-size: 13px;

}
.footer__links_link:not(:first-child) {
  margin-top: 12px;
}
.footer__links_link:hover {
  color: #000;
}
@media (max-width: $minDesktop) {
  .footer__links_link {
    display: none !important;
  }
}
.footer__links a {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;

  text-transform: uppercase;
}
.footer__links a:not(:first-child) {
  margin-top: 24px;
}
@media (max-width: $minTablet) {
  .footer__links a:not(:first-child) {
    margin-top: 22px;
  }
}
.footer__copyright {
  color: #b3b3b3;
  font-family: $Helvetica;
  font-size: 11px;

  margin-bottom: 2px;
}
.footer__madeby span {
  color: #b3b3b3;
  font-family: $Helvetica;
  font-size: 11px;

  margin-right: 5px;
  transition: color 0.4s ease;
}
.footer__madeby svg {
  width: 11px;
  height: 15px;
  fill: #b3b3b3;
  transition: fill 0.4s ease;
}
@media (max-width: $minTablet) {
  .footer__madeby {
    display: block;
    margin-top: 20px;
  }
}
.footer__madeby:hover span {
  color: #000;
}
.footer__madeby:hover svg {
  fill: #000;
}