.photos {
  width: 100%;
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__sales {
    position: absolute;

    bottom: 10px;
    left: 12px;

    color: #bfbfbf;
    font-family: $Futura-PT-Bold;
    font-size: 12px;

    text-transform: uppercase;

    @media (max-width: $minTablet) {
      bottom: auto;
      top: 10px;
    }
  }
}
@media (max-width: $minDesktop) {
  .photos {
    height: 417px;
  }
}
@media (max-width: $minTablet) {
  .photos {
    display: block;
    height: auto;
    padding: 0 15px;
  }
}
.photos img {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 100%;
}
@media (max-width: $minTablet) {
  .photos img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: 50% 15%;';
    object-position: 50% 15%;
  }
}
.photos__block {
  width: 50%;
  height: 100%;
  position: relative;
}
@media (max-width: $minTablet) {
  .photos__block {
    width: 100%;
    height: auto;
  }
}
.photos__block-main {
  display: block;
}
.photos__block-main a {
  display: block;
  float: right;
  margin-top: 87px;
}
@media (max-width: $minDesktop) {
  .photos__block-main a {
    margin-top: 43px;
  }
}
@media (max-width: $minTablet) {
  .photos__block-main a {
    margin-top: 0;
  }
}
.photos__block-secondary {
  padding-left: 210px;
}
.photos__block-secondary a {
  display: block;
}
.photos__block-secondary a:last-of-type {
  margin-top: 100px;
  clear: both;
}
@media (max-width: $minDesktop) {
  .photos__block-secondary a {
    float: right;
  }
  .photos__block-secondary a:last-of-type {
    margin-top: 38px;
  }
}
@media (max-width: $minTablet) {
  .photos__block-secondary a:last-of-type {
    margin-top: 0;
  }
}
@media (max-width: $minDesktop) {
  .photos__block-secondary {
    align-items: flex-end;
    padding-left: 0;
    padding-right: 17vw;
  }
}
@media (max-width: $minTablet) {
  .photos__block-secondary {
    padding-right: 0;
  }
}
.photos__photo {
  font-size: 0;
  position: relative;
  text-decoration: none;
}
.photos__photo-main {
  width: 416px;
  height: 580px;
  margin-right: 27px;
  margin-bottom: 10px;
  box-shadow: 0 0 55px 17px #dfdfdf;
  transition: box-shadow 0.3s ease 0.5s, border-right 0.3s ease 0.5s;
}
@media (max-width: $minDesktop) {
  .photos__photo-main {
    width: 235px;
    height: 352px;
    margin-bottom: 20px;
    margin-right: 0;
  }
}
@media (max-width: $minTablet) {
  .photos__photo-main {
    float: left;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: none;
  }
}
.photos__photo-main .photos__date {
  left: -9px;
  top: 0;
}
@media (max-width: $minTablet) {
  .photos__photo-main .photos__date {
    left: auto;
    top: auto;
  }
}
.photos__photo-main .photos__title {
  right: 0;
  bottom: calc(100% + 17px);
  transform: translateX(50%);
  max-width: 240px;
}
@media (max-width: $minDesktop) {
  .photos__photo-main .photos__title {

  }
}
@media (max-width: $minTablet) {
  .photos__photo-main .photos__title {
    right: auto;
    top: auto;
    bottom: auto;
    left: auto;
    transform: none;
  }
}
.photos__photo-secondary {
  width: 235px;
  height: 320px;
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  .photos__photo-secondary {
    width: 125px;
    height: auto;

    .photos__img {
      height: 178px;
    }

    .photos__sales {
      bottom: auto;
      top: 166px;

      transform: translateY(-100%);
    }

    .photos__title {
      width: 235px;

      position: relative;
      transform: none;

      margin-top: 15px;
    }
  }
}
@media (max-width: $minTablet) {
  .photos__photo-secondary {
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: none;
    border: none;
  }
}
@media (max-width: $minDesktop) {
  .photos__photo-secondary-bottom .photos__title {
    left: auto;
    right: 0;

    display: inline-block;
    transform: translateX(-40%);
  }
}
.photos__photo-secondary-top .photos__date {
  left: -9px;
  top: 100%;
  transform: rotate(90deg) translate3d(-100%, 0, 0);
}
@media (max-width: $minDesktop) {
  .photos__photo-secondary-top .photos__date {
    bottom: auto;
    top: 150px;
  }
}
@media (max-width: $minTablet) {
  .photos__photo-secondary-top .photos__date {
    left: auto;
    bottom: auto;
    top: auto;
    transform: none;
  }
}
.photos__photo-secondary-top .photos__title {
  right: 0;
  top: calc(100% + 13px);
  transform: translateX(50%);
  width: 270px;
}
@media (max-width: $minTablet) {
  .photos__photo-secondary-top .photos__title {
    right: auto;
    bottom: auto;
    top: auto;
    left: auto;
    transform: none;
  }
}
.photos__photo-secondary-bottom .photos__date {
  left: calc(100% + 8px);
  top: 100%;
  transform: rotate(90deg) translate3d(-100%, -100%, 0);
}
@media (max-width: $minDesktop) {
  .photos__photo-secondary-bottom .photos__date {
    line-height: initial;
    bottom: auto;
    top: 174px;
    left: calc(100% + 6px);
  }
}
@media (max-width: $minTablet) {
  .photos__photo-secondary-bottom .photos__date {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    transform: none;
  }
}
.photos__photo-secondary-bottom .photos__title {
  left: 0;
  top: calc(100% + 13px);
  transform: translateX(-50%);
}
@media (max-width: $minTablet) {
  .photos__photo-secondary-bottom .photos__title {
    left: auto;
    bottom: auto;
    top: auto;
    right: auto;
    transform: none;
  }
}
@media (min-width: $desktop) {
  .photos__photo:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.55s ease;
    z-index: 1;
  }
  .photos__photo:hover:before {
    opacity: 0.5;
  }
}
@media (max-width: $minTablet) {
  .photos__photo {
    margin-bottom: 36px;
  }
}
.photos__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: $minTablet) {
  .photos__img {
    height: 220px;
  }
}
.photos__title {
  position: absolute;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 18px;

  line-height: 21px;
  text-decoration: none;
  transition: all 0.65s ease 0.3s;

  max-width: 270px;
}
@media (max-width: $minTablet) {
  .photos__title {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    margin-top: 19px;
  }
}
.photos__date {
  position: absolute;
  color: #bfbfbf;
  font-family: $Futura-PT-Bold;
  font-size: 12px;

  text-decoration: none;
  transform: rotate(90deg) translate3d(0, 0, 0);
  transform-origin: top left;
  -webkit-backface-visibility: hidden;
  transition: all 0.65s ease 0.3s;
}
@media (max-width: $minTablet) {
  .photos__date {
    position: relative;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    transform: none;
    line-height: initial;
    margin-top: 7px;
  }
}
.photos__decor {
  position: absolute;
  width: 96px;
  height: 96px;
  overflow: hidden;
}
.photos__decor-left-bottom {
  left: 50px;
  bottom: 145px;
}
.photos__decor-right-top {
  right: 50px;
  top: 138px;
}
@media (max-width: $minDesktop) {
  .photos__decor {
    width: 79px;
    height: 79px;
  }
  .photos__decor-left-bottom {
    left: 25px;
    bottom: 95px;
  }
  .photos__decor-right-top {
    right: 25px;
    top: 61px;
  }
}
@media (max-width: $minTablet) {
  .photos__decor {
    display: none;
  }
}
.photos__backdrop {
  width: 380px;
  height: 380px;
  bottom: 92px;
  left: 333px;
}
.photos__backdrop_inner {
  width: 100%;
  height: 100%;
  position: relative;
}
@media (max-width: $minDesktop) {
  .photos__backdrop {
    width: 230px;
    height: 230px;
    left: 219px;
    bottom: 82px;
  }
}
@media (max-width: $minTablet) {
  .photos__backdrop {
    display: none;
  }
}
.photos__animation {
  display: none;
}
.photos__animation-line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transform: translate3d(0, 100%, 0);
  visibility: hidden;
  transition: transform 1s ease, visibility 0s ease 1s;
}
@media (min-width: $tablet) {
  .photos-hidden .photos__animation-line {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }
  .photos-hidden .photos__date {
    opacity: 0;
    transform: rotate(90deg) translate3d(-15px, 0, 0);
  }
  .photos-hidden .photos__title {
    opacity: 0;
    transform: translateX(-15px);
  }
  .photos-hidden .photos__photo-main {
    box-shadow: 0 0 55px 17px rgba(223,223,223,0);
    border-right: 5px solid rgba(0,0,0,0);
  }
}
