.header {
  position: fixed;
  background-color: #000;
  width: 100%;
  height: 80px;
  max-width: 1230px;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateX(-25px);
  z-index: 7;
  transition: transform 0.5s cubic-bezier(0.6, 0, 0.41, 1);
}
@media (max-width: $minDesktop) {
  .header {
    left: 0;
    height: 70px;
    transform: none;
  }
}
@media (max-width: $minTablet) {
  .header {
    height: 64px;
  }
}
@media (min-width: $desktop) {
  .header-hidden {
    transform: translateY(-100%) translateX(calc(-50% - 25px));
  }
}
@media (max-width: $minDesktop) {
  .header-hidden {
    transform: translateY(-100%);
  }
}
.header__content_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.header__logo {
  margin-left: 50px;
}
.header__logo svg {
  fill: #fff;
  width: 80px;
  height: 33px;
}
@media (max-width: $minDesktop) {
  .header__logo {
    margin-left: 25px;
  }
}
@media (max-width: $minTablet) {
  .header__logo {
    margin-left: 15px;
  }
  .header__logo svg {
    width: 67px;
    height: 28px;
  }
}
@media (min-width: $desktop) {
  .header__links {
    margin-left: 127px;
  }
}
@media (max-width: $minDesktop) {
  .header__links {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    z-index: 8;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
  }
}
@media (max-width: $minTablet) {
  .header__links {
    padding: 20px 0;
    display: block;
    text-align: center;
  }
  .header__links:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
  }
}
@media (max-width: $minDesktop) {
  .header__links_inner {
    max-width: 310px;
    transform: translate3d(0, -25px, 0);
  }
}
@media (max-width: $minTablet) {
  .header__links_inner {
    max-width: 260px;
    display: inline-block;
    vertical-align: middle;
  }
}
.header__link {
  color: #969696;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: $Futura-PT-Bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease;

  &.active,
  &:hover {
    color: #fff;
  }
}
@media (min-width: $desktop) {
  .header__link:not(:last-child) {
    margin-right: 43px;
  }
}
@media (max-width: $minDesktop) {
  .header__link {
    font-size: 30px;
    text-align: center;
    transition-duration: 0.2s;
    width: 100%;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__link:active {
    color: #fff;
  }
  .header__link:not(:last-child) {
    border-bottom: 1px solid rgba(51,50,50,0.8);
  }
}
@media (max-width: $minTablet) {
  .header__link {
    font-size: 18px;
  }
}
.header__button {
  width: 100%;
  height: 100%;
  max-width: 315px;
  margin-right: -1px;
}
@media (min-width: $desktop) {
  .header__button .btn > div {
    width: 153px;
  }
}
@media (max-width: $minDesktop) {
  .header__button {
    margin-right: 87px;
    max-width: 200px;
  }
}
@media (max-width: $minTablet) {
  .header__button {
    margin-right: 61px;
    max-width: 140px;
  }
  .header__button .btn__dots {
    display: none;
  }
}
@media (min-width: $desktop) {
  .header__burger {
    display: none;
  }
}
@media (max-width: $minDesktop) {
  .header__burger {
    position: absolute;
    width: 27px;
    height: 16px;
    right: 25px;
    top: 27px;
    z-index: 8;
  }
  .header__burger_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header__burger_line {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
  }
  .header__burger_line.line-1 {
    top: 0;
  }
  .header__burger_line.line-2,
  .header__burger_line.line-3 {
    top: 7px;
  }
  .header__burger_line.line-4 {
    top: 14px;
  }
}
@media (max-width: $minTablet) {
  .header__burger {
    right: 15px;
    top: 24px;
  }
}
.header {
  background-color: transparent;
}
@media (min-width: $desktop) {
  .header {
    overflow: hidden;
  }
}
.header__animation_container {
  width: 0;
  height: 0;
}
.header__animation_line {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #000;
}
.header__animation_line-right {
  right: 0;
  top: 0;
  transform: translate3d(calc(100% - 2px), -100%, 0);
}
.header__animation_line-left {
  left: 0;
  bottom: 0;
  transform: translate3d(-100%, 0, 0);
}
@media (min-width: $desktop) {
  .header__link {
    display: inline-block;
    transition: all 0.55s ease-out;
  }
  .header__link:not(.linksAnimationFinished) {
    transform: translate3d(0, 13px, 0);
    opacity: 0;
  }
}
.header__logo,
.header__burger,
.header__button {
  transform: translate3d(0, 80px, 0);
}
.header__logo {
  display: block;
}
