.info {
  position: relative;

  width: 1048px;
  background-color: #000000;

  margin-left: 116px;
  padding: 50px 80px 55px;

  color: white;

  @media (max-width: $minDesktop) {
    width: 85%;

    margin-left: 7.5%;
    padding: 68px 28px 73px;
  }

  @media (max-width: $minTablet) {
    width: 100%;

    margin-left: 0;
    padding: 47px 15px 60px;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    @media (max-width: $minTablet) {
      display: block;
    }
  }

  &__left {
    width: 47%;
    height: 100%;

    @media (max-width: $minTablet) {
      width: 100%;
      height: auto;
    }
  }

  &__right {
    width: 50%;
    height: 100%;

    @media (max-width: $minDesktop) {
      width: 48%;

      margin-left: 5%;
      margin-top: 20px;
    }

    @media (max-width: $minTablet) {
      width: 100%;
      height: auto;

      margin-left: 0;
    }
  }

  &__text {
    &--small {
      font-family: $Helvetica;
      font-size: 14px;

      line-height: 23px;

      max-width: 420px;
    }
    &--medium {
      font-family: $Futura-PT-Bold;
      font-size: 24px;

      line-height: 28px;

      max-width: 260px;

      @media (max-width: $minTablet) {
        max-width: none;
      }
    }
  }

  &__backdrop {
    position: absolute;

    top: 100%;
    left: 80px;

    width: 324px;
    height: 52px;

    background-color: #ededed;

    z-index: 0;

    @media (max-width: $minDesktop) {
      left: 28px;
      width: 312px;
    }

    @media (max-width: $minTablet) {
      display: none;
    }
  }
}