.items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  position: relative;

  @media (max-width: $minDesktop) {
    flex-wrap: wrap;
  }

  &--white {
    .items__item-title {
      color: #ffffff;
    }

    @media (max-width: $minTablet) {
      .items__item {
        margin-bottom: 22px;

        &-title {
          margin-top: 24px;
        }
      }
    }
  }

  &__item {
    max-width: 205px;

    @media (max-width: $minDesktop) {
      flex-basis: 50%;

      max-width: none;

      margin-bottom: 31px;
    }

    @media (max-width: $minTablet) {
      flex-basis: 100%;

      margin-bottom: 7px;
    }

    &-img {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      width: 100%;
      height: 100px;

      @media (max-width: $minTablet) {
        justify-content: center;
      }

      img {
        max-width: 70%;
        max-height: 100%;
      }
    }

    &-title {
      font-family: $Futura-PT-Bold;
      font-size: 18px;
      line-height: 25px;
      color: #000000;

      margin-top: 15px;
      margin-bottom: 11px;
      min-height: 50px;

      @media (max-width: $minDesktop) {
        max-width: 205px;
      }

      @media (max-width: $minTablet) {
        min-height: initial;
        max-width: none;

        margin-top: 10px;

        text-align: center;
      }
    }

    &-text {
      color: #969696;
      font-family: $Helvetica;
      font-size: 14px;

      line-height: 23px;

      max-width: 175px;

      @media (max-width: $minDesktop) {
        max-width: 270px;
      }

      @media (max-width: $minTablet) {
        max-width: none;

        text-align: center;
      }
    }
  }
}