.masters {
  position: relative;

  z-index: 2;

  margin-top: 120px;
  margin-bottom: 118px;

  @media (max-width: $minDesktop) {
    margin-top: 60px;
    margin-bottom: 80px;
  }

  @media (max-width: $minTablet) {
    margin-top: 0;
    margin-bottom: 60px;

    padding: 0 15px;
  }

  .section_mark {
    position: absolute;

    top: -60px;
  }

  &__left {
    float: left;

    margin-left: 195px;
    margin-top: 160px;

    @media (max-width: $minDesktop) {
      margin-left: 86px;
      margin-top: 45px;
    }

    @media (max-width: $minTablet) {
      margin-top: 49px;
      margin-left: 0;

      width: 100%;
    }
  }

  &__right {
    position: relative;
    float: right;

    width: 400px;
    height: 500px;

    margin-right: 239px;

    @media (max-width: $minDesktop) {
      width: 283px;
      min-width: 283px;
      height: 353px;

      margin-right: 86px;
    }

    @media (max-width: $minTablet) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;

      @include object-fit(cover);
    }
  }

  &__title {
    max-width: 245px;
    color: #000000;
    font-family: $Futura-PT-Bold;
    font-size: 24px;

    line-height: 28px;

    @media (max-width: $minTablet) and (orientation: landscape) {
      max-width: none;
    }
  }

  &__subtitle {
    width: 230px;
    color: #4d4d4d;
    font-family: $Helvetica;
    font-size: 14px;

    line-height: 23px;

    margin-top: 29px;

    @media (max-width: $minTablet) {
      margin-top: 24px;
    }

    @media (max-width: $minTablet) and (orientation: landscape) {
      width: 100%;
    }
  }

  &__button {
    width: 280px;
    height: 50px;
    background-color: #000000;

    margin-top: 33px;

    @media (max-width: $minDesktop) {
      width: 220px;

      .btn__dots {
        margin-right: 8px;
      }
    }

    @media (max-width: $minTablet) {
      width: 100%;
      max-width: 290px;
      height: 60px;

      margin-top: 21px;
      margin-left: auto;
      margin-right: auto;
    }

    > div {
      margin-left: -13px;
    }
  }

  &__cooperation {
    max-width: 270px;
    margin-top: 30px;
    color: #000000;
    font-family: $Futura-PT-Bold;
    font-size: 18px;
    line-height: 25px;
    @media (max-width: $minTablet) {
      margin-top: 20px;

      + .masters__subtitle {
        margin-top: 11px;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      color: inherit;
      &:not(:first-child) {
        margin-top: 5px;
      }
      @media (min-width: $desktop) {
        &:hover {
          color: #969696;
          transition: color .5s;
        }
      }
    }

    p {
      &:not(:first-of-type) {
        margin-top: 19px;

        @media (max-width: $minTablet) {
          margin-top: 13px;
        }
      }
    }
  }

  &__pdf {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    top: calc(100% + 9px);
    right: -71px;

    width: 100%;

    z-index: 1;

    color: #000000;
    font-family: $Futura-PT-Bold;
    font-size: 18px;

    line-height: 21px;
    text-decoration: none;

    @media (max-width: $minDesktop) {
      top: calc(100% + 20px);
      right: 0;
    }

    @media (max-width: $minTablet) {
      position: relative;
      justify-content: flex-start;

      top: auto;
      right: auto;

      margin-top: 14px;
    }

    img {
      width: 22px;
      height: 24px;

      margin-right: 8px;
    }
  }
}

[data-page = 'home'] {
  .masters__button_link {
    position: absolute;
    left: 80px;
    bottom: 130px;
    @media (max-width: $minDesktop) {
      bottom: 50px;
      left: 30px;
    }

    @media (max-width: $minTablet) {
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $minTablet) {
    .c_tabs__content > span {
      top: 30%;
      font-size: 20px;
      max-width: 60%;
    }
    .c_tabs__body {
      height: 270px;
    }
    .c_tabs__body_inner {
      height: 310px;
    }
  }
  
  @media (max-width: 374px) {
      .c_tabs__body_inner {
      height: 280px;
    }
      .c_tabs__body {
      height: 240px;
    }
  }
}