.other-news {
  position: relative;
  width: 100%;

  padding-left: 196px;

  @media (max-width: $minDesktop) {
    padding-left: 7.42vw;
  }

  @media (max-width: $minTablet) {
    padding: 0 15px;
  }

  .section_mark {
    position: absolute;

    margin-left: 0;
    left: 33px;
    top: 0;

    @media (max-width: $minDesktop) {
      left: 8px;
    }
  }

  &__title {
    max-width: 550px;
    color: #000000;
    font-family: $Futura-PT-Bold;
    font-size: 60px;

    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 4.5px;

    padding-top: 48px;

    @media (max-width: $minDesktop) {
      font-size: 56px;
      letter-spacing: 4px;
      line-height: 57px;

      max-width: 310px;
      padding-top: 71px;
      margin-left: 29px;
    }

    @media (max-width: $minTablet) {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 2.5px;

      max-width: none;
      margin-left: -3px;
      padding-top: 0;
    }
  }

  &__content {
    width: 100%;

    padding-right: 141px;
    margin-top: 49px;

    font-size: 0;

    @media (max-width: $minDesktop) {
      margin-top: 41px;

      padding-right: 3vw;
    }

    @media (max-width: $minTablet) {
      padding: 0;
      margin-top: 28px;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    vertical-align: top;

    width: 259px;

    color: #bfbfbf;
    font-family: $Futura-PT-Bold;
    font-size: 12px;

    text-decoration: none;

    margin-right: 49px;

    @media (max-width: $oldDesktop) and (min-width: $desktop) {
      margin-right: 35px;
    }

    @media (max-width: $minDesktop) {
      width: 29%;

      margin-right: 4%;
    }

    @media (max-width: $minTablet) {
      width: 100%;
      margin-right: 0;
    }

    @media (min-width: $desktop) {
      .other-news__item_img {
        position: relative;

        &:before {
          content: '';
          position: absolute;

          width: 100%;
          height: 100%;

          left: 0;
          top: 0;

          background-color: rgba(0, 0, 0, 0.2);

          transform: translate3d(-100%, 0, 0);

          transition: transform .4s ease;
        }
      }
      &:hover {
        .other-news__item_link {
          color: black;
        }
        .other-news__item_img {
          &:before {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 35px;
    }

    &_img {
      width: 100%;
      height: 259px;

      overflow: hidden;

      @media (max-width: $minDesktop) {
        height: 198px;
      }

      @media (max-width: $minTablet) {
        height: 289px;
      }

      img {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
      }
    }

    &_title {
      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 18px;

      line-height: 21px;

      margin-top: 16px;

      @media (max-width: $minDesktop) and (min-width: $tablet) {
        margin-top: 14px;
      }
    }

    &_label {
      position: absolute;

      left: 10px;
      top: 238px;

      @media (max-width: $minDesktop) {
        top: 176px;
      }

      @media (max-width: $minTablet) {
        top: 268px;
      }
    }

    &_date {
      position: absolute;

      left: -10px;
      top: 0;

      transform: rotate(90deg);
      transform-origin: left top;

      @media (max-width: $minDesktop) {
        left: 19px;
        top: 7px;
      }

      @media (max-width: $minTablet) {
        top: 33px;
      }
    }

    &_link {
      margin-top: 10px;
      transition: color .6s ease;
    }
  }

  &__button {
    text-align: center;

    margin-top: 14px;

    @media (max-width: $minDesktop) {
      margin-top: -3px;
    }

    @media (max-width: $minTablet) {
      margin-top: 25px;
    }

    .btn {
      display: inline-block;
      width: auto;

      transform: translateX(-121px);

      overflow: visible;

      @media (max-width: $minDesktop) {
        transform: translateX(-37px);
      }

      @media (max-width: $minTablet) {
        transform: translateX(-14px);
      }

      &:after {
        right: -41px;
        top: 46%;

        @media (max-width: $minDesktop) {
          position: absolute;
          right: -20px;
        }

        @media (max-width: $minTablet) {
          right: -30px;
        }
      }

      &__dots {
        margin-right: 33px;
        margin-bottom: 5px;

        @media (max-width: $minDesktop) {
          margin-right: 11px !important;
          margin-bottom: 3px;
        }

        @media (max-width: $minTablet) {
          margin-right: 22px !important;
        }
      }
    }
  }
}