.popup {
  background-color: rgba(255, 255, 255, 0.9);
  .form {
    &__row {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media (max-width: $minTablet) {
        flex-wrap: wrap;
      }

      // should be 'first-child' but hidden input is added before fields
      // yii active form
      &:nth-child(2) {
        @media (min-width: $tablet) {
          .form__field, .form__empty {
            &:before {
              content: '';

              position: absolute;

              left: 0;
              top: 0;

              width: 100%;
              height: 1px;
              background-color: rgba(255, 255, 255, .2);
            }
          }
        }

        @media (max-width: $minTablet) {
          .form__field {
            padding-top: 0;
          }
        }
      }

      .form__field {
        width: 291px;

        @media (max-width: $minTablet) {
          width: 100%;
        }
      }
    }

    &__field {
      position: relative;
      height: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (max-width: $minTablet) {
        padding: 0;
        height: auto;
        min-height: 80px;
      }

      &.has-error {
        .form__error {
          opacity: 1;
        }
      }

      select {
        width: auto;
        padding-left: 0;
        margin-left: 31px;

        color: #ffffff;
        text-transform: uppercase;

        @media (max-width: $minTablet) {
          margin-left: 0;
        }

        option {
          color: black;
        }
      }

      .c_dropdown {
        width: 100%;
        height: 100%;

        cursor: pointer;

        &__title {
          position: relative;

          width: 100%;
          height: 100%;

          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &__selected {
          width: 100%;
          color: white;

          @media (min-width: $tablet) {
            padding-left: 31px;
            padding-top: 10px;
            padding-bottom: 10px;
          }

          @media (max-width: $minTablet) {
            font-size: 11px;
          }
        }

        &__arrow {
          display: block;
          border-right: 1px solid #ffffff;
          border-bottom: 1px solid #ffffff;
          width: 5px;
          height: 5px;
          transform: rotate(45deg);
          margin-top: -4px;
          transition: all 0.4s ease;

          @media (min-width: $tablet) {
            margin-right: 31px;
          }
        }

        &__options {
          opacity: 0;
          visibility: hidden;
          padding-left: 31px;
          padding-top: 67px;
          padding-bottom: 26px;
          transition: opacity 0.4s ease, visibility 0s ease 0.4s;
          background-color: #fff;
          width: 100%;
          top: 0;

          @media (max-width: $minTablet) {
            width: calc(100% + 30px);

            left: -15px;
            top: -30px;

            padding-left: 15px;
            padding-bottom: 15px;
          }
        }

        &__option {
          color: #000;

          @media (min-width: $desktop) {
            transition: color .2s ease;

            &:hover {
              color: #979797;
            }
          }

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }

        &.active {
          .c_dropdown {
            &__selected, &__descr {
              color: #979797;
              z-index: 3;
            }

            &__arrow {
              transform: rotate(-135deg);
              border-right-color: #979797;
              border-bottom-color: #979797;
              z-index: 3;
            }

            &__options {
              opacity: 1;
              visibility: visible;
              transition: opacity 0.4s ease, visibility 0s ease 0s;
            }
          }
        }
      }
    }

    &__empty {
      position: relative;

      width: 291px;
      height: 80px;
      border-bottom: 1px solid rgba(255, 255, 255, .2);

      @media (max-width: $minTablet) {
        display: none;
      }
    }

    &__error {
      position: absolute;

      color: #a70a3f;

      width: 100%;
      padding-left: 31px;

      left: 0;
      bottom: 7px;
      font-size: 9px;

      opacity: 0;

      transition: opacity 1s ease;

      @media (max-width: $minTablet) {
        bottom: 5px;
        padding-left: 0;
      }
    }

    &__input {
      width: 100%;
      margin: 0;
      border: none;
      padding: 32px 0 32px 32px;
      background-color: transparent;
      color: #ffffff;
      font-family: $Futura-PT-Bold;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.5px;
      @media (max-width: $minTablet) {
        padding-left: 0;
      }
      @media (max-width: 400px) {
        font-size: 16px;
      }
      &::-webkit-input-placeholder {
        color: white;
        font-family: $Futura-PT-Bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        white-space:pre-line;
        @media (max-width: $minTablet) {
          font-size: 11px;
        }
      }
      &::-moz-placeholder {
        color: white;
        opacity: 1;
        font-family: $Futura-PT-Bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media (max-width: $minTablet) {
          font-size: 11px;
        }
      }
      &:-ms-input-placeholder {
        color: white;
        font-family: $Futura-PT-Bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media (max-width: $minTablet) {
          font-size: 11px;
        }
      }
      &:-moz-placeholder {
        color: white;
        font-family: $Futura-PT-Bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        @media (max-width: $minTablet) {
          font-size: 11px;
        }
      }
    }

    &__submit {
      display: block;
      background: transparent;

      border: none;
      padding: 0;
      margin: 40px auto 0;


      @media (min-width: $desktop) {
        &:hover {
          .btn .btn__text {
            animation: headerButtonHover-in-white 0.25s;
            animation-delay: 0.27s;
          }
          .btn .btn__dot {
            animation: headerButtonDots-in-white 0.25s;
            animation-delay: 0.27s;
          }
          .btn .btn__bg_animation {
            transform: translate3d(0, 100%, 0);
            transition-delay: 0.1s;
          }
          .btn .btn__dots {
            transform: rotate(180deg);
          }
        }
      }
      .btn {
        background-color: #fff;

        width: 240px;
        height: 50px;

        > div {
          margin-left: -10px;
        }
      }
    }
  }
  &__close {
    top: 35px;
    right: 34px;
    width: 22px;
    height: 22px;
    padding-top: 0;
    svg {
      width: 17px;
      height: 18px;

      fill: white;
    }
  }

  &__container {
    background-color: #000000;

    padding: 60px 45px 65px 50px;

    overflow: hidden;

    @media (max-width: $minTablet) {
      width: calc(100vw - 30px);

      padding: 30px 15px;
    }
  }

  &__content {
    color: #ffffff;
    font-family: $Futura-PT-Bold;


    &--success {
      @media (min-width: $tablet) {
        max-width: 300px;
      }
    }

    &--master {
      max-width: 610px;

      @media (min-width: $tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    &--form {
      &-2 {
        @media (min-width: $tablet) {
          padding: 0 5px;

          .form__field {
            width: 280px;
          }

          .form__submit {
            margin-top: 53px;
          }
        }
      }
      &-3 {
        .popup__body {
          margin-top: 0;
        }
        @media (min-width: $tablet) {
          width: 512px;
          .form__field {
            width: 100%;
            .c_dropdown__title {
              div:not(.c_dropdown__arrow) {
                padding-left: 31px;
                color: white;
                white-space: nowrap;
                &.c_dropdown__selected {
                  padding-left: 20px;
                }
              }
            }
          }
          .form__submit {
            margin-top: 53px;
          }
        }
        @media (max-width: $minTablet) {
          .c_dropdown__descr {
            padding-left: 0;
            color: white;
            font-size: 11px;
            padding-right: 14px;
          }
        }
      }
      &-4 {
        .popup__body {
          margin-top: 22px;
        }
      }
    }
  }

  &__body {
    font-size: 12px;
    text-transform: uppercase;

    width: 100%;

    margin-top: 42px;
  }

  &__title {
    font-size: 24px;
    line-height: 28px;

    width: 100%;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 21px;

    width: 100%;

    margin-top: 15px;
  }

  &__left {
    width: 268px;
    height: 393px;
    overflow: hidden;

    img  {
      width: 100%;
      height: 100%;

      @include object-fit(cover);
    }

    @media (max-width: $minTablet) {
      width: 100%;
      height: 325px;

      margin-top: 15px;
    }
  }

  &__row {
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 10px;
    letter-spacing: .4px;
    &:nth-last-of-type(1) {
      padding-bottom: 0;
    }
  }

  &__footer {
    font-size: 12px;
    text-transform: uppercase;

    width: 100%;

    margin-top: 35px;
  }

  &_img {
    background-color: rgba(0, 0, 0, 0.9);
    .popup {
      &__container {
        background-color: transparent;
        padding: 0;
        margin: 0 60px;
        overflow: visible;
        transform: scale(0);
        transition: transform 1s;
        //height: calc(100% - 3px);
        will-change: transform;
        img {
          max-width: calc(100vw - 100px);
          max-height: 100vh;
          width: auto;
          height: auto;
        }
      }
      &__close {
        top: 5px;
        right: -40px;
        width: 23px;
        height: 23px;
        span {
          position: absolute;
          top: 50%;
          width: 23px;
          height: 2px;
          background-color: #fff;
          &:last-of-type {
            transform: rotate(-45deg);
          }
        }
      }
      &__download {
        position: absolute;
        top: 40px;
        right: -41px;
      }
    }
    &.opened {
      .popup__container {
        transform: scale(1);
      }
    }
  }

  // Style for PerfectScrollBar plugin in popups:
  .ps__scrollbar-y-rail {
    transform: translateX(-16px);
    background-color: rgba(0,0,0, .1) !important;
    .ps__scrollbar-y {
      background-color: rgba(0,0,0, 1);
    }
  }
}

.online-datepicker {
  display: flex;
  flex-direction: column;
  .datepicker--time {
    order: -1;
    border-bottom: 1px solid #efefef;
    border-top: none;
  }
  .datepicker--nav {
    order: 1;
    border-top: 1px solid #efefef;
    border-bottom: none;
  }
}


// date field as global
.date-field {
  //&:after {
  //  content: '';
  //
  //  position: absolute;
  //
  //  top: 50%;
  //  right: 40px;
  //
  //  transform: translate3d(0, -50%, 0) rotate(90deg);
  //
  //  z-index: 1;
  //
  //  @include triangle(white, 3px, 6px);
  //}

  input.form__input {
    padding-right: 15px;

    position: relative;
    z-index: 2;
  }
}

// master info as global
.master-info {
  margin-top: 37px;
  margin-left: 53px;

  max-width: 280px;

  @media (max-width: $minTablet) {
    max-width: none;
    margin-left: 0;
  }

  &__title {
    font-size: 24px;

    line-height: 28px;
  }

  &__subtitle {
    color: #bfbfbf;
    font-size: 12px;

    text-transform: uppercase;

    margin-top: 9px;
    margin-bottom: 27px;
  }

  ul {
    font-family: $Helvetica;
    font-size: 14px;

    line-height: 23px;

    li {
      &:before {
        content: '•';
        display: inline-block;
        margin-right: 4px;
      }
    }
  }

  .form__submit {
    .btn {
      @media (max-width: $minTablet) {
        width: 100%;
        max-width: 260px;
      }
    }
  }
}