.preloader {
  display: none;
  position: fixed;
  z-index: 7;
  background: #000;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.preloader__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 85px;
}
.preloader__block {
  position: absolute;
  width: 128px;
  height: 70px;
  overflow: hidden;
}
.preloader__block-left {
  left: 0;
  top: 15px;
}
.preloader__block-left .preloader__line {
  transform: translate3d(105%, 0, 0);
}
.preloader__block-right {
  right: 0;
  top: 0;
}
.preloader__block-right .preloader__line {
  transform: translate3d(-105%, 0, 0);
}
.preloader__line {
  width: 100%;
  height: 15px;
  background-color: #fff;
}
.preloader__line:not(:first-child) {
  margin-top: 12px;
}
.preloader__logo {
  text-align: center;
  width: 80px;
  height: 33px;
  opacity: 0;
}
.preloader__logo svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}
.preloader__curtain {
  position: fixed;
  background: #fff;
  height: 50%;
  width: 100%;
}
.preloader__curtain-left {
  left: 0;
  top: 0;
  transform: translate3d(-100%, 0, 0);
}
.preloader__curtain-right {
  right: 0;
  bottom: 0;
  transform: translate3d(100%, 0, 0);
}
