.section_mark {
  float: left;
  position: relative;
  width: 41px;
  margin-left: 35px;

  &--no-animation {
    .section_mark__number_container {
      transform: scale(1);
    }

    .section_mark__line {
      height: 40px;
    }

    .section_mark__text {
      opacity: 1;
    }
  }
}
@media (max-width: $minDesktop) {
  .section_mark {
    margin-left: 12px;
  }
}
@media (max-width: $minTablet) {
  .section_mark {
    display: none;
  }
}
.section_mark__number_container {
  position: relative;
  width: 100%;
  height: 40px;
  transform: scale(0);
}
.section_mark__number_container .ornament_animation {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.section_mark__number_container .ornament_animation svg {
  width: 40px;
  height: 40px;
}
.section_mark__number_container .ornament_animation__svg {
  width: 40px;
  height: 40px;
}
.section_mark__number_container .ornament_animation__svg:last-child {
  top: 1px;
}
.section_mark__number {
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
}
.section_mark__line {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 2px;
  height: 0;
  background-color: #e2e2e2;
  clear: both;
}
.section_mark__text_container {
  position: relative;
  float: left;
  margin-top: 89px;
}
.section_mark__text {
  display: block;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;

  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(90deg) translate3d(-13px, -13px, 0);
  transform-origin: bottom left;
  -webkit-backface-visibility: hidden;
  opacity: 0;
}
.section_mark .anim_line {
  width: calc(100% + 20px);
  height: 15px;
  transform: rotate(90deg) translate3d(-26px, -13px, 0);
  transform-origin: bottom left;
  min-width: 135px;
}
.section_mark .anim_line__inner {
  transform: translate3d(-100%, 0, 0);
}
.section_mark-white .section_mark__number {
  color: #fff;
}
.section_mark-white .section_mark__text {
  color: #fff;
}
.section_mark-white .anim_line__inner {
  background: #fff;
}
