.slider_custom__nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  z-index: 2;
}
@media (max-width: $minTablet) {
  .slider_custom__nav {
    width: 100%;
  }
}
.slider_custom__nav_container {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: $minTablet) {
  .slider_custom__nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: $tablet) {
  .slider_custom__nav-animatable {
    width: 0;
    height: 80px;
    overflow: hidden;
  }
  .slider_custom__nav-animatable .slider_custom__prev,
  .slider_custom__nav-animatable .slider_custom__divider,
  .slider_custom__nav-animatable .slider_custom__next {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .slider_custom__nav-animatable .slider_custom__divider {
    left: 80px;
  }
  .slider_custom__nav-animatable .slider_custom__next {
    left: 81px;
  }
}
@media (max-width: $minTablet) {
  .slider_custom__nav-animatable {
    transform: translate3d(0, 100%, 0);
  }
}
.slider_custom__prev,
.slider_custom__next {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  float: left;
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
@media (min-width: $desktop) {
  .slider_custom__prev:hover,
  .slider_custom__next:hover {
    background-color: #ededed;
  }
}
@media (max-width: $minDesktop) {
  .slider_custom__prev,
  .slider_custom__next {
    height: 60px;
    transition: background-color 0.15s ease;
    background-color: #ededed;
  }
  .slider_custom__prev:active,
  .slider_custom__next:active {
    background-color: #fff;
  }
}
.slider_custom__prev div,
.slider_custom__next div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_custom__prev svg,
.slider_custom__next svg {
  width: 4px;
  height: 7px;
}
.slider_custom__divider {
  position: relative;
  width: 1px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_custom__divider:before {
  content: '';
  width: 2px;
  height: 10px;
  background-color: #e2e2e2;
}
@media (max-width: $minDesktop) {
  .slider_custom__divider {
    background-color: #ededed;
    height: 60px;
  }
}
@media (max-width: $minTablet) {
  .slider_custom__divider {
    display: none;
  }
}
.slider_custom__dots-time {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 144px;
  height: 62px;
  background: #fff;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: $minDesktop) {
  .slider_custom__dots-time {
    bottom: 29px;
    background: transparent;
  }
}
@media (max-width: $minTablet) {
  .slider_custom__dots-time {
    left: 50%;
    transform: translate3d(-50%, 0, 0) !important;
    z-index: 2;
  }
}
.slider_custom__dots-time li {
  display: inline-block;
}
@media (min-width: $desktop) {
  .slider_custom__dots-time li {
    min-width: 32px;
  }
  .slider_custom__dots-time li:hover .slider_custom__dot {
    transition: opacity 0.3s ease;
    opacity: 1;
  }
}
.slider_custom__dots-time li:nth-child(1) .slider_custom__dot {
  margin-left: 11px;
}
.slider_custom__dots-time li:nth-child(2) .slider_custom__dot {
  margin-left: 14px;
}
.slider_custom__dots-time li:nth-child(3) .slider_custom__dot {
  margin-left: 18px;
}
.slider_custom__dots-time .slider_custom__time {
  position: absolute;
  top: 9px;
  left: 120%;
  display: block;
  font-family: $Futura-PT-Bold;
  font-size: 18px;
  line-height: 46px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  opacity: 0;
  transition: opacity 0.65s ease-out;
  white-space: nowrap;
}
@media (max-width: $minDesktop) {
  .slider_custom__dots-time .slider_custom__time {
    top: 39px;
    left: 130%;
    font-size: 10px;
  }
}
@media (max-width: $minTablet) {
  .slider_custom__dots-time .slider_custom__time {
    right: auto;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }
}
.slider_custom__dots-time .slider_custom__dot_container {
  cursor: pointer;
  display: block;
  text-align: center;
}
.slider_custom__dots-time .slider_custom__dot {
  position: relative;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #000;
  opacity: 0.25;
  transition: opacity 0.65s ease-out;
}
@media (max-width: $minDesktop) {
  .slider_custom__dots-time .slider_custom__dot {
    display: none;
  }
}
.slider_custom__dots-time .slider_custom__dot:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  left: 2px;
  top: 1px;
  transform: translate3d(-50%, -50%, 0);
}
.slider_custom__dots-time .slick-active .slider_custom__time {
  opacity: 0.78;
  transition-delay: 0.65s;
}
.slider_custom__dots-time .slick-active .slider_custom__dot {
  opacity: 1;
  transition-delay: 0.65s;
}
.slider_custom__dots-articles {
  position: absolute;
  bottom: 0;
  left: calc(100% + 12px);
}
.slider_custom__dots-articles li {
  position: relative;
  width: 2px;
  height: 2px;
  background-color: #000;
  cursor: pointer;
  transition: width 0.3s ease;
}
.slider_custom__dots-articles li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate3d(-50%, -50%, 0);
}
.slider_custom__dots-articles li:not(:first-child) {
  margin-top: 13px;
}
@media (max-width: $minDesktop) {
  .slider_custom__dots-articles li:not(:first-child) {
    margin-top: 25px;
  }
}
.slider_custom__dots-articles li.slick-active,
.slider_custom__dots-articles li:hover {
  width: 10px;
}
