.slider-table {
  display: block;
  position: relative;
  width: 1080px;

  margin-left: 116px;

  font-size: 0;

  @media (max-width: $minDesktop) {
    width: 100%;
    margin-left: 0;
  }

  tr {
    display: block;
  }

  &__head {
    display: block;
    color: #000000;
    font-family: $Helvetica;

    line-height: 23px;

    border-bottom: 1px solid #e3e3e4;
    padding-bottom: 26px;

    @media (max-width: $minDesktop) {
      border-bottom: none;
      padding-bottom: 0;
    }

    > tr {
      font-size: 0;
    }

    .slider-table__cell {
      padding-right: 35px;
      font-size: 14px;

      @media (max-width: $minDesktop) {
        padding-right: calc(100% - 150px);
        padding-bottom: 22px;

        border-bottom: 1px solid #e3e3e4;

        width: 100%;

        &:not(:first-child) {
          padding-bottom: 20px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  &__body {
    display: block;
    color: #4c4c4c;
    font-family: $Futura-PT-Bold;

    line-height: 25px;

    @media (max-width: $minDesktop) {
      position: absolute;

      left: 333px;
      top: -10px;

      width: calc(100vw - 350px);

      &:after {
        content: '';
        position: absolute;

        width: 42px;
        height: 100%;

        right: -2px;
        top: 0;

        background-color: #fff;

        z-index: 5;

        @media (max-width: $minTablet) {
          display: none;
        }
      }
    }

    @media (max-width: $minTablet) {
      width: 100px;

      left: auto;
      top: -11px;
      right: 15px;
    }

    .slider-table__row {
      border-bottom: 1px solid #e3e3e4;

      margin-top: 21px;
      padding-bottom: 18px;

      font-size: 0;

      &:first-child {
        margin-top: 22px;

        @media (max-width: $minDesktop) {
          margin-top: 0;
        }
      }

      @media (max-width: $minDesktop) {
        width: 50%;

        border-bottom: none;
        padding-bottom: 0;

        margin-top: 0;
      }

      @media (max-width: $minTablet) {
        width: 100%;
      }
    }

    .slider-table__cell {
      font-size: 12px;

      @media (max-width: $minDesktop) {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      &:first-child {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;

        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 12px;

        text-transform: uppercase;

        span {
          line-height: initial;
          margin-top: 2px;
        }

        img {
          margin-right: 19px;
          max-width: 20px;
        }
      }
    }
  }

  &__cell {
    display: inline-block;

    width: calc(100% / 6);

    vertical-align: top;

    &:first-child {
      width: 166px;
    }

    @media (max-width: $minDesktop) {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:not(:first-child) {
        margin-top: 20px;
      }

      &:nth-child(1) {
        align-items: flex-start;

        height: 46px;
      }
      &:nth-child(2) {
        height: 44px;
      }
      &:nth-child(3) {
        height: 67px;
      }
      &:nth-child(4) {
        height: 67px;
      }
      &:nth-child(5) {
        height: 90px;
      }
      &:nth-child(6) {
        height: 89px;
      }
    }
  }

  &__buttons {
    position: relative;

    @media (min-width: $tablet) {
      width: 160px;

      margin: 0 auto;
    }

    &--top {
      @media (min-width: $tablet) {
        display: none;
      }

      @media (max-width: $minTablet) {
        margin-bottom: 31px;
        margin-top: 29px;
      }
    }

    &--bottom {
      @media (min-width: $desktop) {
        display: none;
      }

      @media (min-width: $tablet) {
        margin-top: 17px;
      }

      @media (max-width: $minTablet) {
        margin-top: 14px;
      }
    }
  }
}