.video_block {
  cursor: pointer;
  transition: transform 0.92s ease;
}
.video_block__inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 56px 16px #bdbbbd;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  will-change: width, opacity;
}
.video_block__img {
  height: 100%;
  img {
    height: 100%;
    width: 100%;
    @include object-fit(cover);
  }
}
@media (max-width: $minTablet) {
  .video_block__inner {
    box-shadow: none;
  }
}
.video_block__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,0.2);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.92s ease;
  will-change: transform;
}
.video_block__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 180px;
  height: 180px;
}
.video_block__play_inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video_block__play_inner > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 55%;
  height: 55%;
  background-color: transparent;
  border-radius: 50%;
  opacity: 0.2;
  box-sizing: content-box;
}
.video_block__play_inner > span:nth-child(1) {
  border: 40px solid #000;
  z-index: 2;
}
.video_block__play_inner > span:nth-child(2) {
  border: 10px solid #000;
  z-index: 2;
}
.video_block__play_inner > span:nth-child(3) {
  background-color: #000;
  opacity: 1;
}
.video_block__play_triangle {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  font-size: 0;
}
.video_block__play_triangle > span {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-left: 25px solid #fff;
  border-bottom: 12.5px solid transparent;
  transition: transform 0.92s ease, opacity 0.2s ease 0.42s;
}
.video_block__play_triangle > span:first-child {
  transform: translate3d(-225%, 0, 0);
  opacity: 0;
}
.video_block__play_triangle > span:last-child {
  transform: translate3d(-50%, 0, 0);
  transition: transform 0.92s ease, opacity 0.2s ease 0s;
}
@media (max-width: $minDesktop) {
  .video_block__play {
    width: 135px;
    height: 135px;
  }
  .video_block__play_inner > span {
    width: 75px;
    height: 75px;
  }
  .video_block__play_inner > span:nth-child(1) {
    border-width: 30px;
  }
}
@media (max-width: $minTablet) {
  .video_block__play {
    width: 105px;
    height: 105px;
  }
  .video_block__play_triangle > span {
    width: 0;
    height: 0;
    border-top: 7.5px solid transparent;
    border-left: 15px solid #fff;
    border-bottom: 7.5px solid transparent;
  }
  .video_block__play_inner > span {
    width: 63px;
    height: 63px;
  }
  .video_block__play_inner > span:nth-child(1) {
    border-width: 20px;
  }
}
@media (min-width: $desktop) {
  .video_block:hover {
    transform: scale(1.05);
  }
  .video_block:hover .video_block__backdrop {
    transform: translate3d(0, 0, 0);
  }
  .video_block:hover .video_block__play_triangle > span:first-child {
    transform: translate3d(50%, 0, 0);
    opacity: 1;
    transition: transform 0.92s ease, opacity 0.2s ease 0s;
  }
  .video_block:hover .video_block__play_triangle > span:last-child {
    transform: translate3d(225%, 0, 0);
    opacity: 0;
    transition: transform 0.92s ease, opacity 0.2s ease 0.42s;
  }
}
.video_block__video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 10;
  transition: opacity 0.6s ease, visibility 0s ease 0.35s;
  opacity: 0;
  visibility: hidden;
}
.video_block__video.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease;
}
.video_block__video_inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video_block__video_inner video {
  max-width: 90%;
  max-height: 90%;
}
.video_block__video_close {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}
.video_block__video_close_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.video_block__video_close span {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  width: 30px;
  height: 2px;
  bottom: 15px;
  left: 0;
}
.video_block__video_close span:first-child {
  transform: rotate(-45deg);
}
.video_block__video_close span:last-child {
  transform: rotate(45deg);
}
@media (max-width: $minTablet) and (orientation: landscape) {
  .video_block__video_close {
    right: 30px;
    top: 27px;
  }
}
@media (max-width: $minTablet) and (orientation: portrait) {
  .video_block__video_close {
    right: 15px;
    top: 15px;
  }
}
.video_block__video_close:hover {
  transform: rotate(180deg);
}
