-
    var defaultPageTitle = 'Vintage web production';
    var defaultListItems = [
        {
            img: 'static/img/whyus-1.png',
            title: 'Международная сеть',
            text: 'Высокие стандарты качества услуг и сервиса. Уникальные европейские технологии.'
        },
        {
            img: 'static/img/icon-ukraine.png',
            title: '14 лет на рынке Украины',
            text: '14 лет опыта, развития и процесса постоянного совершенствования.'
        },
        {
            img: 'static/img/whyus-3.png',
            title: 'Одновременные услуги',
            text: 'Минимальное количество времени – максимальное количество услуг. Комплексное обслуживание – мы ценим Ваше время'
        },
        {
            img: 'static/img/whyus-4.png',
            title: 'Творческая и социальная активность',
            text: 'Ежегодное создание модных коллекций образов, участие в значимых фешн событиях и благотворительных проектах. Мы создаем тренды.'
        }
    ];