@import './sections/01_main';
@import './sections/02_backStage';
@import './sections/03_salons';
@import './sections/04_advantages';
@import './sections/05_services';
@import './sections/06_visit';
@import './sections/07_gallery';
@import './sections/08_bonuses';

[data-page='home'] {
  @media (max-width: $minDesktop) {
    overflow-x: hidden
  }

  section {
    position: relative;

    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}