include ../partials/_mixins
include ../partials/_variables

-
    var numbers = [
        [28, 'лет'], [24, 'салона'], [4, 'страны'], [7, 'городов'], [600, 'городов'], [5, 'направлений']
    ];
    var pins = [
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 308, left: 562 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 211, left: 878 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 188, left: 833 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 201, left: 602 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 200, left: 490 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 198, left: 450 }
        },
        {
            title: 'Киев',
            mail: 'lux@maija.com.ua',
            cords: { top: 335, left: 346 }
        }
    ];
    var gallerySettings = {
        sectionMarkNumber: '01',
        sectionMarkText: 'коллекции',
        sectionTitle: 'коллекции',
        hasBtn: false,
        animation: false,
        clearfix: true,
        textsAndSales: {
            mainPhotoText: 'Бизнес процедуры для лица Biologique Recherche',
            mainPhotoSales: true,
            secPhotoTopText: 'Бизнес процедуры для лица Biologique Recherche',
            secPhotoBottomText: 'Бизнес процедуры для лица Biologique Recherche',
            secPhotoBottomSales: true
        },
        className: 'js-reveal'
    }

//- 02_About-us.html CONTENT START
+ornament_animation('ornament_animation-sub ornament_animation-default about_content_ornament-1')

//-
section#numbers.numbers
    .numbers__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
    .numbers__container.js-reveal
        each number in numbers
            .numbers__item
                .numbers__item_number #{number[0]}
                .numbers__item_text #{number[1]}

//-
section#world-map.world-map.js-reveal
    .world-map__title.h1 Салоны Maija по всему миру
    .world-map__inner
        .world-map__bg: img(src = 'static/img/world-map.png')
        each pin in pins
            .world-map__pin(style = 'top: ' + pin.cords.top + 'px;' + ' left: ' + pin.cords.left + 'px;')
                img.world-map__pin_img(src = 'static/img/world-map-pin.png')
                .world-map__pin_popup
                    span #{pin.title}
                    a(href = '#!', target = '_blank') #{pin.mail}

//-
section#careers.careers.js-reveal
    +ornament_animation('ornament_animation-sub ornament_animation-default about_content_ornament-2')
    +ornament_animation('ornament_animation-sub ornament_animation-default about_content_ornament-3')
    .careers__wrapper.clearfix
        .careers__title.h1 карьера
        .careers__info
            .careers__info-title Lorem ipsum dolor sit amet, consectetur adipiscing.
            .careers__info-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        .careers__join
            .careers__join-title Присоединяйтесь к большой дружной команде!
            +button(true, true, 'заполнить форму', 'btn-centered careers__join-button')
    .careers__photo
        img(src = 'static/img/panorama-2.jpg')

//-
+gallery(
    gallerySettings.sectionMarkNumber,
    gallerySettings.sectionMarkText,
    gallerySettings.sectionTitle,
    gallerySettings.hasBtn,
    gallerySettings.animation,
    gallerySettings.textsAndSales,
    gallerySettings.clearfix,
    gallerySettings.className
)