//- extends ../extend/default

//- block variables
//-     -
//-         var title = 'Maija salons - services';
//-         var bodyClass = 'no-preloader';
//-         var activeLink = 2;
//-         var masters = {
//-             title: 'Опытные мастера и профессиональные материалы',
//-             subtitle: 'Приходите к нам на окрашивание! Специальные условия при первом посещении',
//-             btnText: 'проверьте нас в деле'
//-         };

//- block preloader
//- block upButton

//- block main
//-     main(data-page='services')

//-         // Intro section
//-         section.main_screen#main-screen
//-             +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
//-             +main_screen_languages('main_screen_languages--grey')
//-             +main_screen_socials(false, false, 'main_screen_socials--grey')
//-             +breadcrumbs('Услуги салона')
//-             h1.main_screen__title.default_heading.h1 услуги салона
//-             .main_screen__text.default_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

//-         // Slider section
//-         section#tabs.tabs.clearfix.js-reveal
//-             .salons__tabs.c_tabs(data-initial-tab='1')
//-                 .c_tabs__head.c_dropdown.c_dropdown-selectable
//-                     .c_dropdown__title
//-                         .c_dropdown__selected парикмахерские услуги
//-                         .c_dropdown__arrow
//-                     .c_dropdown__options
//-                         ul.c_dropdown__options_inner
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='1') парикмахерские услуги
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='2') косметология
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='3') визаж
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='4') лечение волос
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='5') ногтевой сервис
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='6') мужчинам
//-                             li.c_dropdown__option.c_tabs__option(data-value-index='7') магазин
//-                         .c_tabs__line
//-                 .c_tabs__body
//-                     .c_tabs__body_inner
//-                         a.c_tabs__content(data-content-index='1', href='#1')
//-                             span парикмахерские услуги
//-                             img(src='static/img/services-1.png')
//-                             +button(true, true, "ewfwfwe", 'masters__button')(href="#")
//-                         a.c_tabs__content(data-content-index='2', href='#2')
//-                             span косметология
//-                             img(src='static/img/services-2.png')
//-                         a.c_tabs__content(data-content-index='3', href='#3')
//-                             span визаж
//-                             img(src='static/img/services-1.png')
//-                         a.c_tabs__content(data-content-index='4', href='#4')
//-                             span лечение волос
//-                             img(src='static/img/services-2.png')
//-                         a.c_tabs__content(data-content-index='5', href='#5')
//-                             span ногтевой сервис
//-                             img(src='static/img/services-1.png')
//-                         a.c_tabs__content(data-content-index='6', href='#6')
//-                             span мужчинам
//-                             img(src='static/img/services-2.png')
//-                         a.c_tabs__content(data-content-index='7', href='#7')
//-                             span магазин
//-                             img(src='static/img/services-1.png')
//-                         .c_tabs__animation.c_tabs__animation-left
//-                         .c_tabs__animation.c_tabs__animation-right

//-         // Masters section
//-         section#masters.masters.js-reveal.clearfix
//-             +masters(false, masters.title, masters.subtitle, masters.btnText)