extends ../extend/default

block variables
    -
        var title = 'Maija salons - one service';
        var bodyClass = 'no-preloader';
        var activeLink = 2;
        var servicesItems = [
            { name: 'Стрижка & Укладка', price: 'от 450 до 750 грн' },
            { name: 'Мужская стрижка',   price: 'от 350 до 550 грн' },
            { name: 'Детская стрижка',   price: 'от 165 до 200 грн' },
            { name: 'Укладка',           price: 'от 300 до 750 грн' },
            { name: 'Окрашивание',       price: 'от 600 грн' },
            { name: 'Стрижка & Укладка', price: 'от 450 до 750 грн' },
            { name: 'Мужская стрижка',   price: 'от 350 до 550 грн' },
            { name: 'Детская стрижка',   price: 'от 165 до 200 грн' }
        ];
        var advantagesItems = defaultListItems;
        var logosItems = [
            'static/img/service-logo-1.png',
            'static/img/service-logo-2.png',
            'static/img/service-logo-3.png',
            'static/img/service-logo-1.png',
            'static/img/service-logo-2.png',
            'static/img/service-logo-3.png',
            'static/img/service-logo-1.png'
        ];
        var mastersData = {
            sectionMark: { number: '02', text: 'Бонусная программа' },
            title: 'Параллельно со стрижкой вы можете получить услуги ногтевого сервиса и сэкономить деньги',
            btnText: 'записаться'
        };
        var mastersData2 = {
            title: 'Опытные мастера и профессиональные материалы',
            subtitle: 'Приходите к нам на окрашивание! Специальные условия при первом посещении',
            btnText: 'проверьте нас в деле',
            photo: 'static/img/salons-masters-1.png'
        };
        var gallerySettings = {
            sectionMarkNumber: '03',
            sectionMarkText: 'галерея',
            sectionTitle: 'коллекции',
            hasBtn: true,
            animation: false,
            clearfix: true,
            textsAndSales: false,
            className: 'js-reveal'
        }

block preloader

block main
    main(data-page='service')

        // Intro section
        section#main_screen.main_screen.clearfix
            +main_screen_languages()
            +main_screen_socials(true, true, 'main_screen_socials--mobile-white')
            +breadcrumbs('Услуги салона', 'breadcrumbs--white')
            .main_screen__wrapper
                .main_screen__bg
                    picture
                        source(srcset='static/img/slide-1.jpg', media='(min-width: 768px)')
                        source(srcset='static/img/slide-1_min.png', media='(max-width: 767px)')
                        img(src='static/img/slide-1.jpg', alt='Maija salons')
                h1.main_screen__title.h1.h1--white парикмахерские услуги
            .main_screen__services
                .main_screen__services-container
                    each item in servicesItems
                        .main_screen__services-item
                            span #{item.name}
                            span #{item.price}
                .main_screen__services-label Цены на услуги

        // Advantages
        section#advantages.advantages.js-reveal
            +ornament_animation('ornament_animation-sub ornament_animation-default advantages__ornament')
            +section_mark('01', 'преимущества', false, 'section_mark--no-animation')
            h2.advantages__title.h1 Наши сильные стороны для Вас
            ul.advantages__inner.items
                each item in advantagesItems
                    li.items__item
                        .items__item-img: img(src = item.img)
                        .items__item-title #{item.title}
                        .items__item-text #{item.text}

        // Logos
        section#logos.logos.js-reveal
            .logos__container
                each logo in logosItems
                    .logos__item: img(src = logo)
                .logos__item.logos__item--placeholder
                .logos__item.logos__item--placeholder
                .logos__item.logos__item--placeholder
            +button(false, true, 'смотреть все', 'btn-white btn-line logos__button')(data-opened-state-text = 'скрыть')

        // Masters
        section#masters.masters.clearfix.js-reveal
            +ornament_animation('ornament_animation-sub ornament_animation-default masters__ornament')
            +masters(mastersData.sectionMark, mastersData.title, false, mastersData.btnText)

        // Gallery
        +gallery(
            gallerySettings.sectionMarkNumber,
            gallerySettings.sectionMarkText,
            gallerySettings.sectionTitle,
            gallerySettings.hasBtn,
            gallerySettings.animation,
            gallerySettings.textsAndSales,
            gallerySettings.clearfix,
            gallerySettings.className
        )

        // Online record
        section#masters--sub.clearfix.js-reveal.masters--sub
            +masters(false, mastersData2.title, mastersData2.subtitle, mastersData2.btnText, mastersData2.photo)