extends ../extend/default

block variables
    -
        var title = 'Maija salons - shop';
        var bodyClass = 'no-preloader';
        var activeLink = 2;
        var benefitsItems = [
            {
                img: 'static/img/shop-1.png',
                title: 'Качественный материалы и проверенные бренды'
            },
            {
                img: 'static/img/shop-2.png',
                title: 'Подготовьтесь к мероприятию в одном месте'
            },
            {
                img: 'static/img/shop-3.png',
                title: 'Партнерские цены'
            },
            {
                img: 'static/img/shop-1.png',
                title: 'Подготовьтесь к мероприятию в одном месте'
            }
        ];
        var productsItems1 = [
            {
                label: 'Авторские игрушки, декор и товары для дома',
                img: 'static/img/products-1.png'
            },
            {
                label: 'Товары домашнего ухода ногтевого сервиса',
                img: 'static/img/products-2.png'
            },
            {
                label: 'Товары домашнего ухода для волос',
                img: 'static/img/products-3.png'
            }
        ];
        var productsItems2 = [
            {
                label: 'Товары домашнего ухода для лица и тела',
                img: 'static/img/products-4.png'
            },
            {
                label: 'Одежда и аксессуары',
                img: 'static/img/products-5.png'
            }
        ];

block preloader
block upButton

block main
    main(data-page='shop')

        // Intro section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament-1')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Магазин')
            h1.main_screen__title.default_heading.h1 Магазин
            .main_screen__text.default_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        // Benefits section
        section.benefits#benefits
            ul.benefits__inner.items
                each item in benefitsItems
                    li.items__item
                        .items__item-img: img(src = item.img)
                        .items__item-title #{item.title}

        // Products section
        section.products#products.js-reveal
            +section_mark('01', 'продукция', false, 'section_mark--no-animation')
            +ornament_animation('ornament_animation-sub ornament_animation-default products__ornament')
            .products__container
                .products__row
                    each item in productsItems1
                        a.products__item.js-reveal(href = '#!')
                            .products__item-img: img(src = item.img)
                            .products__item-label #{item.label}
                .products__row
                    .products__item.products__item--text.js-reveal: span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    each item in productsItems2
                        a.products__item.js-reveal(href = '#!')
                            .products__item-img: img(src = item.img)
                            .products__item-label #{item.label}