extends ../extend/default

block variables
    -
        var title = 'Maija salons - one shop';
        var bodyClass = 'no-preloader';
        var activeLink = 2;
        var productItems = [
            {
                img: 'static/img/product-item-1.png',
                logo: 'static/img/service-logo-3.png',
                text: 'Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики.'
            },
            {
                img: 'static/img/product-item-2.png',
                logo: 'static/img/service-logo-1.png',
                text: 'Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики.'
            },
            {
                img: 'static/img/product-item-3.png',
                logo: 'static/img/service-logo-3.png',
                text: 'Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики.'
            },
            {
                img: 'static/img/product-item-4.png',
                logo: 'static/img/service-logo-1.png',
                text: 'Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики.'
            },
            {
                img: 'static/img/product-item-5.png',
                logo: 'static/img/service-logo-3.png',
                text: 'Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики. Французская компания, лидер мирового рынка парфюмерии и косметики.  французская компания, лидер мирового рынка парфюмерии и косметики.'
            }
        ];

block preloader
block upButton

block main
    main(data-page='shop')

        // Intro section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament-2')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Косметика домашнего ухода')
            h1.main_screen__title.default_heading.h1 Косметика домашнего ухода
            .main_screen__text.default_text.main_screen__text--sub
                span.bold Товары можно купить во всех наших салонах
                span Французская компания, лидер мирового рынка парфюмерии и косметики.

        // Product items
        section.product-items#product-items
            +ornament_animation('ornament_animation-sub ornament_animation-default product-items__ornament')
            .product-items__inner
                each item in productItems
                    .product-item.js-reveal
                        .product-item__left: img(src = item.img)
                        .product-item__right
                            .product-item__logo: img(src = item.logo)
                            .product-item__text #{item.text}