extends ../extend/default

block variables
    - var title = 'Maija salons - why us';
    - var bodyClass = 'no-preloader';
    - var activeLink = 5;

block preloader
block upButton

block main
    main(data-page='maija')

        // Intro section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Почему мы')
            h1.main_screen__title.default_heading.h1 #MAIJA
            .main_screen__text.default_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            .main_screen__tabs
                ul.main_screen__tabs-inner
                    li.main_screen__tabs-tab(
                        data-bc-name='#Maija',
                        data-page-url='02_About-us.html',
                        data-content-url='02_About-us__content.html'
                    ): span #maija
                    li.main_screen__tabs-tab.active(
                        data-bc-name='Почему мы',
                        data-page-url='07_Why-us.html',
                        data-content-url='07_Why-us__content.html'
                    ): span почему мы
                .main_screen__tabs-line

        // Main content
        .about_content_wrapper
            include 07_Why-us__content