include ../partials/_mixins
include ../partials/_variables

-
    var whyusItems = defaultListItems;
    var tableItems = [
        {
            img: 'static/img/table-black.png',
            salon: 'black',
            moneyCirculasion: 'от 10 000',
            visitsInMonth: '1',
            directionsCount: '-',
            bonusEarn: '1%',
            bonusSpend: '-'
        },
        {
            img: 'static/img/table-platinum.png',
            salon: 'platinum',
            moneyCirculasion: 'от 10 000',
            visitsInMonth: '1',
            directionsCount: '3',
            bonusEarn: '5%',
            bonusSpend: '20%'
        },
        {
            img: 'static/img/table-gold.png',
            salon: 'gold',
            moneyCirculasion: 'от 15 000',
            visitsInMonth: '2',
            directionsCount: '4',
            bonusEarn: '7%',
            bonusSpend: '20%'
        },
        {
            img: 'static/img/table-silver.png',
            salon: 'silver',
            moneyCirculasion: 'от 20 000',
            visitsInMonth: '3',
            directionsCount: '5',
            bonusEarn: '10%',
            bonusSpend: '30%'
        },
        {
            img: 'static/img/table-white.png',
            salon: 'white',
            moneyCirculasion: 'от 50 000',
            visitsInMonth: '-',
            directionsCount: '-',
            bonusEarn: '10%',
            bonusSpend: '40%'
        }
    ];
    var opportunitiesItems = [
        {
            img: 'static/img/icon-world.png',
            title: 'Можно расплатиться',
            text: 'Описать как и за чтоОписать как и за что. Описать как и за что'
        },
        {
            img: 'static/img/icon-ukraine.png',
            title: 'Можно купить',
            text: 'Описать как и за чтоОписать как и за что Описать как и за что'
        },
        {
            img: 'static/img/icon-clock.png',
            title: 'Можно узнать количество',
            text: 'Описать как и за чтоОписать как и за что. Описать как и за что'
        }
    ];

//- 07_Why-us.html CONTENT START

//-
section#whyus.whyus
    ul.whyus__inner.items
        each item in whyusItems
            li.items__item
                .items__item-img: img(src = item.img)
                .items__item-title #{item.title}
                .items__item-text #{item.text}

//-
section#loyalty.loyalty
    .loyalty__title.h1.js-reveal Уникальная программа лояльности
    .slider-table__buttons.slider-table__buttons--top.slider_custom__nav
        .slider_custom__nav_container
            .slider_custom__prev
                div: +svg('arrow-left')
            .slider_custom__next
                div: +svg('arrow-right')
    table.loyalty__table.slider-table.js-reveal
        thead.slider-table__head
            tr
                td.slider-table__cell Салон
                td.slider-table__cell Оборот,грн
                td.slider-table__cell Количество посещений в месяц
                td.slider-table__cell Количество направлений
                td.slider-table__cell Начисление бонусов от потраченых средств
                td.slider-table__cell Использование бонусов при оплате услуг
        tbody.slider-table__body
            each item in tableItems
                tr.slider-table__row
                    td.slider-table__cell
                        img(src = item.img)
                        span #{item.salon}
                    td.slider-table__cell: span #{item.moneyCirculasion}
                    td.slider-table__cell: span #{item.visitsInMonth}
                    td.slider-table__cell: span #{item.directionsCount}
                    td.slider-table__cell: span #{item.bonusEarn}
                    td.slider-table__cell: span #{item.bonusSpend}
    .slider-table__buttons.slider-table__buttons--bottom.slider_custom__nav
        .slider_custom__nav_container
            .slider_custom__prev
                div: +svg('arrow-left')
            .slider_custom__next
                div: +svg('arrow-right')

//-
section#opportunities.opportunities
    .opportunities__inner
        .opportunities__content.js-reveal
            .opportunities__title.h1.h1--white Больше возможностей
            +section_mark('01', 'преимущества', true, 'section_mark-white section_mark--no-animation')
            ul.opportunities__container.items.items--white
                each item in opportunitiesItems
                    li.items__item
                        .items__item-img: img(src = item.img)
                        .items__item-title #{item.title}
                        .items__item-text #{item.text}

mixin client_service__slider(className, title, wrongOrder)
    .client_service__slider(class = className || '')
        .client_service__slider-title #{title}
        .client_service__slider-content
            .client_service__slider-slides
                if wrongOrder
                    img(src = 'static/img/client_service-2.png')
                    img(src = 'static/img/client_service-1.png')
                else
                    img(src = 'static/img/client_service-1.png')
                    img(src = 'static/img/client_service-2.png')
            .slider_custom__nav
                .slider_custom__nav_container
                    .slider_custom__prev
                        div: +svg('arrow-left')
                    .slider_custom__next
                        div: +svg('arrow-right')
            .client_service__slider-labels
                img(src = 'static/img/quote.png')
                .client_service__slider-label.active(data-related-slide-id = '1')
                    span.text Мой любимый салон! Лучшее девачковое место, где воплощаются в реальность красивые мечты о себе) Мне так нравится, что несколько процедур можно сделать одновременно, эта такая экономия времени! Чудесные мастера незаметно колдуют каждый в своей области, и улучшается не только внешность, но и настроение.
                    span.author Рудякова Александра, Директор украинского представительства аграрной компании "ILTA"
                .client_service__slider-label(data-related-slide-id = '2')
                    span.text Стилисты Международной сети салонов красоты Maija представили новую коллекцию окрашивания волос "Пастельное вдохновение" - стрижки, укладки, вдохновленные самыми актуальными трендами в hair-моде. Ее особенностью стало окрашивание в необычные пастельные тона - кукольный розовый, платиновый, кремовый с пудровой розовинкой, бледно-голубой, лиловый, серый и мятный. Настроение коллекции - расслабленное и свободной, под стать образам моделей, одетых в пижамный street-style. Главное - решиться на перемены, а все остальное сделают специалисты Maija
                    span.author Your Hair №5 (83) осень 2016
                .client_service__slider-label(data-related-slide-id = '2')
                    span.text Один из немногих сетей салонов красоты, которые смогли обеспечить превосходное качество во всех
                    span.author Журнал Viva 2
//-
section#client_service.client_service
    .client_service__text.js-reveal Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .client_service__inner.js-reveal
        +ornament_animation('ornament_animation-sub ornament_animation-default client_service_ornament')
        .client_service__head
            .client_service__title.h1 Клиент- сервис
            .client_service__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        +section_mark('02', 'отзывы', false, 'section_mark--no-animation')
        .client_service__sliders
            +client_service__slider('client_service__slider--speak', 'О нас говорят')
            +client_service__slider('client_service__slider--write', 'О нас пишут', true)

//-
section#online_record.online_record.js-reveal
    .online_record__title.h1 онлайн запись
    +button(true, true, 'записаться', 'online_record__button')