extends ../extend/default

block variables
    -
        var dataPage = 'news';
        var title = 'Maija salons - news';
        var bodyClass = 'no-preloader';
        var activeLink = 3;
        var introSectionTitle = 'Новости';
        var introSectionText = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.';
        var ajaxContent = {
            head: ['все', 'акции', 'новости'],
            body: [
                { img: 'static/img/news-1.png' },
                { img: 'static/img/news-2.png' },
                { img: 'static/img/news-3.png' },
                { img: 'static/img/news-4.png' },
                { img: 'static/img/news-5.png' },
                { img: 'static/img/news-6.png' },
                { img: 'static/img/news-7.png' }
            ],
            ajaxUrl: '08_Actions-and-news__content.html',
            buttonUrl: '08_Actions-and-news__items.html'
        };
        var mastersData = {
            sectionMark: false,
            title: 'Попробуйде нас в деле - приходите к нам на окрашивание. У нас только профессиональные материалы и опытные мастера.',
            subtitle: 'При первом посещении делаем специальные условия',
            btnText: 'проверьте нас в деле'
        };

block preloader
block upButton

block main
    main(data-page = dataPage)

        // Intro section
        section.main_screen#main-screen.clearfix
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs(introSectionTitle)
            h1.main_screen__title.default_heading.h1 #{introSectionTitle}

            block main_screen__text
                .main_screen__text.default_text #{introSectionText}

        // Content section
        section.content#content.clearfix
            +ajax-content(true, ajaxContent.head, ajaxContent.body, ajaxContent.ajaxUrl, ajaxContent.buttonUrl, 0)

        block masters
            // Masters section
            section.masters#masters.clearfix
                +ornament_animation('ornament_animation-sub ornament_animation-default masters__ornament')
                +masters(mastersData.sectionMark, mastersData.title, mastersData.subtitle, mastersData.btnText)


        block video