include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { img: 'static/img/news-5.png' },
        { img: 'static/img/news-6.png' },
        { img: 'static/img/news-3.png' },
        { img: 'static/img/news-4.png' }
    ];
    var ajaxUrl = '08_Actions-and-news__items.html';

.c_tabs__body_inner
    +ajax-content-items(bodyItems)
+button(false, true, 'ПОКАЗАТЬ ЕЩЕ', 'btn-white btn-line c_tabs__button')(data-content-url = ajaxUrl)