include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { img: 'static/img/news-1.png' },
        { img: 'static/img/news-6.png' },
        { img: 'static/img/news-7.png' },
        { img: 'static/img/news-4.png' }
    ];

+ajax-content-items(bodyItems)