extends ../extend/default

block variables
    -
        var dataPage = 'news';
        var title = 'Maija salons - news';
        var bodyClass = 'no-preloader';
        var activeLink = 3;
        var introSectionTitle = 'Бизнес процедуры для лица Biologique Recherche';
        var mastersData = {
            sectionMark: false,
            title: 'онлайн запись',
            subtitle: false,
            btnText: 'записаться'
        };

block preloader
block upButton

block main
    main(data-page = dataPage)

        // Intro section
        section.main_screen.main_screen--article#main-screen.clearfix
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs(introSectionTitle)
            h1.main_screen__title.default_heading.h1 #{introSectionTitle}

        // Article section
        section.article#article
            .article__preview: img(src = 'static/img/article-preview.png')
            .article__container.js-reveal
                .article__content
                    .article__column
                        p Уважаемые клиенты!<br>Международная сеть салонов красоты Maija приглашает воспользоваться специальным пакетным предложением:
                        p: b 3 бизнес-процедуры = 2 200 грн
                    .article__column
                        p На Ваш выбор:
                        ul
                            li «Безупречная гладкость» - Anti age
                            li «Дыхание кожи» - Очищение
                            li «Источник вашего увлажнения» - Увлажнение
                                a(href="#!") Акция!!!
                        p * Пакет действителен в течении месяца с даты покупки. Детали акции уточняйте у администратора салона.
                .article__socials
                    .article__socials_title поделиться
                    ul.article__socials_links
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('facebook')
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('instagram')

        // Online record section
        section.online-record#online-record.clearfix.js-reveal
            +ornament_animation('ornament_animation-sub ornament_animation-default online-record__ornament')
            +masters(mastersData.sectionMark, mastersData.title, mastersData.subtitle, mastersData.btnText)

        // Other news section
        +other-news()(class = 'js-reveal')