include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { img: 'static/img/gallery-1.png', type: 2 },
        { img: 'static/img/gallery-6.png', type: 5, text: 'Видео с UFW Autumn 2016' },
        { img: 'static/img/gallery-2.png', type: 2 },
        { img: 'static/img/gallery-4.png', type: 2, text: 'Коллекция Мама+Я' }
    ];

+ajax-content-items(bodyItems)