extends 08_Actions-and-news

block variables
    -
        var dataPage = 'gallery';
        var title = 'Maija salons - gallery';
        var bodyClass = 'no-preloader';
        var activeLink = 3;
        var introSectionTitle = 'Lookbook';
        var introSectionText = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.';
        var ajaxContent = {
        head: ['все', 'коллекции', 'мероприятия', 'видео'],
        body: [
            { img: 'static/img/gallery-1.png', type: 5 },
            { img: 'static/img/gallery-2.png', type: 2 },
            { img: 'static/img/gallery-3.png', type: 5, text: 'Коллекция La frange' },
            { img: 'static/img/gallery-4.png', type: 2, text: 'Коллекция Мама+Я' },
            { img: 'static/img/gallery-5.png', type: 2, text: 'Virgin beauty Colour Collection FallWinter 2011-12' },
            { img: 'static/img/gallery-6.png', type: 2, text: 'Видео с UFW Autumn 2016' }
        ],
            ajaxUrl: '10_Gallery__content.html',
            buttonUrl: '10_Gallery__items.html'
        };
        var mastersData = {
            sectionMark: false,
            title: 'Попробуйде нас в деле - приходите к нам на окрашивание. У нас только профессиональные материалы и опытные мастера.',
            subtitle: 'При первом посещении делаем специальные условия',
            btnText: 'проверьте нас в деле'
        };

block video
    // videos (fixed, hidden block)
    //.video_block__video
    //    .video_block__video_inner
    //        .video_block__video_close
    //            .video_block__video_close_inner
    //                span
    //                span
    //        video(controls)
    //            source(type='video/mp4')