include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { img: 'static/img/gallery-5.png', type: 2, text: 'Virgin beauty Colour Collection FallWinter 2011-12' },
        { img: 'static/img/gallery-6.png', type: 2, text: 'Видео с UFW Autumn 2016' },
        { img: 'static/img/gallery-3.png', type: 5, text: 'Коллекция La frange' },
        { img: 'static/img/gallery-4.png', type: 2, text: 'Коллекция Мама+Я' }
    ];
    var ajaxUrl = '10_Gallery__items.html';

.c_tabs__body_inner
    +ajax-content-items(bodyItems)
+button(false, true, 'ПОКАЗАТЬ ЕЩЕ', 'btn-white btn-line c_tabs__button')(data-content-url = ajaxUrl)