extends ../extend/default

block variables
    -
        var title = 'Maija salons - gallery in';
        var bodyClass = 'no-preloader';
        var activeLink = 4;
        var introSectionTitle = 'Пастель';
        var sliderImages = [
            'static/img/gallery-item-1.png',
            'static/img/gallery-item-2.png',
            'static/img/gallery-item-3.png',
            'static/img/article-preview.png'
        ];
        var sliderLabels = [
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet molestie massa tristique tempor. Pellentesque rhoncus, lorem in vestibulum aliquet, lacus enim consectetur lectus, eget tristique odio tortor vitae tellus. In eleifend ac enim a congue. Pellentesque egestas erat eu diam rhoncus, sit amet tincidunt felis tincidunt.',
            'Aliquam erat volutpat. Quisque bibendum justo ante, ac tempus orci molestie id. Aenean in metus nec ipsum porta placerat et ac dolor. Aliquam ac sem at felis iaculis commodo. Aenean at feugiat mi. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
            'Aenean pretium leo erat, ac pretium quam semper vitae. Phasellus auctor purus erat. Vivamus quis nunc ut elit lobortis sagittis. Ut placerat felis eu augue ultrices tincidunt.',
            'Nam tempus tincidunt orci, eu mattis urna semper eu. Duis in arcu id sem semper consectetur. Sed fringilla lorem vitae scelerisque sollicitudin. Donec ut lectus a eros placerat sodales. Sed iaculis nec nibh vel lacinia. Etiam eget sodales tellus. Aenean et bibendum sapien. Curabitur molestie mollis magna vitae rhoncus. Suspendisse quis egestas odio.'
        ];
        var gallerySettings = {
            sectionMarkNumber: '01',
            sectionMarkText: 'коллекции',
            sectionTitle: 'Больше коллекций',
            hasBtn: false,
            animation: false,
            clearfix: true,
            textsAndSales: {
                mainPhotoText: 'Видео с UFW Autumn 2016',
                secPhotoTopText: 'Virgin beauty Colour Collection FallWinter 2011-12',
                secPhotoBottomText: 'Группа АРМИЯ перед фотосессией'
            },
            className: 'js-reveal'
        }

block upButton

block main
    main(data-page = 'gallery')

        // Intro section
        section.main_screen.main_screen--in#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages()
            +main_screen_socials(true, false, 'main_screen_socials--mobile-white')
            +breadcrumbs(introSectionTitle, 'breadcrumbs--white')
            .main_screen__container
                h1.main_screen__title.default_heading.h1--white #{introSectionTitle}
                .main_screen__slider
                    each image, index in sliderImages
                        .main_screen__slider-item(data-slide-id = index): img(src = image)
                .main_screen_slider__nav.slider_custom__nav
                    .slider_custom__nav_container
                        .slider_custom__prev
                            div: +svg('arrow-left')
                        .slider_custom__divider
                        .slider_custom__next
                            div: +svg('arrow-right')
                .main_screen__slider-count
                    span.current 01
                    span /
                    span.total 06
            .main_screen__slider-labels
                each label, index in sliderLabels
                    .main_screen__slider-label(class = !index ? 'active' : '', data-related-slide-id = index) #{label}
            .article__container.js-reveal
                .article__socials
                    .article__socials_title поделиться
                    ul.article__socials_links
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('facebook')
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('instagram')

        // Gallery section
        +gallery(
            gallerySettings.sectionMarkNumber,
            gallerySettings.sectionMarkText,
            gallerySettings.sectionTitle,
            gallerySettings.hasBtn,
            gallerySettings.animation,
            gallerySettings.textsAndSales,
            gallerySettings.clearfix,
            gallerySettings.className
        )