extends ../extend/default

block variables
    -
        var title = 'Maija salons - franchise';
        var bodyClass = 'no-preloader';
        var activeLink = 6;
        var numbers = [
            [14, 'лет успешного ведения бизнеса в Украине'],
            [3, 'салона в Киеве'],
            [5, 'направлений'],
            [90, 'сотрудников', 'более'],
            ['13 000', 'клиентов'],
            [12, '% годичного роста', 'более']
        ];
        var franchiseItems = [
            {
                img: 'static/img/franchise-1.png',
                text: 'Легкий старт в сотрудничесве. Легкий старт в сотрудничесве'
            },
            {
                img: 'static/img/franchise-2.png',
                text: 'Присоединение к партнерской системе поставщиков'
            },
            {
                img: 'static/img/franchise-3.png',
                text: 'Присоединение к партнерской системе поставщиков. Присоединение к партнерской системе поставщиков. Присоединение к партнерской системе поставщиков'
            },
            {
                img: 'static/img/franchise-4.png',
                text: 'Минимизация рисков по ведению бизнеса. Минимизация рисков по ведению бизнеса. Минимизация рисков по ведению бизнеса'
            },
            {
                img: 'static/img/franchise-5.png',
                text: 'Присоединение к уникальному программному обеспечению'
            },
            {
                img: 'static/img/franchise-6.png',
                text: 'Присоединение к эффективной программе лояльности'
            }
        ];
        var masters = {
            sectionMark: {
                number: '01',
                text: 'сотрудничество'
            },
            title: 'Вложите деньги в красивый и успешный бизнес!',
            subtitle: 'Для получения дополнительной информации отпраьте заявку',
            btnText: 'отправить заявку'
        };

block preloader
block upButton

block main
    main(data-page='franchise')

        // Intro section
        section.main_screen#main-screen.clearfix
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Франшиза')
            h1.main_screen__title.default_heading.h1 Франшиза

        // Numbers section
        section#numbers.numbers
            .numbers__container
                each number in numbers
                    .numbers__item
                        if number[2]
                            .numbers__item_label #{number[2]}
                        .numbers__item_number #{number[0]}
                        .numbers__item_text #{number[1]}

        // Franchise section
        section#franchise.franchise
            .franchise__title.h1.js-reveal Франчайзинг в Украине
            .franchise__text.js-reveal
                p Франчайзинговый салон является частью международной сети, что дает дополнительные преимущества. Специалисты компании сопровождают франчайзи на всех этапах становления и работы бизнеса,  делятся опытом и знаниями, поддерживают в сложных ситуациях и помогают принимать правильные решения за счет собственного опыта. Франчайзинговый салон является частью международной сети, что дает дополнительные преимущества. Специалисты компании сопровождают франчайзи на всех этапах становления и работы бизнеса.
            .franchise__advantages.js-reveal
                .franchise__advantages-title Преимущества работы с нами:
                .franchise__advantages-container
                    each item in franchiseItems
                        .franchise__advantages-item
                            .container: img(src = item.img)
                            span #{item.text}

        // Cooperation section
        section#cooperation.cooperation.clearfix.js-reveal
            +ornament_animation('ornament_animation-sub ornament_animation-default cooperation__ornament')
            +masters(masters.sectionMark, masters.title, masters.subtitle, masters.btnText, false, true)
