extends ../extend/default

block variables
    -
        var title = 'Maija salons - salons';
        var bodyClass = 'no-preloader';
        var activeLink = 1;
        var salonsItems = [
            {
                img: 'static/img/salons-1.jpg',
                name: 'Maija Плюс',
                address: 'ул. Большая Васильковская, 132',
                numbers: ['+38 (044) 529-45-99', '+38 (097) 354-84-77']
            },
            {
                img: 'static/img/salons-2.jpg',
                name: 'Maija Люкс',
                address: 'б-р Т. Шевченко, 10',
                numbers: ['+38 (044) 206-20-07', '+38 (067) 232-17-42']
            },
            {
                img: 'static/img/salons-3.jpg',
                name: 'Maija Стиль',
                address: 'ул. Бастинная, 8/2',
                numbers: ['+38 (044) 285-30-39', '+38 (067) 503-83-10']
            },
            {
                img: 'static/img/salons-4.jpg',
                name: 'Maija New',
                address: 'ул. Героев Сталинграда, 6'
            },
            {
                img: 'static/img/salons-5.jpg',
                name: 'Maija-Kids',
                address: 'ул. Бастинная, 8/2',
                numbers: ['+38 (044) 285-30-39', '+38 (067) 503-83-10']
            }
        ];

block preloader
block upButton

block main
    main(data-page='salons')

        // Intro section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-sub ornament_animation-default main_screen__ornament')
            +main_screen_languages('main_screen_languages--grey')
            +main_screen_socials(false, false, 'main_screen_socials--grey')
            +breadcrumbs('Салоны')
            h1.main_screen__title.default_heading.h1 Салоны
            .main_screen__text.default_text.main_screen__text
                span.bold Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        // Salons section
        section.salons#salons.clearfix
            each item in salonsItems
                .salons__item.js-reveal
                    .salons__item_title.salons__item_title--mobile #{item.name}
                    .salons__item_bg: img(src = item.img)
                    .salons__item_info
                        .salons__item_title.salons__item_title--desktop #{item.name}
                        if item.address
                            a(href = '#!').salons__item_address #{item.address}
                        if item.numbers
                            .salons__item_numbers
                                each number in item.numbers
                                    a(href = 'tel:' + number) #{number}
                        .salons__item_work
                            p Понедельник-суббота с 9:00-21:00
                            p Воскресенье с 11:00-19:00
                        a.salons__item_button(href = '#!')
                            +button(true, true, 'подробнее о салоне', 'btn-white')


