extends ../extend/default

block variables
    -
        var title = 'Maija salons - salons single item';
        var bodyClass = 'no-preloader';
        var activeLink = 1;
        var introSectionTitle = 'Maija - Стиль';
        var sliderImages = [
            'static/img/salons-1.jpg',
            'static/img/salons-2.jpg',
            'static/img/salons-3.jpg'
        ];
        var masters = {
            title: 'Опытные мастера и профессиональные материалы',
            subtitle: 'Приходите к нам на окрашивание! Специальные условия при первом посещении',
            btnText: 'проверьте нас в деле',
            photo: 'static/img/salons-masters-1.png'
        };
        var teamSections = [
            {
                title: 'Административный персонал',
                items: [
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Старший менеджер'
                    },
                    {
                        img: 'static/img/team-2.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Менеджер'
                    },
                    {
                        img: 'static/img/team-3.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Администратор'
                    },
                    {
                        img: 'static/img/team-4.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Администратор'
                    }
                ]
            },
            {
                title: 'Парикмахерское направление',
                items: [
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Арт-директор'
                    },
                    {
                        img: 'static/img/team-2.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Топ-стилист'
                    },
                    {
                        img: 'static/img/team-3.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Стилист'
                    },
                    {
                        img: 'static/img/team-4.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Парикмахер'
                    }
                ]
            },
            {
                title: 'Ногтевой сервис',
                items: [
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Арт-директор'
                    },
                    {
                        img: 'static/img/team-2.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Топ-мастер'
                    },
                    {
                        img: 'static/img/team-3.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Мастер'
                    },
                    {
                        img: 'static/img/team-4.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Топ-мастер'
                    },
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Арт-директор'
                    },
                    {
                        img: 'static/img/team-2.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Топ-мастер'
                    }
                ]
            },
            {
                title: 'Косметология',
                items: [
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Топ-косметолог'
                    },
                    {
                        img: 'static/img/team-2.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Косметолог'
                    },
                    {
                        img: 'static/img/team-3.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Топ-косметолог'
                    },
                    {
                        img: 'static/img/team-4.png',
                        title: 'Лебедева Татьяна',
                        subtitle: 'Косметолог'
                    }
                ]
            },
            {
                title: 'Визаж',
                items: [
                    {
                        img: 'static/img/team-1.png',
                        title: 'Козаченко Виктория',
                        subtitle: 'Топ-визажист'
                    }
                ]
            }
        ];


block preloader

block popup
    +popup--online-record()
    +popup--master()

block inlineScripts
    script.
      document.createElement('picture');
      window.applicationServerPublicKey =
        'BEd6Q-l-u7MNah6eRBUY9tiqGoWwYEY9auxLrnfq2ZyFyCR3q5g6ZcbbjrHRe0pSK9AT_aVn0a7Hbz43JNpI2CU';
      window.gmaps = {
        url: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBTVVmm4o46KwXR4BvWM7W-QHDrknjfau0',
        center: { lat: 50.417637, lng: 30.552648 },
        zoom: 18,
        markers: [
          {
            lat: '50.417637',
            lng: '30.552648',
            title: 'Maija salons',
            desc: 'г. Киев, ул. Бастионная, 8/2'
          }
        ]
      };

block main
    main(data-page = 'salons')

        // Intro section
        section.main_screen.main_screen--in#main-screen
            +main_screen_languages()
            +main_screen_socials(true, false, 'main_screen_socials--mobile-white')
            +breadcrumbs(introSectionTitle, 'breadcrumbs--white')
            .main_screen__container
                h1.main_screen__title.default_heading.h1--white #{introSectionTitle}
                .main_screen__slider
                    each image in sliderImages
                        .main_screen__slider-item: img(src = image)
                .main_screen_slider__nav.slider_custom__nav
                    .slider_custom__nav_container
                        .slider_custom__prev
                            div: +svg('arrow-left')
                        .slider_custom__divider
                        .slider_custom__next
                            div: +svg('arrow-right')
                .main_screen__slider-count
                    span.current 01
                    span /
                    span.total 00

        // Contacts section
        section#contacts.contacts
            +ornament_animation('ornament_animation-sub ornament_animation-default contacts__ornament')
            +section_mark('01', 'контакты', false, 'section_mark--no-animation')
            .contacts__inner
                h2.h1.contacts__title.js-reveal контакты салона
                .contacts__data.js-reveal
                    a(href="#!").salons__item_address ул. Бастионная, 8/2
                    .salons__item_numbers
                        a(href = 'tel:(044) 285-30-39') (044) 285-30-39
                        a(href = 'tel:(044) 285-13-07') (044) 285-13-07
                        a(href = 'tel:(067) 503-83-10') (067) 503-83-10
                    .salons__item_work
                        span Понедельник-суббота с 9:00-21:00
                        span Воскресенье с 11:00-19:00
                    .salons__item_button(data-popup-target = 'online-record', data-popup-remote = 'static/json/online-record.json')
                        +button(true, true, 'Записаться-онлайн')
                .contacts__map.js-reveal: #map
            .contacts__masters.clearfix.js-reveal
                +masters(false, masters.title, masters.subtitle, masters.btnText, masters.photo)

        // Team section
        section#team.team
            +ornament_animation('ornament_animation-sub ornament_animation-default team__ornament')
            +section_mark('02', 'наши специалисты', false, 'section_mark--no-animation')
            h2.h1.team__title.js-reveal Команда
            .team__inner
                each section in teamSections
                    .team__section.js-reveal
                        .team__section_title #{section.title}
                        .team__section_container
                            each item in section.items
                                .team__item(data-popup-target = 'master', data-popup-remote = 'static/json/master.json')
                                    .team__item_img: img(src = item.img)
                                    .team__item_title #{item.title}
                                    .team__item_subtitle #{item.subtitle}
                            .team__item--placeholder
                            .team__item--placeholder
                            .team__item--placeholder
                            .team__section_nav.slider_custom__nav
                                .slider_custom__nav_container
                                    .slider_custom__prev
                                        div: +svg('arrow-left')
                                    .slider_custom__divider
                                    .slider_custom__next
                                        div: +svg('arrow-right')

        // Online record
        section#online-record.online-record.clearfix.js-reveal
            +ornament_animation('ornament_animation-sub ornament_animation-default online-record__ornament')
            h2.h1.online-record__title онлайн запись
            .online-record__button(data-popup-target = 'online-record', data-popup-remote = 'static/json/online-record.json')
                +button(true, true, 'записаться')