extends 08_Actions-and-news

block variables
    -
        var dataPage = 'search-results';
        var title = 'Maija salons - search results';
        var bodyClass = 'no-preloader';
        var activeLink = null;
        var introSectionTitle = 'Результат поиска';
        var ajaxContent = {
            head: ['все', 'акции', 'новости', 'услуги'],
            body: [
                { img: 'static/img/news-1.png', type: 3 },
                { img: 'static/img/news-2.png', type: 3 },
                { type: 4 },
                { img: 'static/img/news-4.png', type: 3 },
                { img: 'static/img/news-5.png', type: 3 },
                { type: 4 },
                { img: 'static/img/news-7.png', type: 3 }
            ],
            ajaxUrl: '15_Search-results__content.html',
            buttonUrl: '15_Search-results__items.html'
        };

block preloader
block upButton
block masters

block main_screen__text
    .main_screen__text
        .main_screen__text_search
            .footer__input_field_title поиск по сайту
            .c_input.form-group
                label.c_input__placeholder.control-label Введите ваш запрос
                input.c_input__input.form-control(type='text')
                button.footer__btn.footer__btn-search(type='submit'): +svg('search')
        .main_screen__text_results
            span К сожалению, по запросу <b>«Товары»</b> ничего не найдено.
            span.no-result Популярные запросы:
                a(href = '#!') маникюр
                a(href = '#!') укладка волос