include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { type: 4 },
        { img: 'static/img/news-2.png', type: 3 },
        { type: 4 },
        { img: 'static/img/news-7.png', type: 3 }
    ];
    var ajaxUrl = '15_Search-results__items.html';

.c_tabs__body_inner
    +ajax-content-items(bodyItems)
+button(false, true, 'ПОКАЗАТЬ ЕЩЕ', 'btn-white btn-line c_tabs__button')(data-content-url = ajaxUrl)