include ../partials/_mixins
include ../partials/_variables

-
    var bodyItems = [
        { img: 'static/img/news-1.png' },
        { type: 4 },
        { img: 'static/img/news-7.png' },
        { type: 4 }
    ];

+ajax-content-items(bodyItems)