extends ../extend/default

block variables
    -
        var title = 'Maija salons - page not found';
        var bodyClass = 'no-preloader';

block preloader
block upButton

block main
    main(data-page = '404')

        // 404 Not found
        section#not-found.not-found
            +ornament_animation('ornament_animation-sub ornament_animation-default not-found__ornament')
            h1.not-found__title 404
            .not-found__container
                .not-found__label Page not found
                a.not-found__button(href = 'home.html'): +button(true, true, 'home page')