extends ../extend/default

block variables
    -
        var title = 'Maija salons - gallery in';
        var bodyClass = 'no-preloader';
        var introSectionTitle = 'Новые технологии в окрашивании волос: интервью нашего ведущего специалиста';
        var gallerySettings = {
            sectionMarkNumber: '01',
            sectionMarkText: 'коллекции',
            sectionTitle: 'Больше коллекций',
            hasBtn: false,
            animation: false,
            clearfix: true,
            textsAndSales: {
            mainPhotoText: 'Видео с UFW Autumn 2016',
            secPhotoTopText: 'Virgin beauty Colour Collection FallWinter 2011-12',
            secPhotoBottomText: 'Группа АРМИЯ перед фотосессией'
            },
            className: 'js-reveal'
        }

block main
    main(data-page = 'gallery')
        // Intro section
        section.main_screen.main_screen--in#main-screen
            +main_screen_languages()
            +main_screen_socials(true, false, 'main_screen_socials--mobile-white')
            +breadcrumbs(introSectionTitle, 'breadcrumbs--white')
            .main_screen__container.main_screen__container_video
                h1.main_screen__title.default_heading.h1--white #{introSectionTitle}
                .c_tabs--ajax
                    .c_tabs__ajax-item.c_tabs__ajax-item--5.video_block
                        .c_tabs__ajax-item_video-container
                            .c_tabs__ajax-item_img
                                img(src="https://i.ytimg.com/vi/QX4j_zHAlw8/maxresdefault.jpg")
                                video
                                    source(type='video/mp4' src="static/video/screen-1.mp4")
                            .c_tabs__ajax-item_play.video_block__play
                                .video_block__play_inner
                                    span
                                    span
                                    span
                                        .video_block__play_triangle
                                            span
                                            span
            .article__container.js-reveal
                .article__socials
                    .article__socials_title поделиться
                    ul.article__socials_links
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('facebook')
                        li.article__socials_link: a(href = '#!', target = '_blank'): +svg('instagram')

        // Gallery section
        +gallery(
            gallerySettings.sectionMarkNumber,
            gallerySettings.sectionMarkText,
            gallerySettings.sectionTitle,
            gallerySettings.hasBtn,
            gallerySettings.animation,
            gallerySettings.textsAndSales,
            gallerySettings.clearfix,
            gallerySettings.className
        )

        block upButton