extends ../extend/default

block footer
block upButton
block variables
    -
        var title = 'Offline page';
        var bodyClass = 'no-preloader';
        var activeLink = null;

block main

    main(data-page='offline')

        section#offline.offline
            .offline__title Offline
            .offline__item
                a(href = 'tel: (044) 594-55-55') Тел. (044) 594-55-55
                a(href = 'tel: (093) 432-22-12') Тел. (093) 432-22-12
                a(href = 'tel: (066) 476-95-95') Тел. (066) 476-95-95