@font-face {
  font-family: 'Futura-PTBold';
  src: url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.eot");
  src: url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.eot?#iefix") format('embedded-opentype'), url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.woff") format('woff'), url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.woff2") format('woff2'), url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.ttf") format('truetype'), url("../fonts/Futura_PT_Bold/futura-pt-bold-587e2b28316ed.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/HelveticaNeue.eot");
  src: url("../fonts/Helvetica/HelveticaNeue.eot?#iefix") format('embedded-opentype'), url("../fonts/Helvetica/HelveticaNeue.woff") format('woff'), url("../fonts/Helvetica/HelveticaNeue.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/Helvetica/HelveticaNeue-Bold.eot");
  src: url("../fonts/Helvetica/HelveticaNeue-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Helvetica/HelveticaNeue-Bold.woff") format('woff'), url("../fonts/Helvetica/HelveticaNeue-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: bold;
}
