.js-reveal {
  visibility: hidden;
}
.h1 {
  font-family: $Futura-PT-Bold;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.4px;
  font-size: 60px;
  line-height: 66px;

  &--white {
    color: #fff;
  }
}
@media (max-width: $minDesktop) {
  .h1 {
    font-size: 56px;
    line-height: 57px;
  }
}
@media (max-width: $minTablet) {
  .h1 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 2px;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text span {
  color: #4d4d4d;
  font-family: $Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
.text-white span {
  color: #fff;
}
.anim_finished {
  transition: all 0.5s ease !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}
.anim_finished-64 {
  transition: all 0.4s ease !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}
.anim_finished-30 {
  transition: all 0.5s ease !important;
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}
.anim_finished-30-none {
  transition: all 0.5s ease !important;
  opacity: 1 !important;
  transform: none !important;
}
