@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating-back {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotatingCircle {
  0% {
    transform: rotate(0) !important;
  }

  50% {
    transform: rotate(360deg) !important;
  }

  100% {
    transform: rotate(0) !important;
  }
}
@keyframes headerButtonDots-in {
  50% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes headerButtonDots-in-white {
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes headerButtonDots-out {
  50% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
@keyframes headerButtonDots-out-white {
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}
@keyframes headerButtonHover-in {
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
@keyframes headerButtonHover-in-white {
  50% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}
@keyframes headerButtonHover-out {
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}
@keyframes headerButtonHover-out-white {
  50% {
    color: #fff;
  }
  100% {
    color: #000;
  }
}
