@mixin object-fit($fit: none, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: ' + $fit +'; object-position: ' + $position + ';'
  } @else {
    font-family: 'object-fit: ' + $fit;
  }
}

@mixin flex($align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin triangle($color, $borders, $height: (($borders * 2) * 0.866%)) {
  width: 0;
  height: 0;
  border-top: $borders solid transparent;
  border-left: $height solid $color;
  border-bottom: $borders solid transparent;
}

@mixin centerAbsolute() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

@mixin placeholder() {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  :-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  :-moz-placeholder { /* Firefox 18- */
    @content;
  }
}