.icon-arrow-left {
  width: 0.58em;
  height: 1em;
  fill: #010002;
  stroke: initial;
}
.icon-arrow-right {
  width: 0.58em;
  height: 1em;
  fill: #010002;
  stroke: initial;
}
.icon-decor-part1-white {
  width: 1.02em;
  height: 1em;
  fill: none;
  stroke: #fff;
}
.icon-decor-part1 {
  width: 1.02em;
  height: 1em;
  fill: none;
  stroke: #232020;
}
.icon-decor-part2 {
  width: 1.02em;
  height: 1em;
  fill: none;
  stroke: #232020;
}
.icon-facebook {
  width: 0.5em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-instagram {
  width: 0.99em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-maija-logo {
  width: 2.41em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-search {
  width: 0.95em;
  height: 1em;
  fill: currentColor;
  stroke: initial;
}
.icon-vintage-logo {
  width: 0.73em;
  height: 1em;
  fill: #C0BFBE;
  stroke: initial;
}
