//fonts
$FuturaBold: 'Futura-Bold', sans-serif;
$FuturaRegular: 'Futura-Regular', sans-serif;
$Futura-PT-Bold: 'Futura-PTBold', sans-serif;
$Helvetica: 'Helvetica', sans-serif;

// media
$oldDesktop: 1279px;
$desktop: 1240px;
$tablet: 768px;
$minDesktop: $desktop - 1px;
$minTablet: $tablet - 1px;

// helpers
$defaultOrnamentWidth: 487px;
$defaultOrnamentHeight: 547px;