[data-page = '404'] {
  position: relative;
  overflow: hidden;

  .not-found {
    position: relative;

    margin-top: 105px;
    margin-bottom: 33px;

    @media (max-width: $minDesktop) {
      margin-top: 55px;
      margin-bottom: 0;
    }

    @media (max-width: $minTablet) {
      margin-bottom: 73px;
      margin-top: 109px;
    }

    &__ornament {
      top: -60px;
      right: 20px;

      width: $defaultOrnamentWidth * 1.9;
      height: $defaultOrnamentWidth * 1.9;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        top: -60px;
        right: -80px;

        width: $defaultOrnamentWidth * 1.45;
        height: $defaultOrnamentWidth * 1.45;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }

    &__title {
      position: relative;

      width: 100%;

      color: #eaeaea;
      font-family: $Futura-PT-Bold;
      font-size: 475px;
      text-transform: uppercase;
      text-align: center;
      font-weight: initial;

      @media (min-width: $tablet) {
        line-height: 550px;
      }

      @media (max-width: $minDesktop) {
        font-size: 382px;
      }

      @media (max-width: $minTablet) {
        font-size: 163px;
      }
    }

    &__container  {
      position: absolute;

      width: 280px;

      left: calc(50% - 140px);
      top: 332px;

      @media (max-width: $minDesktop) {
        top: 298px;
        left: calc(50% - 110px);

        width: 220px;
      }

      @media (max-width: $minTablet) {
        position: relative;

        bottom: auto;
        top: auto;
        left: auto;

        width: 100%;
        max-width: 290px;

        margin: -20px auto 0;
      }
    }

    &__label {
      width: 100%;

      margin-bottom: 35px;

      text-align: center;
      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 24px;
      line-height: 28px;

      @media (max-width: $minTablet) {
        margin-bottom: 15px;
      }
    }

    &__button {
      display: block;
      width: 100%;
      height: 50px;

      background-color: #000000;

      @media (max-width: $minTablet) {
        height: 60px;
      }

      .btn {
        > div {
          margin-left: -10px;
        }
      }
    }
  }
}