[data-page = 'franchise'] {

  @media (max-width: $minDesktop) {
    position: relative;
    overflow: hidden;
  }

  .main_screen {
    position: relative;

    &__title {
      @media (min-width: $tablet) {
        position: relative;

        left: 0;
        top: 0;

        margin-left: 194px;

        @media (max-width: $minDesktop) {
          margin-left: 84px;
          margin-top: 151px;
          padding-top: 0;
        }
      }
    }

    &__ornament {
      top: 65px;
      right: -50px;

      width: $defaultOrnamentWidth * 2;
      height: $defaultOrnamentWidth * 2;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        top: 350px;
        right: 0;

        width: $defaultOrnamentWidth * 1.5;
        height: $defaultOrnamentWidth * 1.5;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .numbers {
    margin-top: 71px;

    @media (max-width: $minDesktop) {
      margin-top: 24px;

      overflow: hidden;
    }

    @media (max-width: $minTablet) {
      margin-top: 20px;

      overflow: hidden;
    }

    &.active {
      .numbers__item_label {
        top: 4px;
      }
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      padding: 0 139px 0 93px;

      @media (max-width: $minDesktop) {
        padding: 0 70px 0 43px;
      }

      @media (max-width: $minTablet) {
        padding: 0;
        display: block;
      }
    }

    &__item {
      position: relative;
      margin-bottom: 12px;

      @media (max-width: $minDesktop) {
        margin-bottom: 5px;
      }

      @media (max-width: $minTablet) {
        text-align: center;
        margin-bottom: 0;

        &:not(:first-child) {
          margin-top: -7px;
        }
      }

      @media (min-width: $tablet) {
        &:nth-child(1) {
          .numbers__item_text {
            width: 160px;
            max-width: none;
          }
        }

        &:nth-child(2) {
          margin-left: 90px;
        }

        &:nth-child(5) {
          margin-right: 112px;

          @media (max-width: $minDesktop) {
            margin-right: 9.9vw;

            @media (orientation: landscape) {
              margin-left: 10vw;
              transform: translateX(-10vw);
            }
          }

          .numbers__item_text {
            left: auto;
            right: 0;

            transform: translate3d(50%, -50%, 0);
          }
        }

        &:last-child {
          margin-right: auto;

          .numbers__item_text {
            width: 160px;
            max-width: none;

            transform: translate3d(-20%, -50%, 0);
          }

          .numbers__item_label {
            left: 20px;
          }
        }
      }

      &_text {
        position: absolute;

        top: 49%;
        left: 69%;

        max-width: 128px;
        min-width: 52px;

        transform: translate3d(0, -50%, 0);

        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;

        z-index: 1;

        @media (max-width: $minDesktop) {
          top: 52%;
        }

        @media (max-width: $minTablet) {
          width: 100%;
          max-width: 160px;

          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }

      &_number {
        color: #eaeaea;
        font-family: $Futura-PT-Bold;
        font-size: 160px;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;

        @media (max-width: $minDesktop) {
          font-size: 100px;
        }

        @media (max-width: $minTablet) {
          font-size: 95px;
        }
      }

      &_label {
        position: absolute;

        left: 3px;
        top: -5px;

        color: #eaeaea;
        font-family: $Futura-PT-Bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;

        @media (max-width: $minDesktop) {
          top: -3px;
        }

        @media (max-width: $minTablet) {
          position: relative;

          left: 0;
          top: auto;
          bottom: -20px;

          width: 100%;
          height: 24px;
        }
      }
    }
  }

  .franchise {
    margin-top: 62px;

    @media (max-width: $minDesktop) {
      margin-top: 24px;
    }

    @media (max-width: $minTablet) {
      margin-top: 31px;
    }

    &__title {
      max-width: 550px;
      margin-left: 196px;

      @media (max-width: $minDesktop) {
        margin-left: 83px;
      }

      @media (max-width: $minTablet) {
        margin-left: 0;
        max-width: none;
        width: 100%;
        padding: 0 15px;
      }
    }

    &__text {
      margin-top: 57px;
      margin-left: 196px;

      width: 800px;
      color: #4c4c4c;
      font-family: $Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      @media (max-width: $minDesktop) {
        width: 78%;

        margin-left: 85px;
        margin-top: 26px;
      }

      @media (max-width: $minTablet) {
        margin-left: 0;
        margin-top: 21px;

        max-width: none;
        width: 100%;
        padding: 0 15px;
      }
    }

    &__advantages {
      padding-left: 194px;
      margin-top: 63px;

      @media (max-width: $minDesktop) {
        padding-left: 86px;
        margin-top: 43px;
      }

      @media (max-width: $minTablet) {
        padding: 0 15px;
      }

      &-title {
        width: 280px;
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;

        @media (max-width: $minTablet) {
          width: 100%;
          text-align: center;
        }
      }

      &-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        max-width: 1000px;
        margin-top: 55px;

        @media (max-width: $minDesktop) {
          margin-top: 38px;
          max-width: calc(100% - 70px);
        }

        @media (max-width: $minTablet) {
          max-width: none;
          width: 100%;
          margin-top: 28px;
        }
      }

      &-item {
        display: flex;
        //align-items: center;
        justify-content: flex-start;
        width: 29%;
        margin-bottom: 25px;
        @media (min-width: $desktop) {
          &:nth-child(3n + 1) {
            width: 25.5%;
          }

          &:not(:nth-child(3n + 1)) {
            margin-left: 13px;
          }

          &:nth-child(3n) {
            margin-left: 48px;
          }
        }

        @media (max-width: $minDesktop) and (min-width: $tablet) {
          width: 50%;

          &:nth-child(even) {
            padding-left: 20px;
          }
        }

        @media (max-width: $minTablet) {
          flex-wrap: wrap;
          justify-content: center;

          width: 100%;

          text-align: center;

          margin-bottom: 29px;
        }

        .container {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          width: 55px;
          height: 55px;

          @media (max-width: $minTablet) {
            width: 100%;
            justify-content: center;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        span {
          display: inline-block;

          max-width: 210px;
          margin-left: 20px;

          color: #4c4c4c;
          font-family: $Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;

          @media (max-width: $minTablet) {
            max-width: 215px;

            margin-left: 0;
            margin-top: 19px;
          }
        }
      }
    }
  }

  .cooperation {
    position: relative;
    margin-top: 166px;
    margin-bottom: 155px;

    @media (max-width: $minDesktop) {
      margin-top: 56px;
      margin-bottom: 82px;

      @media (min-width: $tablet) and (orientation: landscape) {
        display: flex;
        justify-content: center;

        .masters__left {
          margin-right: 14vw;
        }
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 27px;
      margin-bottom: 120px;

      padding: 0 15px;
    }

    .section_mark {
      position: absolute;

      left: 0;
      top: -85px;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    .masters {
      &__left {
        margin-top: 26px;

        @media (max-width: $minDesktop) {
          margin-top: -11px;
        }
      }

      &__right {
        @media (max-width: $minTablet) {
          display: block;
          width: 100%;

          margin: 60px 0 0 0 ;

          padding: 0;

          > img {
            height: 376px;
          }
        }
      }
    }

    &__ornament {
      top: -105px;
      right: 200px;

      width: $defaultOrnamentWidth * 1.65;
      height: $defaultOrnamentWidth * 1.65;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .masters {
    &__title {
      @media (max-width: $minTablet) {
        max-width: none;
      }
    }

    &__subtitle {
      @media (max-width: $minTablet) {
        width: auto;
      }
    }

    &__cooperation {
      @media (max-width: $minTablet) {
        max-width: none;
      }
    }
  }
}