[data-page = 'gallery'] {
  position: relative;

  @media (max-width: $minDesktop) {
    overflow: hidden;
  }

  .main_screen {
    // single gallery item intro section
    &__slider-label > p > strong {
      font-family: "HelveticaBold", bold;
    }

    &--in {
      @media (min-width: $desktop) {
        position: relative;
        &::before {
          content: '';
          background-color: #000;
          display: block;
          position: absolute;
          transform: translateY(-100%);
          height: 80px;
          width: 100%;
          top: 0;
          left: 0;
        }
      }
      .main_screen_languages {
        top: 23px;
        @media (max-width: $minDesktop) and (min-width: $tablet) {
          top: 92px;
        }
        @media (max-width: $minTablet) {
          top: 64px;
        }
      }
      .breadcrumbs {
        top: 23px;
        li {
          &.active {
            span {
              color: #bfbfbf;
            }
          }

          &:hover {
            a, span {
              color: #bfbfbf;
            }
          }
        }
        @media (max-width: $minDesktop) and (min-width: $tablet) {
          top: 90px;
          &:before {
            color: #ffffff;
          }
        }
        @media (max-width: $minTablet) {
          top: 117px;
        }
      }

      .main_screen {
        &__title {
          position: absolute;

          margin: 0;
          padding: 0;

          left: 80px;
          top: 51%;

          max-width: 950px;

          transform: translateY(-50%);

          font-size: 60px;
          font-family: $Futura-PT-Bold;
          line-height: 68px;
          text-transform: uppercase;
          letter-spacing: 4px;

          z-index: 2;

          @media (max-width: $minDesktop) {
            position: absolute;
            margin: 0;

            left: 87px;
            top: 52%;

            font-size: 56px;
            line-height: 57px;
          }

          @media (max-width: $minTablet) {
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 2.5px;

            padding: 0;

            top: 49%;
            left: 12px;
          }
        }

        &__container {
          position: relative;
          margin-top: 80px;
          width: 1164px;
          height: 680px;
          margin-left: 116px;
          &_video {
            .video_block {
              width: 100%;
              video {
                width: 100%;
                vertical-align: middle;
              }
            }
            .c_tabs--ajax {
              z-index: 0;
            }
            .c_tabs__ajax-item_img {
              img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                -o-object-fit: cover;
                object-fit: cover;
                font-family: 'object-fit: cover';
                opacity: 1;
                visibility: visible;
                transition: opacity .4s;
              }
            }
            .main_screen__title {
              font-size: 32px;
              line-height: 40px;
              pointer-events: none;
              top: calc(50% + 210px);
              opacity: 1;
              transition: opacity .4s;
            }
          }
          &.video-played {
            .c_tabs__ajax-item_video-container::before {
              display: none;
            }
            .c_tabs__ajax-item_img {
              img {
                opacity: 0;
                visibility: hidden;
              }
            }
            .video_block__play {
              display: none;
            }
            .main_screen__title {
              opacity: 0;
            }
          }
          @media (max-width: $minDesktop) {
            width: 100%;
            height: 611px;
            margin: 0;
            &_video {
              height: auto;
              .c_tabs--ajax {
                float: none;
                padding-top: 70px;
              }
              .main_screen__title {
                font-size: 24px;
                line-height: 30px;
                padding-right: 86px;
                top: calc(50% + 150px);
                letter-spacing: 3px;
              }
            }
          }
          @media (max-width: $minTablet) {
            height: 515px;
            &_video {
              height: auto;
              display: flex;
              flex-direction: column;
              .main_screen__title {
                order: 2;
                color: #000;
                font-size: 18px;
                line-height: 24px;
                position: static;
                padding: 0 15px 0;
                margin: 54px 0 -50px;
                letter-spacing: 0.5px;
              }
              .c_tabs--ajax {
                padding-top: 64px;
              }
            }
          }
        }
        &__slider {
          width: 100%;
          height: 100%;
          overflow: hidden;
          .slick-track {
            height: 680px;
            @media (max-width: $minDesktop) {
              height: 541px;
              margin-top: 70px;
            }
            @media (max-width: $minTablet) {
              height: 515px;
              margin-top: 64px;
            }
          }

          &-item {
            position: relative;
            height: 100%;
            width: auto;
            display: inline-block;
            cursor: pointer;
            @media (max-width: $minTablet) {
              max-width: 100vw;
            }

            &.slick-active, &.slick-center {
              &:after {
                opacity: 0;
              }
            }

            &:after {
              content: '';
              position: absolute;

              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              z-index: 1;

              background-color: #000000;

              opacity: 0.85;
              pointer-events: none;
              transition: opacity 1.3s cubic-bezier(.74,.1,.32,.98);
            }

            img {
              height: 100%;
              width: auto;
              max-width: 100%;

              @include object-fit(cover);

              @media (max-width: $minDesktop) {
                max-width: 100vw;
              }

              @media (max-width: $minTablet) {
                width: 100vw;
              }
            }
          }

          &-count {
            position: absolute;

            bottom: 35px;
            left: 199px;

            color: #ffffff;
            font-family: $Futura-PT-Bold;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;

            @media (max-width: $minDesktop) {
              bottom: 26px;
              left: 197px;
            }

            @media (max-width: $minTablet) {
              bottom: 26px;
              left: 50%;

              transform: translateX(-50%);
            }
          }
          
          &-labels {
            @media (min-width: $desktop) {
              position: absolute;
              width: 600px;
              top: 731px;
              left: 630px;
            }
            @media (max-width: $minDesktop) {
              position: relative;
              margin-top: 52px;
            }
            @media (max-width: $minTablet) {
              margin-top: 31px;
            }
          }

          &-label {
            color: #4c4c4c;
            font-family: $Helvetica;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;

            position: absolute;
            left: 0;
            top: 0;

            opacity: 0;
            visibility: hidden;

            transition: opacity .4s ease-in-out, visibility 0s ease-in-out .4s;

            @media (max-width: $minDesktop) {
              padding: 0 87px;
            }

            @media (max-width: $minTablet) {
              padding: 0 15px;
            }

            &.active {
              opacity: 1;
              visibility: visible;

              transition: opacity 1.3s ease-in-out, visibility 0s ease-in-out 0s;
            }
          }
        }

        &__ornament {
          @media (max-width: $minDesktop) {
            display: block;

            top: 400px;
            right: -140px;

            width: $defaultOrnamentWidth * 1.5;
            height: $defaultOrnamentWidth * 1.5;
          }

          @media (max-width: $minTablet) {
            display: none;
          }
        }

        &_slider__nav {
          .slider_custom__divider {
            float: left;
          }
        }

        &_socials {
          @media (min-width: $desktop) {
            height: 441px;
          }
        }
      }
    }

    &__title {
      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        float: left;
        max-width: 300px;
        left: auto;
        top: auto;
        margin-top: 150px;
        margin-left: 86px;
        padding-top: 0;
      }
    }

    &__text {
      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        float: left;
        left: auto;
        top: auto;
        margin-top: 150px;
        width: 270px;
        margin-left: 87px;
      }
      @media (max-width: $minTablet) {
        margin-top: 22px;
      }
    }

    &__ornament {
      top: 30px;
      right: 40px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .content {
    margin-top: 100px;

    @media (max-width: $minDesktop) and (min-width: $tablet) {
      margin-top: 17px;
    }
    @media (max-width: $minTablet) {
      margin-top: 32px;
    }
  }

  .masters {
    margin-bottom: 122px;

    @media (min-width: $desktop) {
      margin-top: 121px;

      &__left {
        margin-top: 78px;
      }

      &__title {
        max-width: 280px;
      }

      &__right {
        margin-right: 225px;
      }
    }

    @media (max-width: $minDesktop) {
      margin-top: 83px;
      margin-bottom: 80px;

      @media (min-width: $tablet) and (orientation: landscape) {
        display: flex;
        justify-content: center;

        &__left {
          margin-right: 14vw;
        }
      }

      &__left {
        margin-top: 0;
      }

      &__title {
        max-width: 280px;
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 48px;
      margin-bottom: 60px;
    }

    &__ornament {
      top: -200px;
      left: 30px;

      width: $defaultOrnamentWidth * 1.8;
      height: $defaultOrnamentWidth * 1.8;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        width: $defaultOrnamentWidth * 1.4;
        height: $defaultOrnamentWidth * 1.4;

        left: auto;
        right: -40px;
        top: -150px;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }

    &__button {
      @media (max-width: $minTablet) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .article {
    &__container {
      padding-left: 196px;

      @media (max-width: $minDesktop) {
        padding-left: 87px;
      }

      @media (max-width: $minTablet) {
        padding-left: 15px;
      }
    }
    &__socials {
      margin-top: 58px;

      @media (min-width: $desktop) {
        max-width: 385px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &_title,
        &_links {
          display: inline-block;
        }

        &_links {
          margin-top: -12px;
          margin-left: 15px;
        }

        &_link {
          vertical-align: bottom;
          display: inline-block;
        }
      }

      @media (max-width: $minDesktop) {
        margin-top: 41px;
      }

      @media (max-width: $minTablet) {
        margin-top: 32px;
      }
    }
  }

  .gallery {
    margin-top: 178px;
    margin-bottom: 250px;

    @media (max-width: $minDesktop) {
      margin-top: 57px;
      margin-bottom: 200px;

      .section_mark {
        margin-left: 10px;
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 53px;
      margin-bottom: 21px;
    }

    &__title {
      position: relative;

      top: auto;
      left: auto;

      margin-top: 51px;
      margin-left: 192px;

      max-width: 450px;

      @media (max-width: $minDesktop) {
        margin-top: 67px;
        margin-left: 83px;
      }

      @media (max-width: $minTablet) {
        margin-left: 0;
        margin-top: 0;
      }
    }

    &__photos {
      margin-top: 25px;

      @media (max-width: $minDesktop) {
        margin-top: 38px;
      }

      @media (max-width: $minTablet) {
        margin-top: 21px;
      }
    }
  }
}