[data-page='maija'] {
  @media (max-width: $minDesktop) {
    width: 100vw;
    overflow: hidden;
  }

  .main_screen {
    position: relative;

    z-index: 1;

    height: auto;

    @media (max-width: $minTablet) {
      height: auto;

      padding: 0 15px;
    }

    &__title {
      @media (max-width: $minTablet) {
        margin-left: 0;
      }
    }

    &__text {
      @media (max-width: $minDesktop) {
        width: 330px;

        top: 151px;
        left: 52%;
      }

      @media (max-width: $minTablet) {
        position: relative;

        width: 100%;

        top: auto;
        left: auto;

        margin-top: 10px;
        padding-left: 0;
      }
    }

    &__ornament {
      top: -430px;
      right: -120px;

      width: $defaultOrnamentWidth * 1.5;
      height: $defaultOrnamentWidth * 1.5;

      transform: rotate(45deg);

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    &__tabs {
      position: absolute;

      top: 391px;
      left: 196px;

      max-height: 37px;

      color: #000000;
      font-family: $Futura-PT-Bold;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: $minDesktop) {
        top: 249px;
        left: 86px;
      }

      @media (max-width: $minTablet) {
        position: relative;

        width: 100%;

        top: auto;
        left: auto;

        margin-top: 20px;
      }

      &-inner {
        font-size: 0;

        @media (max-width: $minTablet) {
          display: flex;
          justify-content: center;
        }
      }

      &-tab {
        position: relative;
        display: inline-block;

        min-width: 148px;
        padding: 0 10px 9px;

        font-size: 12px;

        cursor: pointer;

        overflow: hidden;

        @media (min-width: $desktop) {
          transition: color .4s ease;

          &:not(.active):hover {
            color: #969696;
          }
        }

        @media (max-width: $minTablet) {
          min-width: 50%;

          width: 50%;
        }

        &:before {
          content: '';
          position: absolute;

          left: 0;
          bottom: 0;

          width: 100%;
          height: 2px;

          background-color: #000000;

          transition: transform 0.7s ease;

          z-index: 2;
        }

        &:first-child {
          &:before {
            transform: translate3d(100%, 0, 0);
          }
        }
        &:last-child {
          &:before {
            transform: translate3d(-100%, 0, 0);
          }
        }
        &.active {
          &:before {
            transform: none;
          }
        }
      }
      
      &-line {
        position: absolute;

        left: 0;
        bottom: 0;

        width: 100%;
        height: 1px;

        background-color: #f0f0f0;

        z-index: 1;
      }
    }
  }

  .about_content_ornament {
    &-1 {
      top: -270px;
      left: -180px;

      width: $defaultOrnamentWidth * 2;
      height: $defaultOrnamentHeight * 2;

      transform: rotate(-45deg);

      @media (max-width: $minDesktop) {
        right: -60px;
        left: auto;
        top: 55px;

        width: $defaultOrnamentWidth * 1.5;
        height: $defaultOrnamentHeight * 1.5;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }

    &-2 {
      top: 201px;
      right: -51px;

      width: $defaultOrnamentWidth * 1.7;
      height: $defaultOrnamentHeight * 1.7;

      transform: rotate(-45deg);

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    &-3 {
      bottom: -750px;
      right: 50px;

      width: $defaultOrnamentWidth * 1.8;
      height: $defaultOrnamentHeight * 1.8;

      transform: rotate(-45deg);

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .about_content_wrapper {
    position: relative;

    width: 100%;
    min-height: 100vh;
  }

  .numbers {
    margin-top: 156px;

    @media (max-width: $minDesktop) {
      margin-top: 95px;
    }

    @media (max-width: $minTablet) {
      padding: 0 15px;
      margin-top: auto;
    }

    &__text {
      width: 780px;

      margin-left: 195px;
      padding-top: 88px;
      margin-bottom: 78px;

      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 18px;
      line-height: 25px;

      @media (max-width: $minDesktop) {
        width: 76%;

        margin-left: 86px;
        padding-top: 34px;
        margin-bottom: 31px;
      }

      @media (max-width: $minTablet) {
        width: 100%;

        margin-left: 0;
        padding-top: 41px;
      }
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      padding: 0 110px;

      @media (max-width: $minDesktop) {
        padding: 0 57px;
      }

      @media (max-width: $minTablet) {
        padding: 0;
        display: block;
      }
    }

    &__item {
      position: relative;

      width: 33%;

      margin-bottom: 3px;

      text-align: left;

      @media (min-width: $tablet) {
        &:nth-child(1) {
          .numbers__item_text {
            left: 161px;

            @media (max-width: $minDesktop) {
              left: 96px;
            }
          }
        }

        &:nth-child(2) {
          text-align: center;
          padding-right: 16px;
        }

        &:nth-child(3n + 2) {
          .numbers__item_text {
            left: 231px;

            @media (max-width: $minDesktop) {
              left: 146px;
            }
          }
        }

        &:nth-child(3n + 3) {
          text-align: right;
          padding-right: 64px;

          .numbers__item_text {
            left: 255px;

            @media (max-width: $minDesktop) {
              left: 143px;
            }
          }
        }

        &:nth-child(4) {
          .numbers__item_text {
            left: 63px;

            @media (max-width: $minDesktop) {
              left: 37px;
            }
          }
        }

        &:nth-child(5) {
          display: flex;
          justify-content: center;
          .numbers__item_number {
            margin-left: 50px;
          }
        }
      }

      @media (max-width: $minTablet) {
        width: 100%;

        text-align: center;

        margin-bottom: 0;

        &:not(:first-child) {
          margin-top: -11px;
        }
      }

      &_text {
        position: absolute;
        top: 51.5%;
        transform: translate3d(0, -50%, 0);
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 12px;
        line-height: 28px;
        text-transform: uppercase;
        z-index: 1;
        @media (max-width: $minTablet) {
          width: 100%;
          left: 0;
        }
      }
      &_number {
        color: #eaeaea;
        font-family: $Futura-PT-Bold;
        font-size: 160px;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width: $minDesktop) {
          font-size: 90px;
        }
      }
    }
  }

  .world-map {
    margin-top: 80px;

    @media (max-width: $minDesktop) {
      margin-top: 22px;
    }

    @media (max-width: $minTablet) {
      margin-top: 29px;

      padding: 0 15px;
    }

    &__title {
      width: 600px;

      margin-left: 194px;

      @media (max-width: $minDesktop) {
        width: 60%;

        margin-left: 84px;
      }

      @media (max-width: $minTablet) {
        width: 80%;

        margin: 0;
      }
    }

    &__inner {
      position: relative;

      height: 535px;
      width: 1280px;

      left: calc(50% - 640px);

      @media (max-width: $minTablet) {
        position: relative;
        height: auto;
        width: 100%;
        left: auto;

        padding-top: 19px;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 135px;

        @media (max-width: $minTablet) {
          display: none;
        }
      }

      &:before {
        top: 0;
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
      }

      &:after {
        bottom: 0;
        background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &__bg {
      width: 100%;
      height: 100%;

      overflow: hidden;

      @media (max-width: $minTablet) {
        display: none;
      }

      img {
        width: 100%;

        margin-top: -110px;
      }
    }

    &__pin {
      position: absolute;

      z-index: 1;

      @media (min-width: $tablet) {
        &:hover {
          .world-map__pin_popup {
            opacity: 1;
            visibility: visible;
            transform: none;

            transition: opacity .6s ease, transform .6s ease;

            @media (max-width: $minDesktop) {
              transform: translate3d(-50%, 0, 0);
            }
          }
        }
      }

      @media (max-width: $minTablet) {
        position: relative;
        left: auto !important;
        top: auto !important;

        &:not(:nth-child(2)) {
          margin-top: 20px;
        }
      }

      &_img {
        max-width: 40px;
        max-height: 50px;

        cursor: pointer;

        @media (max-width: $minTablet) {
          display: none;
        }
      }

      &_popup {
        position: absolute;

        left: calc(100% + 9px);
        top: 18px;

        padding: 34px 38px 40px 38px;

        background-color: #000000;

        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 10px, 0);

        transition: opacity .6s ease, transform .6s ease, visibility 0s .6s;

        @media (max-width: $minDesktop) {
          left: 50%;
          top: calc(100% + 5px);

          transform: translate3d(-50%, 10px, 0);
        }

        @media (max-width: $minTablet) {
          position: relative;
          left: auto;
          top: auto;

          padding: 0;

          background-color: transparent;

          opacity: 1;
          visibility: visible;
          transform: none;
        }

        &:before {
          content: '';

          position: absolute;

          top: -10px;
          left: -13px;

          width: 15px;
          height: 100%;

          opacity: 0;
          background-color: transparent;

          @media (max-width: $minTablet) {
            display: none;
          }
        }

        a, span {
          display: inline-block;

          width: 100%;

          color: white;
          text-decoration: none;

          @media (max-width: $minTablet) {
            color: #000000;
          }
        }

        span {
          font-family: $Futura-PT-Bold;
          font-size: 24px;
          font-weight: 700;
          line-height: 28px;

          margin-bottom: 18px;

          @media (max-width: $minTablet) {
            margin-bottom: 13px;
          }
        }

        a {
          font-family: $Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
          white-space: nowrap;

          @media (min-width: $desktop) {
            transition: .3s ease;

            &:hover {
              color: #969696;
            }
          }
        }
      }
    }
  }

  .careers {
    position: relative;

    padding-top: 102px;

    @media (max-width: $minDesktop) {
      padding-top: 125px;
    }

    @media (max-width: $minTablet) {
      padding: 47px 15px 0;
    }

    &__title {
      margin-bottom: 51px;
      margin-left: -5px;

      @media (max-width: $minDesktop) {
        margin-bottom: 39px;
      }

      @media (max-width: $minTablet) {
        margin-left: 0;
        margin-bottom: 17px;
      }
    }

    &__wrapper {
      padding-left: 195px;

      @media (max-width: $minDesktop) {
        padding-left: 89px;
      }

      @media (max-width: $minTablet) {
        padding-left: 0;
      }
    }

    &__info {
      width: 310px;
      float: left;

      @media (max-width: $minDesktop) {
        width: 38.1%;
      }

      @media (max-width: $minTablet) {
        width: 100%;
      }

      &-title {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
      }
      &-text {
        margin-top: 31px;

        color: #4d4d4d;
        font-family: $Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 23px;

        li {
          &:before {
            content: '•';
            display: inline-block;
            margin-right: 4px;
          }
        }

        @media (max-width: $minTablet) {
          margin-top: 15px;
        }
      }
    }

    &__join {
      float: left;
      width: 280px;
      margin-left: 211px;

      @media (max-width: $minDesktop) {
        margin-left: 7.5%;
        width: 33%;
      }

      @media (max-width: $minTablet) {
        margin-left: 0;
        margin-top: 19px;

        width: 100%;
      }

      &-title {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
      }
      &-button {
        margin-top: 34px;

        width: 280px;
        height: 50px;
        background-color: #000000;

        @media (max-width: $minDesktop) {
          width: 220px;
          margin-top: 40px;
        }

        @media (max-width: $minTablet) {
          width: 100%;
          height: 60px;
          max-width: 290px;

          margin-top: 23px;
        }
      }
    }

    &__photo {
      position: relative;

      width: 1164px;
      height: 580px;

      margin-left: 116px;
      margin-top: 125px;

      overflow: hidden;

      @media (max-width: $minDesktop) {
        width: 93%;
        height: 396px;

        margin-top: 73px;
        margin-left: 7%;
      }

      @media (max-width: $minTablet) {
        width: calc(100% + 30px);
        height: 237px;

        margin: 59px 0 0 -15px;
      }

      img {
        position: absolute;

        left: 0;
        top: 0;

        height: 100%;

        transform: translateX(-582px);

        will-change: transform;

        @media (max-width: $minDesktop) {
          transform: translateX(0);
        }
      }
    }
  }

  .gallery {
    position: relative;

    margin-top: 117px;
    margin-bottom: 260px;

    @media (max-width: $minDesktop) {
      margin-top: 82px;
      margin-bottom: 165px;

      .gallery__title {
        top: 50px;
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 53px;
      margin-bottom: 20px;

      .gallery__title {
        top: 0;
        margin-bottom: 18px;
      }
    }
  }

  .whyus {
    width: 100%;

    padding-left: 200px;
    margin-top: 250px;

    @media (max-width: $minDesktop) {
      margin-top: 133px;
      padding-left: 87px;
      padding-right: 50px;
    }

    @media (max-width: $minTablet) {
      margin-top: 43px;

      padding: 0 15px;

      .items__item-text {
        display: none;
      }
    }

    &__inner {
      width: 890px;

      @media (max-width: $minDesktop) {
        width: 100%;
      }
    }
  }

  .loyalty {
    margin-top: 100px;

    @media (max-width: $minDesktop) {
      margin-top: 23px;
    }

    @media (max-width: $minTablet) {
      margin-top: 27px;
    }

    &__title {
      margin-left: 195px;
      max-width: 465px;

      @media (max-width: $minDesktop) {
        margin-left: 86px;
      }

      @media (max-width: $minTablet) {
        margin-left: 15px;
      }
    }

    &__table {
      margin-top: 56px;

      @media (max-width: $minDesktop) {
        margin-top: 33px;

        padding: 0 56px;
      }

      @media (max-width: $minTablet) {
        margin-top: 0;

        padding: 0 15px;
      }
    }
  }

  .opportunities {
    margin-top: 120px;

    @media (max-width: $minDesktop) {
      margin-top: 61px;
    }

    @media (max-width: $minTablet) {
      margin-top: 57px;
    }

    &__title {
      max-width: 600px;

      margin-bottom: 40px;

      @media (max-width: $minDesktop) {
        margin-bottom: 30px;
      }

      @media (max-width: $minTablet) {
        font-size: 28px;
      }
    }

    &__inner {
      width: 1229px;

      background-color: #111111;

      @media (max-width: $minDesktop) {
        width: 100%;
      }
    }

    &__content {
      position: relative;

      width: 100%;
      height: 100%;

      padding: 117px 131px 111px 195px;

      @media (max-width: $minDesktop) {
        padding: 72px 63px 44px 88px;
      }

      @media (max-width: $minTablet) {
        padding: 52px 15px 32px 12px;
      }
    }

    .section_mark {
      position: absolute;

      top: 70px;
      left: 33px;

      margin-left: 0;

      z-index: 1;

      @media (max-width: $minDesktop) {
        top: 175px;
        left: 11px;
      }
    }

    .items__item {
      @media (max-width: $minDesktop) {
        flex-basis: auto;
        width: 30%;
      }

      @media (max-width: $minTablet) {
        width: 100%;
      }
    }
  }

  .client_service {
    margin-bottom: 92px;

    @media (max-width: $minDesktop) {
      margin-bottom: 52px;
    }
    .section_mark {
      position: absolute;

      left: 34px;
      top: 175px;

      margin-left: 0;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
    &__text {
      margin-top: 111px;
      margin-left: 196px;

      width: 845px;

      color: #4c4c4c;
      font-family: $Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      @media (max-width: $minDesktop) {
        width: 100%;

        padding: 0 87px;

        margin-left: 0;
        margin-top: 50px;
      }

      @media (max-width: $minTablet) {
        margin-top: 52px;

        padding: 0 15px;
      }
    }

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 102px;

      padding-left: 193px;
      padding-right: 249px;

      @media (max-width: $minDesktop) {
        margin-top: 44px;
        padding: 0 87px;
      }

      @media (max-width: $minTablet) {
        display: block;

        padding: 0 15px;
      }
    }

    &__title {
      max-width: 280px;

      @media (max-width: $minTablet) {
        font-size: 28px;
      }
    }

    &__subtitle {
      width: 365px;
      color: #4d4d4d;
      font-family: $Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      margin-top: 6px;

      @media (max-width: $minDesktop) {
        width: 47.5%;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        margin-top: 22px;
      }
    }

    &__inner {
      position: relative;
    }

    &_ornament {
      top: 96px;
      right: -40px;

      width: $defaultOrnamentWidth * 1.7;
      height: $defaultOrnamentHeight * 1.7;

      transform: rotate(-45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        top: 0;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }

    &__sliders {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      width: 1048px;

      margin: 92px auto 0;

      @media (max-width: $minDesktop) {
        width: 100%;

        margin: 18px auto 0;

        padding: 0 87px;
      }

      @media (max-width: $minTablet) {
        display: block;

        margin: 20px auto 0;

        padding: 0 15px;
      }
    }

    &__slider {
      width: 497px;

      @media (max-width: $minDesktop) {
        width: 282px;
      }

      @media (max-width: $minTablet) {
        width: 100%;

        &:last-child {
          margin-top: 50px;
        }
      }

      .slider_custom__nav {
        width: 100%;
        bottom: auto;

        top: 420px;

        @media (max-width: $minDesktop) {
          top: 230px;
        }

        @media (max-width: $minTablet) {
          top: 308px;
        }
      }

      .slider_custom__next {
        float: right;
      }

      .slider_custom__next,
      .slider_custom__prev {
        width: 60px;
        height: 60px;

        background-color: #ededed;

        @media (min-width: $desktop) {
          &:hover {
            background-color: #fff;
          }
        }

        @media (max-width: $minTablet) {
          width: 80px;
        }
      }

      &-title {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;

        width: 100%;

        padding-left: 80px;
        margin-bottom: 29px;

        @media (max-width: $minDesktop) {
          padding-left: 0;

          margin-bottom: 25px;
        }
      }

      &-content {
        position: relative;
      }

      &-slides {
        position: relative;

        width: 100%;
        height: 480px;

        overflow: hidden;

        img {
          height: 480px;
        }

        @media (max-width: $minDesktop) {
          height: 290px;

          img {
            height: 290px;

            @include object-fit(cover);
          }
        }

        @media (max-width: $minTablet) {
          height: 368px;

          img {
            height: 368px;
          }
        }
      }

      &-labels {
        top: 480px;
        left: 0;

        width: 100%;

        img {
          position: absolute;

          right: 41px;
          top: 31px;

          @media (max-width: $minDesktop) {
            right: -4px;
            top: 23px;
          }

          @media (max-width: $minTablet) {
            display: none;
          }
        }

        @media (max-width: $minDesktop) {
          top: 290px;
        }

        @media (max-width: $minTablet) {
          top: 368px;
        }
      }

      &-label {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity 1.2s ease;
        &.active {
          position: static;
          opacity: 1;
          span {
            display: block;
          }
        }
        span {
          display: inline-block;
          display: none;
          &.text {
            color: #000000;
            font-family: $Helvetica;
            font-size: 14px;
            font-weight: 400;
            line-height: 23px;

            width: 100%;

            margin-top: 42px;
            padding: 0 90px 0 78px;

            @media (max-width: $minDesktop) {
              margin-top: 35px;
              padding: 0 40px 0 0;
            }

            @media (max-width: $minTablet) {
              padding: 0;
              margin-top: 15px;
            }
          }

          &.author {
            color: #bfbfbf;
            font-family: $Futura-PT-Bold;
            font-size: 12px;
            font-weight: 700;
            line-height: 21px;
            text-transform: uppercase;
            margin: 22px 61px 0 145px;
            @media (max-width: $minDesktop) {
              margin: 15px 0 0 45px;
            }
          }
        }
      }
    }
  }

  .online_record {
    margin-bottom: 118px;

    @media (max-width: $minDesktop) {
      margin-bottom: 78px;
    }

    @media (max-width: $minTablet) {
      margin-bottom: 60px;
    }

    &__title {
      margin-left: 196px;

      max-width: 700px;

      line-height: initial;

      @media (max-width: $minDesktop) {
        max-width: 300px;

        margin-left: 85px;
      }

      @media (max-width: $minTablet) {
        margin-left: 15px;
      }
    }

    &__button {
      background-color: #000000;

      width: 280px;
      height: 50px;

      margin-left: 196px;
      margin-top: 50px;

      @media (max-width: $minDesktop) {
        width: 220px;

        margin-left: 88px;
        margin-top: 33px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        height: 60px;
        max-width: 290px;

        margin-left: 15px;
        margin-top: 28px;
      }

      .btn > div {
        margin-left: -17px;
      }
    }
  }
}