[data-page = 'news'] {
  position: relative;

  @media (max-width: $minDesktop) {
    overflow: hidden;
  }

  .main_screen {

    &--article {
      @media (min-width: $desktop) {
        height: auto;

        .main_screen__title {
          position: relative;

          left: auto;
          top: auto;

          font-size: 60px;

          padding-right: 200px;
        }

        .main_screen_socials {
          top: 375px;
        }

        .main_screen__ornament {
          width: $defaultOrnamentWidth * 2.6;
          height: $defaultOrnamentWidth * 2.6;

          top: 30px;
          right: -150px;
        }
      }

      @media (max-width: $minDesktop) and (min-width: $tablet) {
        .main_screen__title {
          max-width: none;
          padding-right: 50px;
        }
      }

      @media (max-width: $minTablet) {
        .main_screen__title {
          padding-right: 15px;
        }
      }
    }

    &__title {
      @media (min-width: $desktop) {
        font-size: 72px;
      }
      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        float: left;
        max-width: 300px;
        left: auto;
        top: auto;
        margin-top: 150px;
        margin-left: 86px;
        padding-top: 0;
      }
    }

    &__text {
      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        float: left;
        left: auto;
        top: auto;
        margin-top: 150px;
        width: 300px;
        margin-left: 41px;
      }
      @media (max-width: $minTablet) {
        margin-top: 22px;
      }
    }

    &__ornament {
      top: 30px;
      right: 40px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .content {
    margin-top: 109px;

    @media (max-width: $minDesktop) and (min-width: $tablet) {
      margin-top: 17px;
    }
    @media (max-width: $minTablet) {
      margin-top: 32px;
    }
  }

  .masters {
    margin-bottom: 122px;

    @media (min-width: $desktop) {
      margin-top: 153px;

      &__left {
        margin-top: 78px;
      }

      &__title {
        max-width: 280px;
      }

      &__right {
        margin-right: 225px;
      }
    }

    @media (max-width: $minDesktop) {
      margin-top: 83px;
      margin-bottom: 80px;

      @media (min-width: $tablet) and (orientation: landscape) {
        display: flex;
        justify-content: center;

        &__left {
          margin-right: 14vw;
        }
      }

      &__left {
        margin-top: 0;
      }

      &__title {
        max-width: 280px;
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 48px;
      margin-bottom: 60px;

      &__button {
        margin-left: auto;
        margin-right: auto;
      }

      &__title {
        max-width: none;
      }

      &__subtitle {
        width: 100%;
      }
    }

    &__ornament {
      top: -200px;
      left: 30px;

      width: $defaultOrnamentWidth * 1.8;
      height: $defaultOrnamentWidth * 1.8;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        width: $defaultOrnamentWidth * 1.4;
        height: $defaultOrnamentWidth * 1.4;

        left: auto;
        right: -40px;
        top: -150px;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .article {
    width: 100%;
    padding-left: 116px;

    @media (max-width: $minDesktop) {
      padding-left: 7.42vw;
    }

    @media (max-width: $minTablet) {
      padding-left: 0;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      max-width: 887px;

      color: #4d4d4d;
      font-family: $Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      @media (max-width: $minDesktop) {
        display: block;
      }

      p, img, table {
        &:not(:first-child) {
          margin-top: 26px;

          @media (max-width: $minTablet) {
            margin-top: 10px;
          }
        }
      }

      strong {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        line-height: 28px;
      }

      ul {
        list-style: none;

        li {
          &:before {
            content: '•';
            display: inline-block;
            margin-right: 4px;
          }
        }
      }
    }

    &__preview {
      width: 40%;

      margin-top: 105px;
      margin-bottom: 69px;
      margin-left: 80px;

      @media (max-width: $minDesktop) {
        height: 355px;
        width: 92.58vw;

        margin-top: 34px;
        margin-bottom: 37px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        height: 189px;
        margin: 29px 0;
      }

      img {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
      }
    }

    &__column {
      max-width: none;
      flex-basis: 50%;

      &:last-child {
        margin-left: 85px;
        @media (max-width: $minDesktop) {
          margin-top: 28px;
          margin-left: 0;
        }
        @media (max-width: $minTablet) {
          margin-top: 22px;
          margin-left: 0;
        }
      }
      a {
        color: #000;
        @media (min-width: $desktop) {
          &:hover {
            color: #969696;
          }
        }
      }
    }
  }

  .online-record {
    position: relative;

    margin-top: 119px;

    @media (min-width: $desktop) {
      .masters__title {
        font-size: 60px;
        line-height: 65px;
        text-transform: uppercase;
        letter-spacing: 4px;

        margin-top: 49px;
      }
      .masters__right {
        margin-right: 168px;
      }
      .masters__button {
        margin-top: 47px;
      }
    }

    @media (max-width: $minDesktop) and (min-width: $tablet) {
      margin-top: 60px;

      .masters__title {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 56px;
        font-weight: 700;
        line-height: 57px;
        text-transform: uppercase;
        letter-spacing: 4px;

        margin-top: 93px;
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 52px;
      padding: 0 15px;

      .masters__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: 2.5px;

        max-width: 250px;
        margin-left: -3px;
      }

      .masters__button {
        margin-top: 28px;
      }
    }

    &__ornament {
      top: -70px;
      right: -40px;

      width: $defaultOrnamentWidth * 1.65;
      height: $defaultOrnamentWidth * 1.65;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        width: $defaultOrnamentWidth * 1.5;
        height: $defaultOrnamentWidth * 1.5;

        top: -380px;
        right: -140px;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .other-news {
    margin-top: 121px;
    margin-bottom: 76px;

    @media (max-width: $minDesktop) {
      margin-top: 60px;
    }

    @media (max-width: $minTablet) {
      margin-top: 54px;
      margin-bottom: 53px;
    }
  }
}

// some article components as global
.article {
  &__container {
    width: 100%;

    padding-left: 79px;

    @media (max-width: $minDesktop) {
      padding-left: 30px;
    }

    @media (max-width: $minTablet) {
      padding: 0 15px;
    }
  }

  &__socials {
    margin-top: 70px;

    @media (max-width: $minDesktop) {
      margin-top: 49px;
    }

    @media (max-width: $minTablet) {
      margin-top: 27px;
    }

    &_title {
      display: inline-block;
      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &_links {
      display: inline-block;
      justify-content: flex-start;
      align-items: center;
      height: 14px;
      transform: translateY(2px);
    }
    &_link {
      height: 100%;
      display: inline-block;
      &:not(:first-child) {
        margin-left: 7px;
      }
      a {
        padding: 15px;
      }
      @media (min-width: $desktop) {
        &:hover {
          svg {
            fill: #969696;
          }
        }
      }

      svg {
        height: 100%;
        fill: black;
        transition: fill 0.6s ease;
      }
    }
  }
}