[data-page = 'offline'] {

  .offline {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    background-color: #e0e2e1;

    text-align: center;

    &__title {
      width: 100%;

      color: #000000;
      font-family: $Futura-PT-Bold;
      font-size: 30px;
      font-weight: 700;

      margin-bottom: 25px;
    }

    &__item {

      a {
        display: inline-block;

        width: 100%;
        color: #4c4c4c;
        font-family: $Helvetica;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        text-decoration: none;
      }
    }
  }
}