[data-page = 'salons'] {
  @media (max-width: $minDesktop) {
    position: relative;
    overflow: hidden;
  }

  .main_screen {
    position: relative;

    // single salons item intro section
    &--in {

      .main_screen {

        &__title {
          position: absolute;

          margin: 0;
          padding: 0;

          left: 80px;
          top: 51%;

          max-width: 950px;

          transform: translateY(-50%);

          font-size: 60px;
          font-family: $Futura-PT-Bold;
          line-height: 68px;
          text-transform: uppercase;
          letter-spacing: 4px;

          z-index: 2;

          @media (max-width: $minDesktop) {
            position: absolute;
            margin: 0;

            left: 87px;
            top: 52%;

            font-size: 56px;
            line-height: 57px;
          }

          @media (max-width: $minTablet) {
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 2.5px;

            padding: 0;

            top: 49%;
            left: 12px;
          }
        }

        &__container {
          position: relative;

          width: 1164px;
          height: 680px;

          margin-left: 116px;

          @media (max-width: $minDesktop) {
            width: 100%;
            height: 541px;

            margin: 0;
          }

          @media (max-width: $minTablet) {
            height: 515px;
          }

          &:after {
            content: '';
            position: absolute;

            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            z-index: 0;

            background-color: rgba(0, 0, 0, .25);
          }
        }

        &__slider {
          width: 100%;
          height: 100%;

          overflow: hidden;

          .slick-track {
            height: 680px;

            @media (max-width: $minDesktop) {
              height: 541px;
            }

            @media (max-width: $minTablet) {
              height: 515px;
            }
          }

          &-item {
            position: relative;
            height: 100%;
            width: 1164px;

            display: inline-block;

            @media (max-width: $minDesktop) {
              width: 100vw;
            }

            img {
              height: 100%;
              width: 100%;
              max-width: 100%;

              @include object-fit(cover);
            }
          }

          &-count {
            position: absolute;

            bottom: 35px;
            left: 199px;

            color: #ffffff;
            font-family: $Futura-PT-Bold;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;

            z-index: 1;

            @media (max-width: $minDesktop) {
              bottom: 26px;
              left: 197px;
            }

            @media (max-width: $minTablet) {
              bottom: 26px;
              left: 50%;

              transform: translateX(-50%);
            }
          }
        }

        &_slider__nav {
          z-index: 2;

          .slider_custom__divider {
            float: left;
          }
        }
      }
    }

    &__text {
      position: relative;
      @media (min-width: $desktop) {
        left: 746px;
        top: -60px;
      }
      @media (min-width: $minTablet) {
        top: -56px;
      }
      @media (max-width: $minTablet) {
        margin-top: 22px;
      }
    }

    &__ornament {
      top: 60px;
      right: -180px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        width: $defaultOrnamentWidth * 1.6;
        height: $defaultOrnamentWidth * 1.6;

        top: 190px;
        right: -280px;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .salons {
    margin-top: 40px;
    margin-bottom: 120px;

    @media (max-width: $minDesktop) {
      margin-top: 0;
      margin-bottom: 80px;
    }

    @media (max-width: $minTablet) {
      margin-top: 33px;
      margin-bottom: 60px;

      padding: 0 15px;
    }

    &__item {
      float: right;

      width: 1164px;

      @media (max-width: $minDesktop) {
        width: 92.58vw;
      }

      @media (max-width: $minTablet) {
        width: 100%;
      }

      &:not(:first-child) {
        margin-top: 65px;

        @media (max-width: $minDesktop) {
          margin-top: 60px;
        }

        @media (max-width: $minTablet) {
          margin-top: 51px;
        }
      }

      &_bg {
        width: 100%;
        height: 580px;

        overflow: hidden;

        @media (max-width: $minDesktop) {
          height: 355px;
        }

        @media (max-width: $minTablet) {
          height: 198px;
        }

        img {
          width: 100%;
          height: 100%;

          @include object-fit(cover);
        }
      }

      &_info {
        position: relative;

        width: 342px;

        padding: 39px 50px 50px 50px;

        margin-left: 79px;
        margin-top: -316px;

        background-color: #000000;

        color: #ffffff;
        font-family: $Futura-PT-Bold;
        font-size: 18px;

        z-index: 1;
        a {
          color: #fff;
        }
        @media (max-width: $minDesktop) {
          margin-left: 30px;
          margin-top: -305px;
        }

        @media (max-width: $minTablet) {
          width: 100%;

          padding: 0;

          background-color: transparent;

          color: #000000;

          margin-left: 0;
          margin-top: 10px;
        }
      }

      &_title {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        font-family: $Futura-PT-Bold;
        letter-spacing: 1px;

        &--desktop {
          @media (max-width: $minTablet) {
            display: none;
          }
        }

        &--mobile {
          margin-bottom: 20px;

          @media (min-width: $tablet) {
            display: none;
          }
        }
      }

      &_address {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 20px;
        transition: color .6s;
        text-decoration: none;
        @media (min-width: $desktop) {
          &:hover {
            color: rgb(150, 150, 150);
          }
        }
      }

      &_numbers {
        margin-top: 22px;

        @media (max-width: $minTablet) {
          margin-top: 15px;
        }

        a {
          display: inline-block;

          width: 100%;

          color: #ffffff;
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
          text-decoration: none;
          transition: color .6s;
          @media (min-width: $desktop) {
            &:hover {
              color: rgb(150, 150, 150);
            }
          }
          @media (max-width: $minTablet) {
            color: #000000;
          }
          &:not(:first-of-type) {
            margin-top: 5px;
          }
        }
      }

      &_work {
        margin-top: 20px;

        @media (max-width: $minTablet) {
          margin-top: 14px;
        }

        p {
          display: inline-block;

          width: 100%;

          color: #969696;
          font-family: $Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;

          &:not(:first-of-type) {
            margin-top: 3px;
          }
        }
      }

      &_button {
        display: block;
        height: 50px;

        margin-top: 18px;

        background-color: #ffffff;

        @media (max-width: $minDesktop) {
          max-width: 220px;
        }

        @media (max-width: $minTablet) {
          max-width: 290px;

          height: 60px;

          margin-top: 20px;

          background-color: black;

          .btn__dot {
            background-color: #ffffff;
          }

          .btn__text {
            color: #ffffff;
          }

          &:active {
            background-color: #ffffff;

            .btn__dot {
              background-color: black;
            }

            .btn__text {
              color: black;
            }
          }
        }

        .btn {
          height: 100%;
        }
      }
    }
  }

  .contacts {
    position: relative;

    margin-top: 267px;

    @media (max-width: $minDesktop) {
      margin-top: 129px;
    }

    @media (max-width: $minTablet) {
      margin-top: 53px;

      .salons__item_button {
        display: none;
      }
    }

    .section_mark {
      position: absolute;

      left: 0;

      top: -49px;

      @media (max-width: $minDesktop) {
        top: -71px;
        left: -3px;
      }
    }

    &__inner {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__title {
      margin-left: 196px;

      width: 400px;

      @media (max-width: $minDesktop) {
        margin-left: 84px;
        width: 46.5%;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        margin: 1px 15px 0;
      }
    }

    &__data {
      margin-left: 200px;
      margin-top: -16px;

      max-width: 400px;

      font-family: $Futura-PT-Bold;
      color: #000000;

      @media (max-width: $minDesktop) {
        margin-left: 11px;
        margin-top: -20px;
        max-width: 260px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        margin: 0 15px;
      }

      a {
        color: #000000;
      }

      .salons__item_button {
        margin-top: 37px;

        max-width: 254px;

        background-color: #000000;

        @media (max-width: $minDesktop) {
          max-width: 220px;

          margin-top: 15px;
        }
      }
    }

    &__map {
      width: 100%;
      height: 450px;

      padding: 0 116px;

      margin-top: 80px;

      @media (max-width: $minDesktop) {
        height: 379px;

        padding: 0 56px;

        margin-top: 78px;
      }

      @media (max-width: $minTablet) {
        margin-top: 54px;
        padding: 0;
        height: 371px;
      }

      #map {
        width: 100%;
        height: 100%;

        //
        background-color: grey;

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__masters {
      margin-top: 0;

      @media (max-width: $minTablet) {
        margin-top: -3px;
        padding: 0 15px;
      }

      .masters {
        &__right {
          margin-top: -70px;

          @media (max-width: $minDesktop) {
            margin-top: -31px;
          }
        }

        &__left {
          margin-top: 92px;

          @media (max-width: $minDesktop) {
            margin-top: 52px;
          }
        }
      }
    }

    &__ornament {
      top: -200px;
      right: 90px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        width: $defaultOrnamentWidth * 1.6;
        height: $defaultOrnamentWidth * 1.6;

        top: -200px;
        right: -130px;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .team {
    position: relative;

    width: 100%;

    margin-top: 165px;

    @media (max-width: $minDesktop) {
      margin-top: 129px;
    }

    @media (max-width: $minTablet) {
      margin-top: 52px;
    }

    .section_mark {
      position: absolute;

      left: 0;
      top: -48px;

      @media (max-width: $minDesktop) {
        top: -71px;
        left: -3px;
      }
    }

    &__title {
      margin-left: 193px;

      max-width: 600px;

      @media (max-width: $minDesktop) {
        margin-left: 84px;
      }

      @media (max-width: $minTablet) {
        margin: 0 15px;
      }
    }

    &__inner {
      margin-top: 97px;

      padding: 0 116px;

      @media (max-width: $minDesktop) {
        margin-top: 41px;

        padding: 0 56px;
      }

      @media (max-width: $minTablet) {
        margin-top: 18px;

        padding: 0 15px;
      }
    }

    &__section {

      @media (max-width: $minTablet) {
        position: relative;
      }

      &:not(:first-child) {
        margin-top: 20px;

        @media (max-width: $minDesktop) {
          margin-top: 6px;
        }
      }

      &_title {
        padding-left: 80px;
        margin-bottom: 52px;

        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.7px;
        line-height: 35px;

        @media (max-width: $minDesktop) {
          margin-bottom: 38px;

          padding-left: 30px;

          max-width: 350px;
        }

        @media (max-width: $minTablet) {
          line-height: 28px;
          text-transform: none;
          letter-spacing: 0;

          padding-left: 0;

          margin-bottom: 22px;
        }
     }

      &_container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        @media (max-width: $minTablet) {
          justify-content: center;
        }
      }

      &_nav {
        @media (min-width: $tablet) {
          display: none;
        }

        top: 308px;
        bottom: auto;
      }
    }

    &__item {
      width: 222px;

      margin-bottom: 27px;

      cursor: pointer;

      &--placeholder {
        height: 0;

        width: 222px;

        @media (max-width: $minDesktop) {
          width: 198px;
        }

        @media (max-width: $minTablet) {
          display: none;
        }

        @media (max-width: $minTablet) {
          display: none;
        }
      }

      @media (min-width: $desktop) {
        &:hover {
          .team__item_subtitle {
            color: #000;
          }
          .team__item_img {
            &:before {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }

      @media (max-width: $minDesktop) {
        width: 198px;

        margin-bottom: 23px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        margin-bottom: 0;
      }

      &_img {
        position: relative;

        width: 100%;
        height: 313px;

        overflow: hidden;

        @media (min-width: $desktop) {
          &:before {
            content: '';
            position: absolute;

            width: 100%;
            height: 100%;

            left: 0;
            top: 0;

            background-color: rgba(0, 0, 0, 0.2);

            transition: transform 0.4s ease;

            transform: translate3d(-100%, 0, 0);
          }
        }

        @media (max-width: $minDesktop) {
          height: 270px;
        }

        @media (max-width: $minTablet) {
          height: 368px;
        }

        img {
          width: 100%;
          height: 100%;

          @include object-fit(cover);
        }
      }

      &_title {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;

        margin-top: 23px;

        @media (max-width: $minTablet) {
          margin-top: 17px;
        }
      }

      &_subtitle {
        color: #bfbfbf;
        font-family: $Futura-PT-Bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;

        margin-top: -1px;

        transition: color .6s ease;

        @media (max-width: $minTablet) {
          margin-top: -9px;
        }
      }
    }

    &__ornament {
      top: -400px;
      left: -120px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .online-record {
    margin-top: 56px;
    margin-bottom: 135px;
    padding-left: 195px;

    @media (max-width: $minDesktop) {
      margin-top: 30px;
      padding-left: 83px;
      margin-bottom: 119px;
    }

    @media (max-width: $minTablet) {
      margin-top: 33px;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__title {
      @media (max-width: $minDesktop) {
        max-width: 300px;
      }
    }

    &__button {
      display: block;

      width: 280px;
      height: 50px;

      margin-top: 48px;

      background-color: #000000;

      @media (max-width: $minDesktop) {
        width: 220px;

        margin-top: 30px;
      }

      @media (max-width: $minTablet) {
        width: 100%;

        max-width: 290px;

        height: 60px;
      }
    }

    &__ornament {
      top: -430px;
      right: -120px;

      width: $defaultOrnamentWidth * 1.5;
      height: $defaultOrnamentWidth * 1.5;

      transform: rotate(45deg);

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }
}