[data-page = 'search-results'] {
  position: relative;

  @media (max-width: $minDesktop) {
    overflow: hidden;
  }

  .main_screen {

    &_socials {
      @media (min-width: $desktop) {
        top: 366px;
      }
    }

    &__title {
      float: left;
      max-width: 400px;

      @media (min-width: $desktop) {
        line-height: 56px;
      }

      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        float: left;
        max-width: 300px;
        left: auto;
        top: auto;
        margin-top: 150px;
        margin-left: 65px;
        padding-top: 0;
      }
    }

    &__text {
      float: right;

      width: 410px;

      margin-top: 238px;
      margin-right: 156px;

      @media (max-width: $minDesktop) {
        width: 310px;

        margin-top: 171px;
        margin-right: 30px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        padding: 0 15px;

        margin-top: 22px;
        margin-right: 0;
      }

      .c_input {
        &:before, &:after {
          height: 2px;
          top: 34px;
        }
      }

      &_results {
        margin-top: 33px;

        font-family: $Helvetica;
        font-size: 14px;
        line-height: 23px;
        color: #4d4d4d;

        @media (max-width: $minDesktop) {
          margin-top: 13px;
        }

        b {
          color: #000;
        }

        span {
          display: inline-block;

          width: 100%;

          &.no-result {
            font-family: $Helvetica;
            font-size: 13px;
            line-height: 20px;
            color: #b3b3b3;

            a {
              color: #000000;
              text-decoration: none;

              margin-left: 7px;

              @media (min-width: $desktop) {
                transition: color .3s ease;

                &:hover {
                  color: #b3b3b3;
                }
              }
            }
          }

          &:not(:first-child) {
            margin-top: 7px;
          }
        }
      }
    }

    &__ornament {
      top: 30px;
      right: -140px;

      width: $defaultOrnamentWidth * 2.1;
      height: $defaultOrnamentWidth * 2.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .content {
    margin-top: 108px;
    margin-bottom: 120px;

    @media (max-width: $minDesktop) and (min-width: $tablet) {
      margin-top: 17px;
      margin-bottom: 80px;
    }
    @media (max-width: $minTablet) {
      margin-bottom: 60px;
      margin-top: 31px;
    }
  }
}