[data-page = 'service'] {
  + #button-up {
    margin-top: 115px;
  }

  @media (max-width: $minDesktop) {
    overflow: hidden;
  }

  @media (max-width: $minTablet) {
    .ornament_animation {
      display: none;
    }
  }

  .info__text--small {
    @media (max-width: $minTablet) and (orientation: landscape) {
      max-width: none;
    }
  }

  .main_screen {
    position: relative;
    width: 100%;

    .anim_line {
      display: none;
    }

    &__wrapper {
      float: right;
      position: relative;
      width: 1164px;
      height: 680px;
      margin-top: 80px;
      &::before {
        content: "";
        background-color: #000;
        display: block;
        position: absolute;
        transform: translateY(-100%);
        height: 80px;
        width: 100%;
        top: 0;
        left: 0;
      }
      @media (max-width: $minDesktop) {
        width: 100%;
        height: 541px;
        margin-top: 70px;
      }

      @media (max-width: $minTablet) {
        height: 409px;
        margin-top: 64px;
      }
    }

    &__bg {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
      }
    }

    &__title {
      position: absolute;

      top: 53%;
      left: 82px;

      max-width: 700px;

      transform: translateY(-50%);

      @media (max-width: $minTablet) {
        max-width: 90%;
        left: 5%;

        top: 58%;

        font-size: 28px;
      }
    }

    &__services {
      position: relative;
      float: left;
      height: 269px;
      min-width: 436px;
      background-color: #000000;
      margin-left: 196px;
      margin-top: -122px;

      padding: 34px 21px 31px 50px;

      z-index: 3;

      @media (max-width: $minDesktop) {
        margin-left: 86px;
        margin-top: -134px;
      }

      @media (max-width: $minTablet) {
        min-width: 0;
        height: auto;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding: 52px 15px 52px 15px;

        text-align: center;
      }

      &-container {
        position: relative;

        width: 100%;
        height: 100%;

        overflow: hidden;
      }

      &-label {
        position: absolute;

        top: calc(100% - 22px);
        left: calc(100% + 14px);

        color: #bfbfbf;
        font-family: $Futura-PT-Bold;
        font-size: 12px;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        white-space: nowrap;

        transform: rotate(90deg) translateX(-100%);
        transform-origin: left bottom;

        @media (max-width: $minTablet) {
          display: none;
        }
      }

      &-item {
        padding-right: 25px;
        display: flex;
        &:first-child {
          @media (min-width: $tablet) {
            margin-top: 11px;
          }
        }

        &:not(:first-child) {
          margin-top: 23px;
        }

        span {
          display: inline-block;

          font-family: $Futura-PT-Bold;
          font-size: 12px;
          font-weight: 700;
          line-height: initial;
          text-transform: uppercase;
          letter-spacing: 1px;
          vertical-align: top;

          @media (max-width: $minTablet) {
            line-height: 24px;
          }

          &:first-child {
            width: 50%;
            margin-right: 1%;
            max-width: 200px;
            color: #969696;

            @media (max-width: $minTablet) {
              width: 100%;
              margin-right: 0;
            }
          }
          &:last-child {
            color: #ffffff;
            white-space: nowrap;
          }
        }
        @media (max-width: $minTablet) {
          padding-right: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .advantages {
    position: relative;

    width: 100%;

    padding-left: 195px;
    margin-top: 107px;

    @media (max-width: $minDesktop) {
      margin-top: 107px;

      padding: 0 84px;
    }

    @media (max-width: $minTablet) {
      margin-top: 33px;

      padding: 0 15px;
    }

    .section_mark {
      position: absolute;

      left: 0;
      top: -50px;
    }

    &__inner {
      width: 890px;

      margin-top: 46px;

      @media (min-width: $desktop) {
        .items__item-img {
          img {
            max-width: 70%;
          }
        }
        .items__item {
          width: 205px;
        }
      }

      @media (max-width: $minDesktop) {
        width: 100%;
      }

      @media (max-width: $minTablet) {
        margin-top: 20px;

        .items__item-text {
          display: none;
        }
      }
    }

    &__title {
      max-width: 700px;

      @media (max-width: $minDesktop) {
        padding-top: 20px;
        max-width: 550px;
      }
    }

    &__ornament {
      top: -80px;
      right: 50px;

      width: $defaultOrnamentWidth * 2;
      height: $defaultOrnamentWidth * 2;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        top: -340px;
        right: -50px;

        width: $defaultOrnamentWidth * 1.5;
        height: $defaultOrnamentWidth * 1.5;
      }
    }
  }

  .logos {
    width: 100%;
    position: relative;

    padding-left: 200px;

    text-align: center;

    @media (max-width: $minDesktop) {
      padding-left: 84px;
    }

    @media (max-width: $minTablet) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      width: 1000px;
      height: 80px;

      margin-left: -61px;
      margin-top: 114px;

      overflow: hidden;

      @media (max-width: $minDesktop) {
        width: 97%;
        height: 51px;

        margin-top: 20px;
        margin-left: -33px;
      }

      @media (max-width: $minTablet) {
        width: 100%;
        height: auto;

        margin-top: 35px;
        margin-left: 0;
      }

      &.active {
        .logos__item {
          &:nth-child(n + 5) {
            opacity: 1;
            transition: opacity 0.3s ease-out 0.2s;
          }
        }
      }
    }

    &__item {
      flex-basis: 25%;

      text-align: center;

      margin-bottom: 40px;

      @media (max-width: $minTablet) {
        flex-basis: 100%;

        margin-bottom: 33px;
      }

      &--placeholder {
        margin-bottom: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
        visibility: hidden !important;
      }

      &:nth-child(n + 5) {
        transition: opacity 0.3s ease-out;
        opacity: 0;
      }

      img {
        max-height: 80px;

        @media (max-width: $minDesktop) {
          height: 70%;
          max-height: 51px;
          max-width: 115px;
        }

        @media (max-width: $minTablet) {
          max-height: 70px;
          max-width: none;
        }
      }
    }

    &__button {
      display: inline-flex;

      width: auto;

      margin-top: 62px;

      overflow: visible;

      transform: translateX(-120px);

      @media (max-width: $minDesktop) {
        margin-top: 37px;

        transform: translateX(-60px);
      }

      @media (max-width: $minTablet) {
        margin-top: 29px;

        transform: translateX(-17px);

        .btn__dots {
          margin-right: 20px;
        }
      }

      &:after {
        right: -40px;

        @media (max-width: $minDesktop) {
          right: -2px;
        }

        @media (max-width: $minTablet) {
          right: -35px;
        }
      }
    }
  }

  .masters {
    @media (min-width: $desktop) {
      margin-top: 174px;

      &__left {
        margin-top: 140px;
      }

      &__title {
        max-width: 245px;
      }
    }

    @media (max-width: $minDesktop) {
      margin-top: 134px;
      margin-bottom: 57px;

      &__left {
        margin-top: 72px;
      }

      &__title {
        max-width: 245px;

        @media (orientation: landscape) {
          max-width: none;
        }
      }
    }

    @media (max-width: $minTablet) {
      margin-top: 0;
      margin-bottom: 55px;

      &__left {
        margin-top: 44px;
      }
    }

    @media (max-width: $minDesktop) and (min-width: $tablet) and (orientation: landscape) {
      display: flex;
      justify-content: center;

      &__right {
        margin-left: 100px;
      }

      .section_mark {
        left: 0;
      }
    }

    .section_mark {
      @media (max-width: $minDesktop) {
        top: -84px;
      }
    }

    &__ornament {
      top: 345px;
      left: -104px;

      width: $defaultOrnamentWidth * 1;
      height: $defaultOrnamentWidth * 1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        left: auto;
        right: - 70px;
        top: -70px;
      }
    }
  }

  .gallery {
    position: relative;

    @media (min-width: $desktop) {
      margin-top: 0;
    }

    @media (max-width: $minDesktop) {
      margin-top: 0;

      @media (min-width: $tablet) {
        .gallery__more {
          margin-top: 70px;
        }
      }
    }

    @media (max-width: $minTablet) {
      .gallery__photos {
        margin-top: 17px;
      }
    }
  }

  .masters--sub {
    margin-top: 110px;
    margin-bottom: 191px;

    @media (max-width: $minDesktop) {
      margin-top: 85px;
    }

    @media (max-width: $minTablet) {
      margin-top: 35px;
      margin-bottom: 115px;
    }
  }
}