[data-page = 'services'] {
  @media (max-width: $minDesktop) {
    overflow: hidden;
  }
  .masters__button_link {
    position: absolute;
    left: 80px;
    bottom: 130px;
    @media (max-width: $minDesktop) {
      bottom: 50px;
      left: 30px;
    }

    @media (max-width: $minTablet) {
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .main_screen {
    height: auto;

    position: relative;

    z-index: 3;

    &_socials {
      @media (min-width: $desktop) {
        top: 370px;
      }
    }

    &__title {
      max-width: 300px;
    }

    &__text {
      @media (min-width: $desktop) {
        left: 645px;
      }
    }

    &__ornament {
      top: 65px;
      right: -50px;

      width: $defaultOrnamentWidth * 2;
      height: $defaultOrnamentWidth * 2;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        top: 500px;
        right: 0;

        width: $defaultOrnamentWidth * 1.5;
        height: $defaultOrnamentWidth * 1.5;
      }

      @media (max-width: $minTablet) {
        display: none;
      }
    }
  }

  .tabs {
    position: relative;
    z-index: 4;

    width: auto;
    display: inline-block;
    float: right;

    margin-top: 106px;

    @media (max-width: $minDesktop) {
      margin-top: 14px;
    }

    @media (max-width: $minTablet) {
      margin-top: 32px;
      width: 100%;
    }

    .c_tabs {
      float: right;

      margin-top: 0;

      @media (min-width: $desktop) {
        .c_dropdown__options {
          width: 1010px;

          margin: 0 auto;

          &-inner {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;

            width: 100%;
          }
        }

        &__head {
          width: 100%;
          margin: 0;
        }

        &__body {
          &_inner {
            height: 599px;
          }
        }
      }

      &__body {
        @media (max-width: $minTablet) {
          height: 270px;
        }

        &_inner {
          @media (max-width: $minTablet) {
            height: 310px;
          }
        }
      }
    }
  }

  .masters {
    @media (min-width: $tablet) {
      float: left;
      width: 100%;
    }
  }
}

@media (max-width: $minTablet) {
  .c_tabs__content > span {
    top: 30%;
    font-size: 20px;
    max-width: 60%;
  }
}

@media (max-width: 374px) {
  [data-page='services'] .tabs .c_tabs__body_inner {
    height: 280px;
  }
  [data-page='services'] .tabs .c_tabs__body {
    height: 240px;
  }
}