[data-page = 'shop'] {
  position: relative;

  @media (max-width: $minDesktop) {
    overflow: hidden;
  }

  .main_screen {
    height: auto;

    &_socials {
      @media (min-width: $desktop) {
        top: 360px;
      }
    }

    &__ornament {
      top: -390px;
      left: -170px;

      width: $defaultOrnamentWidth * 1.5;
      height: $defaultOrnamentWidth * 1.5;

      transform: rotate(45deg);

      z-index: 0;

      @media (max-width: $minDesktop) {
        display: none;
      }

      &-1 {
        top: 262px;
        right: 40px;

        width: $defaultOrnamentWidth * 2.1;
        height: $defaultOrnamentWidth * 2.1;

        transform: rotate(45deg);

        z-index: 0;

        @media (max-width: $minDesktop) {
          width: $defaultOrnamentWidth * 1.7;
          height: $defaultOrnamentWidth * 1.7;

          top: 150px;
          right: -330px;
        }

        @media (max-width: $minTablet) {
          display: none;
        }
      }

      &-2 {
        top: 100px;
        right: -180px;

        width: $defaultOrnamentWidth * 2.1;
        height: $defaultOrnamentWidth * 2.1;

        transform: rotate(45deg);

        z-index: 0;

        @media (max-width: $minDesktop) {
          width: $defaultOrnamentWidth * 1.6;
          height: $defaultOrnamentWidth * 1.6;

          top: 190px;
          right: -280px;
        }

        @media (max-width: $minTablet) {
          display: none;
        }
      }
    }

    &__title {
      max-width: 450px;
    }

    &__text {
      &--sub {
        @media (min-width: $desktop) {
          left: 830px;
          top: 234px;
        }

        @media (max-width: $minTablet) {
          margin-top: 20px;
        }

        .bold {
          display: inline-block;
          width: 100%;

          margin-bottom: 9px;

          font-family: $Futura-PT-Bold;
          font-size: 18px;
          font-weight: 700;
          line-height: 25px;
          color: #000000;
        }
      }

      @media (max-width: $minDesktop) and (min-width: $tablet) {
        position: relative;
        left: auto;
        top: auto;

        margin-top: 25px;
        margin-left: 88px;
      }
    }
  }

  .benefits {
    &__inner {
      width: 975px;
      margin-left: 194px;
      margin-top: 100px;

      @media (max-width: $minDesktop) {
        width: 654px;

        margin-left: 85px;
        margin-top: 44px;
      }

      @media (max-width: $minTablet) {
        width: calc(100% - 30px);

        margin-left: 15px;
        margin-top: 40px;

        text-align: center;
      }
    }

    .items__item-title {
      height: auto;

      @media (max-width: $minDesktop) {
        max-width: none;
      }
    }

    .items__item {
      width: 235px;

      @media (max-width: $minDesktop) {
        max-width: 300px;

        margin-bottom: 14px;
      }

      @media (max-width: $minTablet) {
        max-width: none;
      }
    }
  }

  .products {
    position: relative;

    margin-bottom: 118px;

    @media (max-width: $minDesktop) {
      margin-bottom: 60px;
    }

    @media (max-width: $minTablet) {
      margin-top: 20px;
    }

    .section_mark {
      position: absolute;

      left: 0;
      top: -63px;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    &__container {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      margin-top: 165px;
      width: 1048px;
      margin-left: 116px;

      @media (max-width: $minDesktop) {
        justify-content: center;
        width: calc(100% - 174px);

        margin-left: 86px;
        margin-top: 0;
        padding-top: 179px;
      }

      @media (max-width: $minTablet) {
        width: calc(100% - 30px);

        margin-left: 15px;
        padding-top: 0;
        flex-wrap: wrap;
      }
    }

    &__row {
      width: 497px;

      @media (max-width: $minDesktop) {
        width: 282px;

        &:last-child {
          padding-top: 73px;

          margin-left: 30px;
        }
      }

      @media (max-width: $minTablet) {
        width: 100%;

        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;

          margin-left: 0;
          padding: 0;
        }
      }
    }

    &__item {
      display: block;
      text-decoration: none;

      @media (min-width: $desktop) {
        &:hover {
          .products__item-img {
            &:before {
              opacity: 0.5;
            }
          }
        }
      }

      &--text {
        padding: 55px 85px 39px 43px;

        span {
          color: #4d4d4d;
          font-family: $Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 23px;
        }

        @media (max-width: $minDesktop) and (min-width: $tablet) {
          position: absolute;

          top: 0;
          left: 0;

          width: 372px;

          padding: 25px 0 0 0;
        }

        @media (max-width: $minTablet) {
          padding: 0 0 16px;
        }
      }

      &:not(:first-child) {
        margin-top: 40px;

        @media (max-width: $minTablet) {
          margin-top: 36px;
        }
      }

      &:not(.products__item--text) {
        @media (max-width: $minTablet) {
          margin-top: 36px;
        }
      }

      &-img {
        position: relative;

        width: 100%;
        height: 475px;

        overflow: hidden;

        @media (max-width: $minDesktop) {
          height: 193px;
        }

        @media (max-width: $minTablet) {
          height: 198px;
        }

        &:before {
          content: '';
          position: absolute;
          background-color: #fff;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.55s ease;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;

          @include object-fit(cover);
        }
      }

      &-label {
        color: #000000;
        font-family: $Futura-PT-Bold;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        text-decoration: none;

        margin-top: 15px;

        @media (max-width: $minTablet) {
          margin-top: 21px;
        }
      }
    }

    &__ornament {
      bottom: -160px;
      right: 30px;

      width: $defaultOrnamentWidth * 1.1;
      height: $defaultOrnamentWidth * 1.1;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }
  }

  .product-items {
    position: relative;
    width: 100%;

    margin-top: 111px;
    margin-bottom: 120px;

    @media (max-width: $minDesktop) {
      margin-top: 38px;
      margin-bottom: 75px;
    }

    @media (max-width: $minTablet) {
      margin-top: 54px;
      margin-bottom: 60px;
    }

    &__ornament {
      bottom: 170px;
      right: -180px;

      width: $defaultOrnamentWidth * 1.8;
      height: $defaultOrnamentWidth * 1.8;

      transform: rotate(45deg);

      z-index: -1;

      @media (max-width: $minDesktop) {
        display: none;
      }
    }

    &__inner {
      width: 1048px;
      margin-left: 116px;

      @media (max-width: $minDesktop) {
        width: calc(100% - 174px);
        margin-left: 86px;
      }

      @media (max-width: $minTablet) {
        width: calc(100% - 30px);
        margin-left: 15px;
      }
    }
  }

  .product-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 431px;

    text-decoration: none;

    @media (max-width: $minDesktop) {
      height: auto;
      flex-wrap: wrap;
    }

    &:not(:first-child) {
      margin-top: 54px;

      @media (max-width: $minTablet) {
        margin-top: 8px;
      }
    }

    &:last-child {
      .product-item__text {
        margin-bottom: 0;
      }
    }

    &__left {
      width: 659px;
      height: 100%;

      @media (max-width: $minDesktop) {
        width: 100%;
        height: 389px;
      }

      @media (max-width: $minTablet) {
        height: 198px;
      }

      img {
        width: 100%;
        height: 100%;

        @include object-fit(cover);
      }
    }

    &__right {
      width: calc(100% - 659px);
      height: 100%;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: flex-start;

      padding-left: 53px;

      @media (max-width: $minDesktop) {
        width: 100%;
        height: auto;

        padding-left: 0;

        margin-top: 33px;
      }
    }

    &__logo {
      width: 100%;

      margin-bottom: 22px;

      img {
        max-height: 80px;
      }
    }

    &__text {
      color: #4c4c4c;
      font-family: $Helvetica;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;

      width: 100%;

      @media (max-width: $minTablet) {
        margin-bottom: 45px;
      }
    }
  }
}