@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen .anim_line {
    display: none;
  }
}
[data-page='home'] .main_screen__ornament {
  top: 440px;
  left: 50%;
  opacity: 0;
  margin-left: -218.5px;
}
[data-page='home'] .main_screen__ornament .ornament_animation__svg {
  width: 487px;
  height: 547px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen__ornament {
    display: none;
  }
}
[data-page='home'] .main_screen_wrapper {
  position: relative;
  float: right;
  width: 1164px;
  height: 680px;
  color: #fff;
  z-index: 1;
}

[data-page='home'] .main_screen_socials__inner {
  .anim_line {
    z-index: 7;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_wrapper {
    width: 100%;
    height: auto;
  }
}

@media (max-width: $minDesktop) and (min-width: $minTablet) {
  [data-page='home'] .main_screen_wrapper {
    picture {
      display: none;
    }
    .anim_section_title__text {
      top: -40px;
      font-size: 44px;
      line-height: 46px;
    }
    .main_screen_text.anim_static_text {
      top: 260px;
    }
  }
  [data-page='home'] .main_screen_socials {
    top: 200px;
  }
}

@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_wrapper {
    height: 515px;
    picture {
      display: block;
    }
  }
}
[data-page='home'] .main_screen_slider__container {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
[data-page='home'] .main_screen_slider__container img {
  width: 100%;
  height: 680px;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: 'object-fit: cover';
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_slider__container img {
    height: 540px;
    -o-object-fit: cover;
    object-fit: cover;
    font-family: 'object-fit: cover';
    object-position: right;
    font-family: 'object-fit: cover; object-position: right;';
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_slider__container img {
    height: 515px;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_slider__container .slick-track {
    height: auto;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_slider__container .slick-track {
    height: 515px;
  }
}
[data-page='home'] .main_screen_slider {
  width: 100%;
  height: 100%;
}
[data-page='home'] .main_screen_slider__slide {
  overflow: hidden;

  video {
    width: 100%;
    height: 680px;

    @include object-fit(cover);

    @media (max-width: $minTablet) {
      display: none;
    }
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_slider {
    overflow: hidden;
    position: relative;
  }
}
@media (min-width: $desktop) {
  [data-page='home'] .main_screen_slider__nav {
    display: none;
  }
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  [data-page='home'] .main_screen_slider__slide.design-type-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
    font-family: 'object-fit: cover; object-position: left;';
  }
}
[data-page='home'] .main_screen_title {
  position: absolute;
  max-width: 480px;
  left: 76px;
  top: 290px;
  cursor: default;
}
[data-page='home'] .main_screen_title .h1 {
  width: 480px;
  position: absolute;
  left: 0;
  top: 0;
}
[data-page='home'] .main_screen_title .h1.active {
  position: relative;
}
@media (min-width: $desktop) {
  [data-page='home'] .main_screen_title .h1.design-type-2 {
    top: -59px;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_title {
    top: 154px;
    left: 87px;
  }
  [data-page='home'] .main_screen_title .h1 span {
    display: inline-block;
    width: 100%;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_title {
    width: 100%;
    text-align: center;
    left: 0;
    top: 154px;
    padding: 0 15px;
  }
  [data-page='home'] .main_screen_title .h1 {
    display: inline-block;
    text-align: left;
    width: 100%;
    letter-spacing: 2px;
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
}
[data-page='home'] .main_screen_text {
  position: absolute;
  opacity: 0;
  transform: translate3d(-15px, 0, 0);
}
[data-page='home'] .main_screen_text.design-type-1 {
  right: 57px;
  top: 292px;
  width: 265px;
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_text.design-type-1 {
    right: auto;
    left: 0;
    top: 280px;
    width: 100%;
  }
}
[data-page='home'] .main_screen_text.design-type-2 {
  top: 386px;
  left: 80px;
  width: 365px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_text.design-type-2 {
    top: 338px;
    left: 87px;
    width: 413px;
  }
  [data-page='home'] .main_screen_text.design-type-2 span {
    letter-spacing: 0;
    line-height: 21px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_text.design-type-2 {
    top: 280px;
    left: 0;
    width: 100%;
    text-align: left;
  }
  [data-page='home'] .main_screen_text.design-type-2 span {
    font-family: $Helvetica;
    font-size: 14px;
    font-weight: 400;
    max-width: initial;
    line-height: 23px;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_text.design-type-1 {
    top: 338px;
    left: 87px;
    width: 413px;
  }
  [data-page='home'] .main_screen_text.design-type-1 span {
    letter-spacing: 0;
    line-height: 21px;
  }
}
[data-page='home'] .main_screen_text span {
  color: #fff;
  font-family: $Futura-PT-Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.9px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_text {
    right: 25px;
    top: 209px;
    width: 220px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_text {
    right: auto;
    padding: 0 15px;
    top: 280px;
    left: 0;
    width: 100%;
  }
  [data-page='home'] .main_screen_text span {
    display: inline-block;
    text-align: left;
    font-family: $Helvetica;
    font-size: 14px;
    font-weight: 400;
    max-width: initial;
    line-height: 23px;
  }
}
[data-page='home'] .main_screen_scrolldown {
  position: absolute;
  right: 81px;
  bottom: 39px;
}
[data-page='home'] .main_screen_scrolldown__inner {
  position: relative;
}
[data-page='home'] .main_screen_scrolldown span {
  display: block;
  opacity: 0.65;
  color: #fefefe;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  transform: rotate(90deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  transform-origin: right bottom;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
[data-page='home'] .main_screen_scrolldown span:hover {
  opacity: 1;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_scrolldown {
    display: none;
  }
}
[data-page='home'] .main_screen_scrolldown .anim_line {
  height: 140px;
  right: -31px;
  top: -68px;
}
[data-page='home'] .main_screen_hot {
  position: absolute;
  right: 180px;
  bottom: -180px;
  width: 250px;
  height: 250px;
  z-index: 1;
}
[data-page='home'] .main_screen_hot__inner {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (min-width: $tablet) {
  [data-page='home'] .main_screen_hot .slider_custom__nav {
    display: none;
  }
}
[data-page='home'] .main_screen_hot img {
  @media (min-width: $desktop) {
    height: 250px;
    width: 250px;
  }
  @include object-fit(cover);
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_hot {
    width: 166px;
    height: 166px;
    right: 166px;
    bottom: -90px;
  }
  [data-page='home'] .main_screen_hot img {
    height: 166px;
    width: 166px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_hot {
    float: left;
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    margin-top: 55px;
  }
  [data-page='home'] .main_screen_hot img {
    width: 100%;
    height: 320px;
  }
}
[data-page='home'] .main_screen_hot__title {
  position: absolute;
  bottom: 27px;
  left: -53px;
  color: #bfbfbf;
  font-family: $Futura-PT-Bold;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  transform: rotate(90deg) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_hot__title {
    transform: none;
    position: relative;
    left: auto;
    bottom: auto;
    padding: 0 15px;
    margin-bottom: 16px;
  }
}
[data-page='home'] .main_screen_hot__slider {
  width: 100%;
  height: 100%;
  background-color: #d7d7d7;
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_hot__slider {
    margin-bottom: 0;
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
}
[data-page='home'] .main_screen_hot__article a:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.55s ease;
  z-index: 1;
}
@media (min-width: $desktop) {
  [data-page='home'] .main_screen_hot__article:hover a:before {
    opacity: 0.5;
  }
}
[data-page='home'] .main_screen_hot__article_titles {
  position: absolute;
  left: 100px;
  top: calc(100% + 15px);
  width: 275px;
  min-height: 63px;
}
[data-page='home'] .main_screen_hot__article_titles-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_hot__article_titles {
    width: 175px;
    left: 87px;
    top: calc(100% + 17px);
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_hot__article_titles {
    position: relative;
    left: auto;
    top: auto;
    margin-top: 19px;
    width: 100%;
  }
}
[data-page='home'] .main_screen_hot__article_title {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 18px;
  line-height: 21px;
  transition: opacity 0.7s ease-in-out;
  cursor: default;
}
@media (max-width: $minTablet) {
  [data-page='home'] .main_screen_hot__article_title {
    padding: 0 15px;
  }
}
[data-page='home'] .main_screen_hot__article_title.active {
  opacity: 1;
}
[data-page='home'] .white_curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
[data-page='home'] .main_screen_slider__container {
  height: 0;
  position: static;
  overflow: hidden;
}
[data-page='home'] .main_screen_slider__container .slider_custom__time.is-hidden-for-animation {
  opacity: 0;
}
@media (min-width: $desktop) {
  [data-page='home'] .main_screen_slider__container .slider_custom__dots {
    overflow: hidden;
    width: 0;
    will-change: width;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_slider__container .slider_custom__dots {
    opacity: 0;
    transform: translate3d(-10px, 0, 0);
  }
}
[data-page='home'] .main_screen_hot__hidden {
  opacity: 0;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .main_screen_socials__animation {
    display: none;
  }
}
[data-page='home'] .main_screen_languages {
  visibility: hidden;
  transform: translate3d(0, -60px, 0);
}
@media (min-width: $tablet) and (max-width: $minDesktop) {
  [data-page='home'] {
    @media (orientation: portrait) {
      .main_screen_slider {
        height: 470px;
        video {
          height: 470px;
        }
      }
    }
    @media (orientation: landscape) {
      .slider_custom__nav {
        bottom: 4px;
      }
    }
  }
}