[data-page='home'] .back_stage {
  margin-top: 220px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage {
    margin-top: 250px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage {
    padding: 0 15px;
    margin-top: 48px;
  }
}
[data-page='home'] .back_stage__ornament {
  top: 300px;
  left: 460px;
  opacity: 0;
}
[data-page='home'] .back_stage__ornament svg {
  stroke-width: 0.5px;
}
[data-page='home'] .back_stage__ornament .ornament_animation__svg {
  width: 929px;
  height: 1075px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__ornament {
    top: -372px;
    left: 23%;
  }
  [data-page='home'] .back_stage__ornament .ornament_animation__svg {
    width: 641px;
    height: 739px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__ornament {
    display: none;
  }
}
[data-page='home'] .back_stage__title {
  position: absolute;
  left: 190px;
  top: 326px;
  max-width: 250px;
  z-index: 2;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__title {
    top: 320px;
    left: 11%;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__title {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
  }
}
[data-page='home'] .back_stage__subtitle {
  position: absolute;
  max-width: 270px;
  left: 115px;
  top: 55px;
  color: #000;
  font-family: $Futura-PT-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__subtitle {
    left: 11%;
    top: 72px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__subtitle {
    position: relative;
    left: auto;
    top: auto;
    margin-top: 5px;
    max-width: none;
  }
}
[data-page='home'] .back_stage__text {
  position: absolute;
  max-width: 310px;
  left: 115px;
  top: 170px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__text {
    left: 52.2%;
    top: 72px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__text {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
  }
}
[data-page='home'] .back_stage__backdrop {
  position: relative;
  margin-left: 405px;
  margin-top: 307px;
  width: 580px;
  height: 380px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__backdrop {
    width: 448px;
    height: 294px;
    margin-left: 17.5%;
    margin-top: 280px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__backdrop {
    display: none;
  }
}
[data-page='home'] .back_stage__video {
  position: absolute;
  width: 580px;
  height: 380px;
  left: 503px;
  top: 204px;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .back_stage__video {
    width: 448px;
    height: 294px;
    left: calc(17.5% + 76px);
    top: 227px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__video {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 189px;
    margin-top: 21px;
    margin-bottom: 20px;
  }
}
[data-page='home'] {
  .back_stage {
    &__video_animation {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: #000;
      z-index: 1;
      transform: translate3d(-100%, 0, 0);
      will-change: transform;
    }

    @media (min-width: $tablet) {
      .video_block {
        &__inner {
          box-shadow: 0px 0px 0px 0px #bdbbbd;
        }
        &__play,
        &__img,
        &__backdrop {
          opacity: 0;
        }
      }
    }
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .back_stage__video_animation {
    display: none;
  }
}
[data-page='home'] .back_stage__video .video_block__inner {
  transition: opacity 0.15s ease;
}
@media (min-width: $tablet) {
  [data-page='home'] .back_stage__video .video_block__inner {
    opacity: 0;
  }
}