[data-page='home'] .salons {
  margin-top: 120px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons {
    margin-top: 60px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons {
    margin-top: 46px;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons .anim_section_title__line-left {
    top: -30px;
    left: -30px;
  }
}
[data-page='home'] .salons__title {
  position: absolute;
  top: 48px;
  left: 430px;
  max-width: 380px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__title {
    top: 70px;
    left: 11%;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons__title {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    padding: 0 15px;
    margin-bottom: 8px;
  }
}
[data-page='home'] .salons__text {
  position: absolute;
  left: 881px;
  top: 54px;
  max-width: 270px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__text {
    left: 52.2%;
    top: 72px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons__text {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    padding: 0 15px;
  }
}
[data-page='home'] .salons__tabs {
  float: left;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__tabs {
    margin-top: 75px;
  }
  [data-page='home'] .salons__tabs .c_tabs__head {
    margin-left: 72px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons__tabs {
    margin-top: 10px;
  }
  [data-page='home'] .salons__tabs .c_tabs__head {
    margin-left: 0;
  }
}
[data-page='home'] .salons__about {
  position: absolute;
  top: 517px;
  right: 50px;
}
@media (min-width: $tablet) {
  [data-page='home'] .salons__about {
    height: auto;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__about {
    top: 282px;
    right: 22px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons__about {
    float: left;
    position: relative;
    right: auto;
    bottom: auto;
    top: auto;
    height: auto;
    margin-top: 22px;
    margin-left: 50%;
    transform: translate3d(-50%, 0, 0);
    &.active {
      .about__body_item {
        visibility: visible;
      }
    }
  }
  [data-page='home'] .salons__about .about__body {
    position: relative;
  }
}
@media (min-width: $tablet) {
  [data-page='home'] .salons__about .about__head {
    display: none;
  }
}
[data-page='home'] .salons__soon {
  position: absolute;
  top: 250px;
  right: 99px;
  opacity: 0;
}
[data-page='home'] .salons__soon span {
  color: #979797;
  font-family: $Futura-PT-Bold;
  font-size: 60px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
[data-page='home'] .salons__soon_lines {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
[data-page='home'] .salons__soon_lines > div {
  display: inline-block;
  background-color: #979797;
  width: 10px;
  height: 0;
}
[data-page='home'] .salons__soon_line1 {
  margin-left: 3px;
}
[data-page='home'] .salons__soon_line2 {
  position: absolute;
  top: 7px;
  left: 5px;
  transform: rotate(-41deg);
  transform-origin: left top;
  border-radius: 4px;
}
[data-page='home'] .salons__soon_line3 {
  margin-left: 21px;
  transform: rotate(180deg);
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__soon {
    display: none;
  }
}
[data-page='home'] .salons__backdrop {
  left: 250px;
  bottom: -85px;
  width: 380px;
  height: 380px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .salons__backdrop {
    width: 312px;
    left: 87px;
    bottom: -60px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons__backdrop {
    display: none;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .salons .slider_custom__nav-animatable {
    transform: none;
  }
}
