[data-page='home'] .advantages {
  width: 1230px;
  min-height: 620px;
  color: #fff;
  background-color: #111;
  margin-top: 205px;
  padding: 70px 0 100px 0;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .advantages {
    width: 100%;
    height: auto;
    min-height: initial;
    margin-top: 120px;
    padding: 163px 0 45px 0;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .advantages {
    margin-top: 60px;
    padding: 54px 15px 60px;
    text-align: center;
  }
}
[data-page='home'] .advantages__title {
  position: absolute;
  left: 191px;
  top: 115px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .advantages__title {
    left: 11%;
    top: 69px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .advantages__title {
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 34px;
  }
  [data-page='home'] .advantages__title .h1 {
    text-align: left;
  }
}
[data-page='home'] .advantages__title .anim_section_title__line-left {
  left: -25px;
}
[data-page='home'] .advantages__title .anim_section_title__line-right {
  left: auto;
  right: -10px;
  bottom: -26px;
}
[data-page='home'] .advantages__items_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 195px;
  margin-top: 155px;
  margin-right: 135px;
}
@media (max-width: 1023px) and (min-width: $tablet) {
  [data-page='home'] .advantages__items_container {
    display: block;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .advantages__items_container {
    margin-left: 87px;
    margin-right: 118px;
    margin-top: 0;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .advantages__items_container {
    margin: 0;
    display: block;
  }
}
[data-page='home'] .advantages__item {
  max-width: 150px;
}
@media (max-width: 1023px) and (min-width: $tablet) {
  [data-page='home'] .advantages__item {
    display: block;
  }
  [data-page='home'] .advantages__item:nth-child(odd):not(:first-child) {
    clear: left;
  }
  [data-page='home'] .advantages__item:nth-child(even):not(:first-child) {
    clear: right;
  }
}
@media (min-width: $tablet) {
  [data-page='home'] .advantages__item {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
}
@media (max-width: 1023px) {
  [data-page='home'] .advantages__item {
    max-width: 255px;
    min-height: 250px;
    margin-top: 8px;
  }
  [data-page='home'] .advantages__item:nth-child(1),
  [data-page='home'] .advantages__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: $tablet) and (max-width: 1024px) {
  [data-page='home'] .advantages__item:nth-child(odd) {
    float: left;
  }
  [data-page='home'] .advantages__item:nth-child(even) {
    float: right;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .advantages__item {
    flex-basis: 100%;
    max-width: calc(100% - 50px);
    min-height: initial;
    display: inline-block;
  }
  [data-page='home'] .advantages__item:nth-child(2) {
    margin-top: 35px;
  }
}
[data-page='home'] .advantages__item_img {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .advantages__item_img {
    justify-content: center;
  }
}
[data-page='home'] .advantages__item_title {
  font-family: $Futura-PT-Bold;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 11px;
}
[data-page='home'] .advantages__item_text {
  color: #969696;
  font-family: $Helvetica;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
}
