[data-page='home'] .services {
  margin-top: 120px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services {
    margin-top: 52px;
  }
}
[data-page='home'] .services__ornament {
  bottom: 0;
  right: 775px;
  opacity: 0;
}
[data-page='home'] .services__ornament svg {
  stroke-width: 0.5px;
}
[data-page='home'] .services__ornament .ornament_animation__svg {
  width: 929px;
  height: 1075px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services__ornament {
    right: 520px;
  }
  [data-page='home'] .services__ornament .ornament_animation__svg {
    width: 641px;
    height: 739px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .services__ornament {
    display: none;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services .anim_section_title__line-left {
    top: -30px;
    left: -30px;
  }
  [data-page='home'] .services .c_dropdown__title {
    justify-content: flex-start;
    min-width: 220px;
  }
  [data-page='home'] .services .c_tabs .c_dropdown {
    margin-left: 25px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .services .c_tabs .c_dropdown {
    margin-left: 0;
  }
  [data-page='home'] .services .c_tabs__body_inner {
    height: 189px;
  }
}
[data-page='home'] .services__title {
  position: absolute;
  top: 46px;
  left: 430px;
  max-width: 380px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services__title {
    top: 70px;
    left: 11%;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .services__title {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    padding: 0 15px;
    margin-bottom: 8px;
  }
}
[data-page='home'] .services__text {
  position: absolute;
  left: 880px;
  top: 54px;
  max-width: 270px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services__text {
    left: 52.2%;
    top: 72px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .services__text {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    padding: 0 15px;
  }
}
[data-page='home'] .services__tabs {
  float: right;
}
@media (max-width: $minDesktop) and (min-width: $tablet) {
  [data-page='home'] .services__tabs {
    margin-top: 60px;
  }
}
@media (min-width: $desktop) {
  [data-page='home'] .services__tabs .c_dropdown__options {
    width: 100%;
  }
}
[data-page='home'] .services__tabs .c_dropdown__options_inner {
  justify-content: space-around;
  pointer-events: none;
  li {
    pointer-events: auto;
  }
}
[data-page='home'] .services__tabs .c_tabs__head {
  margin-right: 0;
}
@media (min-width: $desktop) {
  [data-page='home'] .services__tabs .c_tabs__head {
    width: 100%;
  }
}
[data-page='home'] .services__professionals {
  position: absolute;
  right: 250px;
  bottom: -429px;
}
@media (max-width: $minDesktop) {
  [data-page='home'] .services__professionals {
    right: auto;
    left: 77px;
    bottom: -275px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .services__professionals {
    float: left;
    position: relative;
    right: auto;
    left: auto;
    bottom: auto;
    margin-top: 20px;
  }
}
