.gallery {
  margin-top: 169px;
}
@media (max-width: $minDesktop) {
  .gallery {
    margin-top: 60px;
  }
  .gallery .anim_section_title__line-left {
    top: -30px;
    left: -30px;
  }
}
@media (max-width: $minTablet) {
  .gallery {
    margin-top: 52px;
  }
}
.gallery__title {
  position: absolute;
  top: 51px;
  left: 192px;
}
@media (max-width: $minDesktop) {
  .gallery__title {
    top: 70px;
    left: 11%;
  }
}
@media (max-width: $minTablet) {
  .gallery__title {
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    padding: 0 15px;
    margin-bottom: 8px;
  }
}
.gallery__photos {
  position: relative;
  float: left;
  clear: both;
  margin-top: 5px;
}
@media (max-width: $minDesktop) {
  .gallery__photos {
    margin-top: 21px;
  }
}
@media (max-width: $minTablet) {
  .gallery__photos {
    margin-top: 9px;
  }
}
.gallery__more {
  float: right;
  clear: both;
  width: 180px;
  height: 50px;
  text-decoration: none;
  margin-top: 165px;
  margin-right: 250px;
}
@media (max-width: $minDesktop) {
  .gallery__more {
    width: auto;
    margin-right: 134px;
    margin-top: 53px;
  }
}
@media (max-width: $minTablet) {
  .gallery__more {
    float: left;
    display: block;
    position: relative;
    z-index: 1;
    width: 180px;
    height: 30px;
    margin-left: 50%;
    margin-right: 0;
    transform: translate3d(-50%, 0, 0);
    margin-top: -10px;
  }
}
