[data-page='home'] .bonuses {
  margin-bottom: 168px;
}
@media (min-width: $desktop) {
  [data-page='home'] .bonuses {
    margin-top: 100px;
  }
}
@media (min-width: $tablet) {
  [data-page='home'] .bonuses {
    .board__button {
      transform: translateX(3px);
    }
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .bonuses {
    margin-bottom: 118px;
    margin-top: 37px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .bonuses {
    margin-top: 51px;
    margin-bottom: 120px;
  }
}
@media (max-width: $minDesktop) {
  [data-page='home'] .bonuses .board__inner {
    padding-bottom: 88px;
  }
}
@media (max-width: $minTablet) {
  [data-page='home'] .bonuses .board__inner {
    padding-bottom: 67px;
  }
}
