//- Ajax content component (change content with ajax requests)

-
    var defaultAjaxContentText1 = 'Сертификат на 3 000 грн = в подарок шампанское Martini Asti';
    var defaultAjaxContentLink1 = 'подробнее';
    var defaultAjaxContentText2 = 'Новые технологии в окрашивании волос: интервью нашего ведущего специалиста';
    var defaultAjaxContentLink2 = 'смотреть';
    var defaultAjaxContentText3 = 'Товары домашнего ухода для волос';
    var defaultAjaxContentText4 = '3 бизнес-процедуры = 2 200 грн';

mixin ajax-content(hasBtn, headItems, bodyItems, ajaxUrl, buttonUrl, initialTab)
    .ajax-content__tabs.c_tabs.c_tabs--ajax(data-initial-tab = initialTab)
        .c_tabs__head.c_dropdown.c_dropdown-selectable
            .c_dropdown__title
                .c_dropdown__selected #{headItems[1]}
                .c_dropdown__arrow
            .c_dropdown__options
                ul.c_dropdown__options_inner
                    each item, index in headItems
                        li.c_dropdown__option.c_tabs__option(data-label = index, data-content-url = ajaxUrl, class = index === 1 ? 'active' : '') #{item}
                .c_tabs__line
        .c_tabs__body
            .c_tabs__body_content
                .c_tabs__body_inner
                    +ajax-content-items(bodyItems)
                if hasBtn
                    +button(false, true, 'ПОКАЗАТЬ ЕЩЕ', 'btn-white btn-line c_tabs__button')(data-content-url = buttonUrl)

mixin ajax-content-items(items)
    each item in items
        if !item.type || item.type === 1
            a.c_tabs__ajax-item.c_tabs__ajax-item--1(href = '#!')
                .c_tabs__ajax-item_date 12.10.2016
                .c_tabs__ajax-item_img: img(src = item.img)
                .c_tabs__ajax-item_text: span #{item.text || defaultAjaxContentText1}
                .c_tabs__ajax-item_link #{item.link || defaultAjaxContentLink1}
        else if item.type === 2
            a.c_tabs__ajax-item.c_tabs__ajax-item--2(href = '#!')
                .c_tabs__ajax-item_img: img(src = item.img)
                .c_tabs__ajax-item_text: span #{item.text || defaultAjaxContentText2}
                .c_tabs__ajax-item_link #{item.link || defaultAjaxContentLink2}
        else if item.type === 3
            a.c_tabs__ajax-item.c_tabs__ajax-item--3(href = '#!')
                .c_tabs__ajax-item_date 12.10.2016
                .c_tabs__ajax-item_sales акция
                .c_tabs__ajax-item_img: img(src = item.img)
                .c_tabs__ajax-item_text: span #{item.text || defaultAjaxContentText3}
                .c_tabs__ajax-item_desc: span Приходите к нам на окрашивание! Специальные условия при первом посещении и <b>товары</b> домашнего ухода.
                .c_tabs__ajax-item_link #{item.link || defaultAjaxContentLink1}
        else if item.type === 4
            a.c_tabs__ajax-item.c_tabs__ajax-item--4(href = '#!')
                .c_tabs__ajax-item_date 12.10.2016
                .c_tabs__ajax-item_text: span #{item.text || defaultAjaxContentText4}
                .c_tabs__ajax-item_list
                    span На Ваш выбор:
                    ul
                        li «Безупречная гладкость» - Anti age
                        li «Дыхание кожи» - Очищение
                        li «Источник увлажнения» - Увлажнение
                        li «<b>Товары</b> домашнего ухода» - Забота
                .c_tabs__ajax-item_link #{item.link || defaultAjaxContentLink1}
        else if item.type === 5
            a(href = '#!', data-video-src = 'static/video/screen-1.mp4').c_tabs__ajax-item.c_tabs__ajax-item--5.video_block
                .c_tabs__ajax-item_video-container
                    .c_tabs__ajax-item_img: img(src = item.img)
                    .c_tabs__ajax-item_play.video_block__play
                        .video_block__play_inner
                            span
                            span
                            span
                                .video_block__play_triangle
                                    span
                                    span
                .c_tabs__ajax-item_text: span #{item.text || defaultAjaxContentText2}
                .c_tabs__ajax-item_link #{item.link || defaultAjaxContentLink2}