//- Button
mixin button(bgAnimation, dots, text, className, dataPopupTarget, popupPath)
    div(class = className ? 'btn ' + className : 'btn' data-popup-target = dataPopupTarget, data-popup-remote = popupPath)&attributes(attributes)= name
        div
            if bgAnimation
                .btn__bg_animation
            if dots
                .btn__dots
                    .btn__dot
                    .btn__dot
                    .btn__dot
            span.btn__text #{text}

//- Section mark (page number)
mixin section_mark(number, text, white, className)
    .section_mark.clearfix(class = className ? className : '')
        .section_mark__number_container
            .ornament_animation.ornament_animation-default
                .ornament_animation__inner
                    .ornament_animation__svg
                        if white
                            +svg('decor-part1-white')
                        else
                            +svg('decor-part1')
                    .ornament_animation__svg
                        if white
                            +svg('decor-part1-white')
                        else
                            +svg('decor-part1')
            .section_mark__number #{number}
        .section_mark__line
        .section_mark__text_container
            .anim_line
                .anim_line__inner
            .section_mark__text #{text}

//- Languages menu
mixin main_screen_languages(className)
    .main_screen_languages(class = className || '')
        .main_screen_languages__inner.c_dropdown(data-dropdown-mobile-only = 'true')
            .c_dropdown__title
                .main_screen_languages__item.active ru
                .arrow
            .c_dropdown__body
                .c_dropdown__body_inner
                    a.main_screen_languages__item(href = '#!') en

//- Socials
mixin main_screen_socials(hasBg, hasAnimation, className)
    -
        className = className || '';
        className = hasBg ? className + ' main_screen_socials--animation' : className;
    .main_screen_socials(class = className || '')
        .main_screen_socials__inner
            if hasAnimation
                .main_screen_socials__animation.white_curtain
                .anim_line
                    .anim_line__inner
            .main_screen_socials__links
                a.main_screen_socials__item.facebook(href='#!', target='_blank')
                    span Facebook
                    +svg('facebook')
                a.main_screen_socials__item.instagram(href='#!', target='_blank')
                    span Instagram
                    +svg('instagram')

//- Breadcrumbs
mixin breadcrumbs(activeTabText, className)
    ul.breadcrumbs(data-back = 'Назад', class = className || '')
        li: a(href='https://www.google.com.ua') Главная
        li.active: span #{activeTabText}

//- Ornament animation
mixin ornament_animation(className)
    .ornament_animation(class = className || '')
        .ornament_animation__inner
            .ornament_animation__svg: +svg('decor-part1')
            .ornament_animation__svg: +svg('decor-part1')