//- Footer
mixin footer()
    footer.footer#main-footer
        .footer__separate
            form.footer__subscribe(data-url = 'static/json/subscribe.json')
                .footer__separate_text.footer__separate_text-input Узнайте о выгодных предложениях первыми
                .c_input.form-group
                    label.c_input__placeholder.control-label Введите ваш e-mail
                    input.c_input__input.form-control(type='email')
                    button.footer__btn.footer__btn-subscr.btn(type='submit')
                        div
                            .btn__bg_animation
                            span.btn__text подписаться
                    .help-block.c_input__error Введите корректный e-mail
                    .help-block-2.c_input__error Этот электронный адрес уже существует
            .footer__socials
                .footer__separate_text.footer__separate_text-social Давайте дружить
                .footer__socials_item: a(href='#!', target='_blank'): +svg('instagram')
                .footer__socials_item: a(href='#!', target='_blank'): +svg('facebook')
        .footer__inner
            .footer__head
                .footer__logo
                    +svg('maija-logo')
                    span Международная сеть салонов красоты
                form.footer__input_field.footer__input_field-search.js-fix-static
                    .footer__input_field_title поиск по сайту
                    .c_input.form-group
                        label.c_input__placeholder.control-label Введите ваш запрос
                        input.c_input__input.form-control(type='text')
                        button.footer__btn.footer__btn-search(type='submit'): +svg('search')
                .footer__input_field.footer__input_field-search2
                    .footer__input_field_text
                        span.full-tablet Популярные запросы:&nbsp
                        a(href='#!') маникюр,&nbsp
                        a(href='#!') укладка волос
            .footer__content
                .footer__content_block.clearfix.js-fix-absolute
                    span Присоединяйся к нашей команде профессионалов
                    .footer__btn.footer__btn-form.btn(data-popup-target = 'online-record', data-popup-remote = 'static/json/online-record.json')
                        div
                            .btn__bg_animation
                            span.btn__text заполнить форму
                .footer__content_block.clearfix
                    .footer__services.footer__links_block
                        a.footer__links_title.footer__links_title-services(href='#!') услуги
                        a.footer__links_link(href='#!') Парикмахерские услуги
                        a.footer__links_link(href='#!') Ногтевой сервис
                        a.footer__links_link(href='#!') Косметология
                        a.footer__links_link(href='#!') Визаж
                        a.footer__links_link(href='#!') Лечение волос
                        a.footer__links_link(href='#!') Мужчинам
                        a.footer__links_link(href='#!') Магазин
                    .footer__services.footer__links_block
                        a.footer__links_title.footer__links_title-salons(href='#!') салоны
                        a.footer__links_link(href='#!') Maija Плюс
                        a.footer__links_link(href='#!') Maija Люкс
                        a.footer__links_link(href='#!') Maija Стиль
                        a.footer__links_link(href='#!') Maija New
                        a.footer__links_link(href='#!') Maija Kids
                .footer__content_block.clearfix
                    .footer__partnership
                        span.footer__partnership_title сотрудничество
                        span Фетисова Ирина
                        span.footer__partnership_grey Бренд-менеджер
                        a.footer__partnership_link(href='tel:(044) 594-95-95') Тел. (044) 594-95-95
                        a.footer__partnership_link(href='mailto:pr@maija.ua') pr@maija.ua
                    .footer__links
                        a(href='#!') новости
                        a(href='#!') look book
                        a(href='#!') #maija
                        a(href='#!') франшиза
            .footer__bottom
                .footer__copyright Majia © 2016. Копирование информации только со ссылкой на источник.
                a.footer__madeby(href='http://vintage.com.ua', target='blank')
                    span by
                    +svg('vintage-logo')