//- Gallery section
mixin gallery(sectionNumber, sectionName, title, hasBtn, animation, texts, clearfix, className)
    -
        texts = texts || {};
        className = className || '';
    section.gallery#gallery(class = clearfix ? className + ' clearfix' : className)
        +section_mark(sectionNumber, sectionName, false, animation ? '' : 'section_mark--no-animation')
        if title
            .gallery__title.anim_section_title
                .anim_section_title__inner
                    if animation
                        .anim_section_title__line.anim_section_title__line-left: div.black
                        .anim_section_title__line.anim_section_title__line-right: div.black
                    h2.h1(class = animation ? 'anim_section_title__text' : '') #{title}
        .gallery__photos.photos(class = animation ? 'photos-hidden' : '')
            .photos__backdrop.backdrop
                .backdrop__inner
                    if animation
                        div
            .photos__block.photos__block-main
                .photos__decor.photos__decor-left-bottom
                    .photos__decor_inner
                        .photos__animation-line
                        img(src='static/img/photo-small-1.png')
                a(href='#!').photos__photo.photos__photo-main
                    .photos__animation-line
                    .photos__img: img(src='static/img/photo-big.png')
                    .photos__title #{texts.mainPhotoText || 'Pastel inspiration'}
                    .photos__date 12.10.2016
                    if texts.mainPhotoSales
                        +sales()
            .photos__block.photos__block-secondary
                .photos__decor.photos__decor-right-top
                    .photos__decor_inner
                        .photos__animation-line
                        img(src='static/img/photo-small-2.png')
                a(href='#!').photos__photo.photos__photo-secondary.photos__photo-secondary-top
                    .photos__animation-line
                    .photos__img: img(src='static/img/photo-medium-2.png')
                    .photos__title #{texts.secPhotoTopText || 'The Wedding Rush'}
                    .photos__date 12.10.2016
                    if texts.secPhotoTopSales
                        +sales()
                a(href='#!').photos__photo.photos__photo-secondary.photos__photo-secondary-bottom
                    .photos__animation-line
                    .photos__img: img(src='static/img/photo-medium-1.png')
                    .photos__title #{texts.secPhotoBottomText || 'Знаки Зодиака 2016'}
                    .photos__date 12.10.2016
                    if texts.secPhotoBottomSales
                        +sales()
        if hasBtn
            a.gallery__more(href='#!'): +button(false, true, 'смотреть все', 'btn-white btn-line')

//- helpers
mixin sales
    .photos__sales акция
