//- Header
-
    var links = [
        {
            text: 'салоны',
            href: '/salons.html'
        },
        {
            text: 'услуги',
            href: '/services.html'
        },
        {
            text: 'новости',
            href: '/news.html'
        },
        {
            text: 'look book',
            href: '/look-book.html'
        },
        {
            text: '#maija',
            href: '/02_About-us.html'
        },
        {
            text: 'франшиза',
            href: '/franchise.html'
        }
    ];

mixin header(activeLink)
    header.header#main-header
        .header__animation_container
            .header__animation_line.header__animation_line-right
            .header__animation_line.header__animation_line-left
        .header__content_container
            a.header__logo(href='/home.html')
                +svg('maija-logo')
            .header__links
                .header__links_inner
                    each link, index in links
                        - className = index === (activeLink - 1) ? 'active' : '';
                        a.header__link(class = className, href = link.href) #{link.text}
            .header__button
                +button(true, true, 'online запись', 'header__btn-form', 'online-record', 'static/json/online-record-3.json')
            .header__burger
                .header__burger_inner
                    .header__burger_line.line-1
                    .header__burger_line.line-2
                    .header__burger_line.line-3
                    .header__burger_line.line-4
