//- Masters section (simple title, subtitle, button and photo)
-
    var defaultPhotoSrc = 'static/img/services-masters.png';
mixin masters(sectionMark, title, subtitle, btnText, photoSrc, cooperation)
    if sectionMark
        +section_mark(
            sectionMark.number,
            sectionMark.text,
            sectionMark.white || false,
            sectionMark.className || 'section_mark--no-animation'
        )
    .masters__left
        if title
            h3.masters__title #{title}
        if cooperation
            .masters__cooperation
                p По вопросам сотрудничества:
                p Анна Сердюк, директор
                p
                    a(href = 'tel:(044) 285-30-39') (044) 285-30-39
                    a(href = 'tel:(044) 285-13-07') (044) 285-13-07)
                    a(href = 'mailto:aserdyuk@maija.com.ua') aserdyuk@maija.com.ua
        if subtitle
            .masters__subtitle #{subtitle}
        if btnText
            +button(true, true, btnText, 'masters__button')(data-popup-target = 'online-record', data-popup-remote = 'static/json/online-record-2.json')
    .masters__right
        img(src = photoSrc || defaultPhotoSrc)
        if cooperation
            a.masters__pdf(href = 'static/pdf-file.pdf', target = '_blank')
                img(src = 'static/img/pdf-file.png')
                span Lookbook Maija 2017