//- Other news component

-
    var defaultOtherNewsItem = {
        title: 'Другие акции и новости',
        sectionMark: { number: '01', text: 'галерея' },
        items: [
            {
                img: 'static/img/other-news-1.png',
                title: 'Бизнес процедуры для лица Biologique Recherche',
                link: 'ПОДРОБНЕЕ',
                date: '12.10.2016',
                label: 'АКЦИЯ'
            },
            {
                img: 'static/img/other-news-2.png',
                title: 'Бизнес процедуры для лица Biologique Recherche',
                link: 'ПОДРОБНЕЕ',
                date: '12.10.2016',
                label: 'АКЦИЯ'
            },
            {
                img: 'static/img/other-news-3.png',
                title: 'Бизнес процедуры для лица Biologique Recherche',
                link: 'ПОДРОБНЕЕ',
                date: '12.10.2016',
                label: 'НОВОСТЬ'
            }
        ],
        buttonText: 'смотреть еще'
    };

mixin other-news(title, sectionMark, items, button)
    -
        button = button || defaultOtherNewsItem.buttonText;
        sectionMark = sectionMark || defaultOtherNewsItem.sectionMark;
    section.other-news#other-news()&attributes(attributes)= name
        +section_mark(sectionMark.number, sectionMark.text, false, 'section_mark--no-animation')
        .other-news__title #{title || defaultOtherNewsItem.title}
        .other-news__content
            +other-news-items(items)
        if button
            .other-news__button
                +button(false, true, button, 'btn-white btn-line')(data-content-url = '09_One-article__other-news.html')

mixin other-news-items(items)
    - items = items || defaultOtherNewsItem.items;
    each item in items
        a.other-news__item(href = '#!')
            .other-news__item_img: img(src = item.img)
            .other-news__item_date #{item.date}
            .other-news__item_label #{item.label}
            .other-news__item_title #{item.title}
            .other-news__item_link #{item.link}