//- Website's popups

//- POPUPS CONTAINERS
mixin popup--online-record()
    // Online-record popup
    .popup.popup--record(data-popup-id = 'online-record', tabindex = '-1', role = 'dialog')
        .popup__container
            .popup__close.
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 21.3 21.3" style="enable-background:new 0 0 21.3 21.3;" xml:space="preserve">
                    <rect x="9.6" y="-3.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4036 10.6314)" width="2.1" height="28"/>
                    <rect x="-3.4" y="9.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4086 10.6334)" width="28" height="2.1"/>
                </svg>
            .popup__content

mixin popup--master()
    // Master popup
    .popup.popup--master(data-popup-id = 'master', tabindex = '-1', role = 'dialog')
        .popup__container
            .popup__close.
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 21.3 21.3" style="enable-background:new 0 0 21.3 21.3;" xml:space="preserve">
                    <rect x="9.6" y="-3.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4036 10.6314)" width="2.1" height="28"/>
                    <rect x="-3.4" y="9.6" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -4.4086 10.6334)" width="28" height="2.1"/>
                </svg>
            .popup__content

//- POPUPS CONTENT
mixin popup--online-record__content()
    .popup__content.popup__content--form
        .popup__title Анкета для мастера
        .popup__subtitle Пожалуйста заполните все поля и мы свяжемся с вами в ближайшее время
        form.popup__body
            .form__row
                .form__field.form-group.has-error
                    input.form__input.form-control(type = 'text', placeholder = 'ФИО*', name = 'name')
                    .form__error.help-block Ошибка! Введите текст
                .form__empty
            .form__row
                .form__field.form-group.date-field
                    input.form__input.form-control(type = 'text', placeholder = 'Дата рождения*', name = 'birthday')
                    .form__error.help-block Ошибка! Введите текст
                .form__field.form-group
                    input.form__input.form-control(type = 'text', placeholder = 'Город и район проживания*', name = 'city')
                    .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                .c_dropdown.c_dropdown-selectable(data-selected-answer-id = '0')
                    .c_dropdown__title
                        .c_dropdown__selected Общий стаж работы по специальности*
                        .c_dropdown__arrow
                    .c_dropdown__options
                        ul.c_dropdown__options_inner
                            li.c_dropdown__option(data-answer-id = '1') Менее 1 года
                            li.c_dropdown__option(data-answer-id = '2') Более 1 года
                            li.c_dropdown__option(data-answer-id = '3') Более 5 лет
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                .c_dropdown.c_dropdown-selectable(data-selected-answer-id = '0')
                    .c_dropdown__title
                        .c_dropdown__selected Должность на которую претендуете
                        .c_dropdown__arrow
                    .c_dropdown__options
                        ul.c_dropdown__options_inner
                            li.c_dropdown__option(data-answer-id = '1') Претендуемая должность 1
                            li.c_dropdown__option(data-answer-id = '2') Претендуемая должность 2
                            li.c_dropdown__option(data-answer-id = '3') Претендуемая должность 3
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'Косметика с которой Вы работаете (марка)*', name = 'cosmetics')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'Последнее место работы*', name = 'lastJob')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'Образование*', name = 'education')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'Профессиональные навыки', name = 'skills')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'Дополнительно', name = 'additional')
                .form__error.help-block Ошибка! Введите текст
            .popup__footer * обязательно к заполнению
            button.form__submit(type = 'submit')
                +button(true, true, 'отправить', 'btn-white')
mixin popup--online-record-2__content()
    .popup__content.popup__content--form.popup__content--form-2
        .popup__title Онлайн заявка
        form.popup__body
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'ваше имя', name = 'userName')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'text', placeholder = 'номер телефона', name = 'userPhone')
                .form__error.help-block Ошибка! Введите текст
            .form__field.form-group
                input.form__input.form-control(type = 'email', placeholder = 'email', name = 'userEmail')
                .form__error.help-block Ошибка! Введите текст
            button.form__submit(type = 'submit')
                +button(true, true, 'отправить заявку', 'btn-white')
mixin popup--online-record__success()
    .popup__content.popup__content--sucess
        .popup__title Спасибо за Ваш интерес!
        .popup__subtitle Наш менеджер перезвонит Вам в ближайшее время и пригласит на собеседование
mixin popup--master__content()
    .popup__content.popup__content--master
        .popup__left
            img(src = 'static/img/popup-master-1.png')
        .popup__right.master-info
            .master-info__title Козаченко Виктория
            .master-info__subtitle Топ-стилист, стаж: 10 лет
            ul.master-info__list
                li Семинар Ги Кремер
                li Cеминар Летиции Генау
                li Семинары Loreal, Kerastase, Schwarzkopf Professional
                li Cеминар по Кератину
                li Бизнес форум Лореаль 2011 и 2012
                li Бизнес форум Schwarzkopf Professional Essential Looks 2012
                li Семинар Ги Кремер
                li Cеминар Летиции Генау
                li Семинары Loreal, Kerastase, Schwarzkopf Professional
            a.form__submit(href = '#!')
                +button(true, true, 'записаться к мастеру', 'btn-white')

