//- Preloader
mixin preloader()
    #main-preloader.preloader
        .preloader__container
            .preloader__block.preloader__block-left
                .preloader__line
                .preloader__line
                .preloader__line
            .preloader__block.preloader__block-right
                .preloader__line
                .preloader__line
                .preloader__line
            .preloader__logo
                +svg('maija-logo')
        .preloader__curtain.preloader__curtain-left
        .preloader__curtain.preloader__curtain-right