extends ../extend/default

block variables
    -
        var title = 'Maija salons';
        var bodyClass = 'has-preloader';
        var gallerySettings = {
            sectionMarkNumber: '07',
            sectionMarkText: 'галерея',
            sectionTitle: 'коллекции',
            hasBtn: true,
            animation: true,
            clearfix: false,
            textsAndSales: false
        }


block main
    main(data-page='home')

        // First section
        section.main_screen#main-screen
            +ornament_animation('ornament_animation-default main_screen__ornament')
            +main_screen_languages()
            +main_screen_socials(true, true)
            .main_screen_wrapper
                .main_screen_slider
                    .main_screen_slider__container(data-initial-slide='1')
                        .main_screen_slider__slide.design-type-1(data-time='10:00')
                            video(muted, preload='auto', poster='static/img/slide-1.jpg')
                                source(type='video/mp4', src='static/video/screen-1.mp4')
                            picture
                                source(srcset='static/img/slide-1_min.png', media='(max-width: 767px)')
                                img(src='static/img/slide-1_min.png')
                        .main_screen_slider__slide.design-type-1(data-time='14:00')
                            video(muted, preload='auto', poster='static/img/slide-2.jpg')
                                source(type='video/mp4', src='static/video/screen-1.mp4')
                            picture
                                source(srcset='static/img/slide-2_min.png', media='(max-width: 767px)')
                                img(src='static/img/slide-2_min.png')
                        .main_screen_slider__slide.design-type-2(data-time='19:00')
                            video(muted, preload='auto', poster='static/img/slide-3.jpg')
                                source(type='video/mp4', src='static/video/screen-1.mp4')
                            picture
                                source(srcset='static/img/slide-3_min.png', media='(max-width: 767px)')
                                img(src='static/img/slide-3_min.png')
                    .main_screen_slider__nav.slider_custom__nav.slider_custom__nav-animatable
                        .slider_custom__nav_container
                            .slider_custom__prev
                                div: +svg('arrow-left')
                            .slider_custom__divider
                            .slider_custom__next
                                div: +svg('arrow-right')
                .main_screen_title.anim_section_title
                    .anim_section_title__inner
                        .anim_section_title__line.anim_section_title__line-left: div
                        .anim_section_title__line.anim_section_title__line-right: div
                        h2.h1.anim_section_title__text.design-type-1(data-related-slide-id='1') <span>мы</span> создаем настроение
                        h2.h1.anim_section_title__text.design-type-1(data-related-slide-id='2') <span>мы</span> создаем настроение
                        h2.h1.anim_section_title__text.design-type-2(data-related-slide-id='3') <span>мы</span> создаем настроение
                .main_screen_text.anim_static_text.design-type-1(data-related-slide-id='1')
                    span Смело меняйте образы в течении дня, оставайтесь прекрасны в любое время, будь то утренняя деловая встреча или неформальный ужин
                .main_screen_text.anim_static_text.design-type-1(data-related-slide-id='2')
                    span Смело меняйте образы в течении дня, оставайтесь прекрасны в любое время, будь то утренняя деловая встреча или неформальный ужин
                .main_screen_text.anim_static_text.design-type-2(data-related-slide-id='3')
                    span Смело меняйте образы в течении дня, оставайтесь прекрасны в любое время, будь то утренняя деловая встреча или неформальный ужин
                .main_screen_scrolldown
                    .main_screen_scrolldown__inner
                        .anim_line
                            .anim_line__inner
                        span листайте вниз
            .main_screen_hot
                .main_screen_hot__inner.main_screen_hot__hidden
                    .main_screen_hot__title актуально
                    .main_screen_hot__slider
                        article.main_screen_hot__article
                            a(href='#1'): img(src='static/img/hot-1.jpg')
                        article.main_screen_hot__article
                            a(href='#2'): img(src='static/img/hot-2.jpg')
                        article.main_screen_hot__article
                            a(href='#3'): img(src='static/img/hot-3.jpg')
                        .slider_custom__nav.main_screen_hot__hidden
                            .slider_custom__nav_container
                                .slider_custom__prev
                                    div: +svg('arrow-left')
                                .slider_custom__next
                                    div: +svg('arrow-right')
                    .main_screen_hot__article_titles.main_screen_hot__hidden
                        .main_screen_hot__article_titles_inner
                            .main_screen_hot__article_title.active(data-related-slide-id='1') Пилинг и шлифовка с использованием натуральных материалов
                            .main_screen_hot__article_title(data-related-slide-id='2') Еще один и шлифовка натуральных материалов
                            .main_screen_hot__article_title(data-related-slide-id='3') Для теста и шлифовка с использованием натуральных

        // Second section
        section.back_stage#back-stage
            +ornament_animation('ornament_animation-default back_stage__ornament')
            +section_mark('02', 'maija за кадром')
            .back_stage__backdrop.backdrop
                .backdrop__inner
                    div
            .back_stage__title.anim_section_title
                .anim_section_title__inner
                    .anim_section_title__line.anim_section_title__line-left: div.black
                    .anim_section_title__line.anim_section_title__line-right: div.black
                    h2.h1.anim_section_title__text back stage
            .back_stage__subtitle.anim_static_text
                span Maija — международная сеть салонов красоты
            .back_stage__video.video_block
                .video_block__inner
                    .back_stage__video_animation
                    .video_block__backdrop
                    .video_block__play
                        .video_block__play_inner
                            span
                            span
                            span
                                .video_block__play_triangle
                                    span
                                    span
                    .video_block__img: img(src='static/img/back-stage.jpg', alt='Maija back stage')
            .back_stage__text.anim_static_text.text
                span Главная особенность — в креативных идеях мастеров, в умении предложить клиентам свежие, оригинальные решения, базирующиеся на тенденциях мировой моды.
            // videos (fixed, hidden block)
            .video_block__video#back-stage-video(data-src='static/video/screen-1.mp4')
                .video_block__video_inner
                    .video_block__video_close
                        .video_block__video_close_inner
                            span
                            span
                    video(controls)
                        source(type='video/mp4')

        // Third section
        section.salons#salons
            +section_mark('03', 'Салоны maija')
            .salons__soon
                span SOO
                .salons__soon_lines
                    div.salons__soon_line1
                    div.salons__soon_line2
                    div.salons__soon_line3
            .salons__backdrop.backdrop
                .backdrop__inner
                    div
            .salons__title.anim_section_title
                .anim_section_title__inner
                    .anim_section_title__line.anim_section_title__line-left: div.black
                    .anim_section_title__line.anim_section_title__line-right: div.black
                    h2.h1.anim_section_title__text наши салоны
            .salons__text.anim_static_text.text
                span Мы собрали лучших специалистов – мастеров своего дела, чтобы Вы могли получить все услуги в любое время. стараемся максимально удовлетворить нашего клиента – Вас.
            .salons__tabs.c_tabs.c_tabs-animatable(data-initial-tab='1')
                .c_tabs__head.c_dropdown.c_dropdown-selectable
                    .c_dropdown__title
                        .c_dropdown__selected Maija style
                        .c_dropdown__arrow
                    .c_dropdown__options
                        ul.c_dropdown__options_inner
                            li.c_dropdown__option.c_tabs__option(data-value-index='1') Maija style
                            li.c_dropdown__option.c_tabs__option(data-value-index='2') Maija new
                            li.c_dropdown__option.c_tabs__option(data-value-index='3') Maija plus
                            li.c_dropdown__option.c_tabs__option(data-value-index='4') Maija lux
                            li.c_dropdown__option.c_tabs__option(data-value-index='5') Maija kids
                        .c_tabs__line
                .c_tabs__body
                    .c_tabs__body_inner
                        .c_tabs__content(data-content-index='1')
                            a.c_tabs__slide(href='#1'): img(src='static/img/salons-1.jpg')
                        .c_tabs__content(data-content-index='2')
                            a.c_tabs__slide(href='#2'): img(src='static/img/salons-2.jpg')
                        .c_tabs__content(data-content-index='3')
                            a.c_tabs__slide(href='#3'): img(src='static/img/salons-3.jpg')
                        .c_tabs__content(data-content-index='4')
                            a.c_tabs__slide(href='#4'): img(src='static/img/salons-4.jpg')
                        .c_tabs__content(data-content-index='5')
                            a.c_tabs__slide(href='#4'): img(src='static/img/salons-4.jpg')
                        .c_tabs__animation.c_tabs__animation-left
                        .c_tabs__animation.c_tabs__animation-right
            .salons__about.about
                .about__inner
                    .about__head
                        .about__dots
                            .about__dots_inner
                                span
                                span
                                span
                                span
                                span
                        .about__title о салоне
                    .about__body
                        .about__body_inner
                            .about__body_item(data-content-index='1')
                                span.about__salon_name Maija-Style
                                span Киев, бульвар Шевченко, 10
                                .about__phones
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                    a(href='tel:(044)232-17-42') (044)232-17-42
                                a(href='mailto:style@maija.com.ua') style@maija.com.ua
                                a(href='#!') подробнее о салоне
                            .about__body_item(data-content-index='2')
                                span.about__salon_name Maija-New
                                span Киев, площадь Льва Толстого, 10б. Текст
                                .about__phones
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                a(href='mailto:new@maija.com.ua') new@maija.com.ua
                                a(href='#!') подробнее о салоне
                            .about__body_item(data-content-index='3')
                                span.about__salon_name Maija-Plus
                                span Киев, площадь Льва Толстого, 10б. Текст текст текст
                                .about__phones
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                a(href='mailto:plus@maija.com.ua') plus@maija.com.ua
                                a(href='#!') подробнее о салоне
                            .about__body_item(data-content-index='4')
                                span.about__salon_name Maija-Lux
                                span Киев, площадь Льва Толстого, 10б. Текст
                                .about__phones
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                a(href='mailto:lux@maija.com.ua') lux@maija.com.ua
                                a(href='#!') подробнее о салоне
                            .about__body_item(data-content-index='5')
                                span.about__salon_name Maija-Kids
                                span Киев, площадь Льва Толстого, 10б. Текст
                                .about__phones
                                    a(href='tel:(044)206-20-07') (044)206-20-07
                                a(href='mailto:kids@maija.com.ua') kids@maija.com.ua
                                a(href='#!') подробнее о салоне

        // Fourth section
        section.advantages#advantages
            +section_mark('04', 'преимущества', true, 'section_mark-white')
            .advantages__title.anim_section_title
                .anim_section_title__inner
                    .anim_section_title__line.anim_section_title__line-left: div
                    .anim_section_title__line.anim_section_title__line-right: div
                    h2.h1.anim_section_title__text почему мы?
            .advantages__items_container
                .advantages__item
                    .advantages__item_img
                        img(src='static/img/icon-world.png')
                    .advantages__item_title Международная сеть салонов красоты
                    .advantages__item_text Чем больше вы пользуетесь услугами наших салонов тем дешевле это для вас.
                .advantages__item
                    .advantages__item_img
                        img(src='static/img/icon-ukraine.png')
                    .advantages__item_title 13 лет на рынке Украины
                    .advantages__item_text Чем больше вы пользуетесь услугами наших салонов тем дешевле это для вас.
                .advantages__item
                    .advantages__item_img
                        img(src='static/img/icon-clock.png')
                    .advantages__item_title Ценим ваше время
                    .advantages__item_text Чем больше вы пользуетесь услугами наших салонов тем дешевле это для вас.
                .advantages__item
                    .advantages__item_img
                        img(src='static/img/icon-clock.png')
                    .advantages__item_title Комплексное обслуживание
                    .advantages__item_text Чем больше вы пользуетесь услугами наших салонов тем дешевле это для вас.

        // Fifth section
        section.services#services
            +ornament_animation('ornament_animation-default services__ornament')
            +section_mark('05', 'услуги')
            .services__title.anim_section_title
                .anim_section_title__inner
                    .anim_section_title__line.anim_section_title__line-left: div.black
                    .anim_section_title__line.anim_section_title__line-right: div.black
                    h2.h1.anim_section_title__text услуги салона
            .services__text.anim_static_text.text
                span Все наши мастера постоянно совершенствуемся, посещая большое количество обучающих семинаров и мастер-классов лучших специалистов индустрии красоты.
            .services__tabs.c_tabs.c_tabs-animatable(data-initial-tab='1')
                .c_tabs__head.c_dropdown.c_dropdown-selectable
                    .c_dropdown__title
                        .c_dropdown__selected парикмахерские услуги
                        .c_dropdown__arrow
                    .c_dropdown__options
                        ul.c_dropdown__options_inner
                            li.c_dropdown__option.c_tabs__option(data-value-index='1') парикмахерские услуги
                            li.c_dropdown__option.c_tabs__option(data-value-index='2') косметология
                            li.c_dropdown__option.c_tabs__option(data-value-index='3') визаж
                            li.c_dropdown__option.c_tabs__option(data-value-index='4') лечение волос
                            li.c_dropdown__option.c_tabs__option(data-value-index='5') ногтевой сервис
                            li.c_dropdown__option.c_tabs__option(data-value-index='6') мужчинам
                            li.c_dropdown__option.c_tabs__option(data-value-index='7') магазин
                        .c_tabs__line
                .c_tabs__body
                    .c_tabs__body_inner
                        a.c_tabs__content(data-content-index='1', href='#1')
                            span парикмахерские услуги
                            img(src='static/img/services-1.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='2', href='#2')
                            span косметология
                            img(src='static/img/services-2.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='3', href='#3')
                            span визаж
                            img(src='static/img/services-1.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='4', href='#4')
                            span лечение волос
                            img(src='static/img/services-2.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='5', href='#5')
                            span ногтевой сервис
                            img(src='static/img/services-1.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='6', href='#6')
                            span мужчинам
                            img(src='static/img/services-2.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        a.c_tabs__content(data-content-index='7', href='#7')
                            span магазин
                            img(src='static/img/services-1.png')
                            +button(true, true, "проверьте нас в деле", 'masters__button masters__button_link')
                        .c_tabs__animation.c_tabs__animation-left
                        .c_tabs__animation.c_tabs__animation-right

        // Sixth section
        section.visit#visit
            +section_mark('06', 'первое посещеник')
            .board__backdrop: .board__backdrop_inner
            .visit__content.board
                .board__inner
                    .board__content.board__content-text
                        .board__text Первое посещение?
                        .board__text Опытные мастера, профессиональные материалы и приятные условия
                    .board__content.board__content-data
                        .board__percent
                            .board__percent_number -25%
                            .board__percent_text на пилинг и шлифовку с использованием натуральных материалов
                        a.board__button(href='#!'): +button(true, true, 'проверьте нас в деле', 'btn-white')

        // Seventh section
        +gallery(
            gallerySettings.sectionMarkNumber,
            gallerySettings.sectionMarkText,
            gallerySettings.sectionTitle,
            gallerySettings.hasBtn,
            gallerySettings.animation,
            gallerySettings.textsAndSales,
            gallerySettings.clearfix
        )

        // Eighth section
        section.bonuses#bonuses
            +section_mark('08', 'Бонусная программа')
            .board__backdrop: .board__backdrop_inner
            .bonuses__content.board
                .board__inner
                    .board__content.board__content-text
                        .board__text Пользуйтесь преимуществами категории
                        .board__text-bigger Platinum
                    .board__content.board__content-data
                        .board__percent
                            .board__percent_number -10%
                            .board__percent_text начисления бонусов от потраченных средств
                        .board__percent
                            .board__percent_number -40%
                            .board__percent_text использования бонусов при оплате услуг
                        a.board__button(href='#!'): +button(true, true, 'больше о программе', 'btn-white')