<div class="ornament_animation ornament_animation-sub ornament_animation-default about_content_ornament-1">
  <div class="ornament_animation__inner">
    <div class="ornament_animation__svg">
      <svg class="icon-decor-part1 ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
      </svg>
    </div>
    <div class="ornament_animation__svg">
      <svg class="icon-decor-part1 ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
      </svg>
    </div>
  </div>
</div>
<section class="numbers" id="numbers">
  <div class="numbers__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</div>
  <div
    class="numbers__container js-reveal">
    <div class="numbers__item">
      <div class="numbers__item_number">28</div>
      <div class="numbers__item_text">лет</div>
    </div>
    <div class="numbers__item">
      <div class="numbers__item_number">24</div>
      <div class="numbers__item_text">салона</div>
    </div>
    <div class="numbers__item">
      <div class="numbers__item_number">4</div>
      <div class="numbers__item_text">страны</div>
    </div>
    <div class="numbers__item">
      <div class="numbers__item_number">7</div>
      <div class="numbers__item_text">городов</div>
    </div>
    <div class="numbers__item">
      <div class="numbers__item_number">600</div>
      <div class="numbers__item_text">городов</div>
    </div>
    <div class="numbers__item">
      <div class="numbers__item_number">5</div>
      <div class="numbers__item_text">направлений</div>
    </div>
    </div>
</section>
<section class="world-map js-reveal" id="world-map">
  <div class="world-map__title h1">Салоны Maija по всему миру</div>
  <div class="world-map__inner">
    <div class="world-map__bg">
      <img src="static/img/world-map.png" />
    </div>
    <div class="world-map__pin" style="top: 308px; left: 562px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 211px; left: 878px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 188px; left: 833px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 201px; left: 602px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 200px; left: 490px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 198px; left: 450px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
    <div class="world-map__pin" style="top: 335px; left: 346px;">
      <img class="world-map__pin_img" src="static/img/world-map-pin.png" />
      <div class="world-map__pin_popup">
        <span>Киев</span>
        <a href="#!" target="_blank">lux@maija.com.ua</a>
      </div>
    </div>
  </div>
</section>
<section class="careers js-reveal" id="careers">
  <div class="ornament_animation ornament_animation-sub ornament_animation-default about_content_ornament-2">
    <div class="ornament_animation__inner">
      <div class="ornament_animation__svg">
        <svg class="icon-decor-part1 ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
        </svg>
      </div>
      <div class="ornament_animation__svg">
        <svg class="icon-decor-part1 ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="ornament_animation ornament_animation-sub ornament_animation-default about_content_ornament-3">
    <div class="ornament_animation__inner">
      <div class="ornament_animation__svg">
        <svg class="icon-decor-part1 ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
        </svg>
      </div>
      <div class="ornament_animation__svg">
        <svg class="icon-decor-part1 ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="careers__wrapper clearfix">
    <div class="careers__title h1">карьера</div>
    <div class="careers__info">
      <div class="careers__info-title">Lorem ipsum dolor sit amet, consectetur adipiscing.</div>
      <div class="careers__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
    </div>
    <div class="careers__join">
      <div class="careers__join-title">Присоединяйтесь к большой дружной команде!</div>
      <div class="btn btn-centered careers__join-button">
        <div>
          <div class="btn__bg_animation"></div>
          <div class="btn__dots">
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
          </div>
          <span class="btn__text">заполнить форму</span>
        </div>
      </div>
    </div>
  </div>
  <div class="careers__photo">
    <img src="static/img/panorama-2.jpg" />
  </div>
</section>
<section class="gallery js-reveal clearfix" id="gallery">
  <div class="section_mark clearfix section_mark--no-animation">
    <div class="section_mark__number_container">
      <div class="ornament_animation ornament_animation-default">
        <div class="ornament_animation__inner">
          <div class="ornament_animation__svg">
            <svg class="icon-decor-part1 ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
            </svg>
          </div>
          <div class="ornament_animation__svg">
            <svg class="icon-decor-part1 ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="section_mark__number">01</div>
    </div>
    <div class="section_mark__line"></div>
    <div class="section_mark__text_container">
      <div class="anim_line">
        <div class="anim_line__inner"></div>
      </div>
      <div class="section_mark__text">коллекции</div>
    </div>
  </div>
  <div class="gallery__title anim_section_title">
    <div class="anim_section_title__inner">
      <h2 class="h1">коллекции</h2>
    </div>
  </div>
  <div class="gallery__photos photos">
    <div class="photos__backdrop backdrop">
      <div class="backdrop__inner"></div>
    </div>
    <div class="photos__block photos__block-main">
      <div class="photos__decor photos__decor-left-bottom">
        <div class="photos__decor_inner">
          <div class="photos__animation-line"></div>
          <img src="static/img/photo-small-1.png" />
        </div>
      </div>
      <a class="photos__photo photos__photo-main" href="#!">
        <div class="photos__animation-line"></div>
        <div class="photos__img">
          <img src="static/img/photo-big.png" />
        </div>
        <div class="photos__title">Бизнес процедуры для лица Biologique Recherche</div>
        <div class="photos__date">12.10.2016</div>
        <div class="photos__sales">акция</div>
      </a>
    </div>
    <div class="photos__block photos__block-secondary">
      <div class="photos__decor photos__decor-right-top">
        <div class="photos__decor_inner">
          <div class="photos__animation-line"></div>
          <img src="static/img/photo-small-2.png" />
        </div>
      </div>
      <a class="photos__photo photos__photo-secondary photos__photo-secondary-top" href="#!">
        <div class="photos__animation-line"></div>
        <div class="photos__img">
          <img src="static/img/photo-medium-2.png" />
        </div>
        <div class="photos__title">Бизнес процедуры для лица Biologique Recherche</div>
        <div class="photos__date">12.10.2016</div>
      </a>
      <a class="photos__photo photos__photo-secondary photos__photo-secondary-bottom" href="#!">
        <div class="photos__animation-line"></div>
        <div class="photos__img">
          <img src="static/img/photo-medium-1.png" />
        </div>
        <div class="photos__title">Бизнес процедуры для лица Biologique Recherche</div>
        <div class="photos__date">12.10.2016</div>
        <div class="photos__sales">акция</div>
      </a>
    </div>
  </div>
</section>