<section class="whyus" id="whyus">
  <ul class="whyus__inner items">
    <li class="items__item">
      <div class="items__item-img">
        <img src="static/img/whyus-1.png" />
      </div>
      <div class="items__item-title">Международная сеть</div>
      <div class="items__item-text">Высокие стандарты качества услуг и сервиса. Уникальные европейские технологии.</div>
    </li>
    <li class="items__item">
      <div class="items__item-img">
        <img src="static/img/icon-ukraine.png" />
      </div>
      <div class="items__item-title">14 лет на рынке Украины</div>
      <div class="items__item-text">14 лет опыта, развития и процесса постоянного совершенствования.</div>
    </li>
    <li class="items__item">
      <div class="items__item-img">
        <img src="static/img/whyus-3.png" />
      </div>
      <div class="items__item-title">Одновременные услуги</div>
      <div class="items__item-text">Минимальное количество времени – максимальное количество услуг. Комплексное обслуживание – мы ценим Ваше время</div>
    </li>
    <li class="items__item">
      <div class="items__item-img">
        <img src="static/img/whyus-4.png" />
      </div>
      <div class="items__item-title">Творческая и социальная активность</div>
      <div class="items__item-text">Ежегодное создание модных коллекций образов, участие в значимых фешн событиях и благотворительных проектах. Мы создаем тренды.</div>
    </li>
  </ul>
</section>
<section class="loyalty" id="loyalty">
  <div class="loyalty__title h1 js-reveal">Уникальная программа лояльности</div>
  <div class="slider-table__buttons slider-table__buttons--top slider_custom__nav">
    <div class="slider_custom__nav_container">
      <div class="slider_custom__prev">
        <div>
          <svg class="icon-arrow-left ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
          </svg>
        </div>
      </div>
      <div class="slider_custom__next">
        <div>
          <svg class="icon-arrow-right ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <table class="loyalty__table slider-table js-reveal">
    <thead class="slider-table__head">
      <tr>
        <td class="slider-table__cell">Салон</td>
        <td class="slider-table__cell">Оборот,грн</td>
        <td class="slider-table__cell">Количество посещений в месяц</td>
        <td class="slider-table__cell">Количество направлений</td>
        <td class="slider-table__cell">Начисление бонусов от потраченых средств</td>
        <td class="slider-table__cell">Использование бонусов при оплате услуг</td>
      </tr>
    </thead>
    <tbody class="slider-table__body">
      <tr class="slider-table__row">
        <td class="slider-table__cell">
          <img src="static/img/table-black.png" />
          <span>black</span>
        </td>
        <td class="slider-table__cell">
          <span>от 10 000</span>
        </td>
        <td class="slider-table__cell">
          <span>1</span>
        </td>
        <td class="slider-table__cell">
          <span>-</span>
        </td>
        <td class="slider-table__cell">
          <span>1%</span>
        </td>
        <td class="slider-table__cell">
          <span>-</span>
        </td>
      </tr>
      <tr class="slider-table__row">
        <td class="slider-table__cell">
          <img src="static/img/table-platinum.png" />
          <span>platinum</span>
        </td>
        <td class="slider-table__cell">
          <span>от 10 000</span>
        </td>
        <td class="slider-table__cell">
          <span>1</span>
        </td>
        <td class="slider-table__cell">
          <span>3</span>
        </td>
        <td class="slider-table__cell">
          <span>5%</span>
        </td>
        <td class="slider-table__cell">
          <span>20%</span>
        </td>
      </tr>
      <tr class="slider-table__row">
        <td class="slider-table__cell">
          <img src="static/img/table-gold.png" />
          <span>gold</span>
        </td>
        <td class="slider-table__cell">
          <span>от 15 000</span>
        </td>
        <td class="slider-table__cell">
          <span>2</span>
        </td>
        <td class="slider-table__cell">
          <span>4</span>
        </td>
        <td class="slider-table__cell">
          <span>7%</span>
        </td>
        <td class="slider-table__cell">
          <span>20%</span>
        </td>
      </tr>
      <tr class="slider-table__row">
        <td class="slider-table__cell">
          <img src="static/img/table-silver.png" />
          <span>silver</span>
        </td>
        <td class="slider-table__cell">
          <span>от 20 000</span>
        </td>
        <td class="slider-table__cell">
          <span>3</span>
        </td>
        <td class="slider-table__cell">
          <span>5</span>
        </td>
        <td class="slider-table__cell">
          <span>10%</span>
        </td>
        <td class="slider-table__cell">
          <span>30%</span>
        </td>
      </tr>
      <tr class="slider-table__row">
        <td class="slider-table__cell">
          <img src="static/img/table-white.png" />
          <span>white</span>
        </td>
        <td class="slider-table__cell">
          <span>от 50 000</span>
        </td>
        <td class="slider-table__cell">
          <span>-</span>
        </td>
        <td class="slider-table__cell">
          <span>-</span>
        </td>
        <td class="slider-table__cell">
          <span>10%</span>
        </td>
        <td class="slider-table__cell">
          <span>40%</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="slider-table__buttons slider-table__buttons--bottom slider_custom__nav">
    <div class="slider_custom__nav_container">
      <div class="slider_custom__prev">
        <div>
          <svg class="icon-arrow-left ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
          </svg>
        </div>
      </div>
      <div class="slider_custom__next">
        <div>
          <svg class="icon-arrow-right ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="opportunities" id="opportunities">
  <div class="opportunities__inner">
    <div class="opportunities__content js-reveal">
      <div class="opportunities__title h1 h1--white">Больше возможностей</div>
      <div class="section_mark clearfix section_mark-white section_mark--no-animation">
        <div class="section_mark__number_container">
          <div class="ornament_animation ornament_animation-default">
            <div class="ornament_animation__inner">
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1-white ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1-white"></use>
                </svg>
              </div>
              <div class="ornament_animation__svg">
                <svg class="icon-decor-part1-white ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1-white"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="section_mark__number">01</div>
        </div>
        <div class="section_mark__line"></div>
        <div class="section_mark__text_container">
          <div class="anim_line">
            <div class="anim_line__inner"></div>
          </div>
          <div class="section_mark__text">преимущества</div>
        </div>
      </div>
      <ul class="opportunities__container items items--white">
        <li class="items__item">
          <div class="items__item-img">
            <img src="static/img/icon-world.png" />
          </div>
          <div class="items__item-title">Можно расплатиться</div>
          <div class="items__item-text">Описать как и за чтоОписать как и за что. Описать как и за что</div>
        </li>
        <li class="items__item">
          <div class="items__item-img">
            <img src="static/img/icon-ukraine.png" />
          </div>
          <div class="items__item-title">Можно купить</div>
          <div class="items__item-text">Описать как и за чтоОписать как и за что Описать как и за что</div>
        </li>
        <li class="items__item">
          <div class="items__item-img">
            <img src="static/img/icon-clock.png" />
          </div>
          <div class="items__item-title">Можно узнать количество</div>
          <div class="items__item-text">Описать как и за чтоОписать как и за что. Описать как и за что</div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="client_service" id="client_service">
  <div class="client_service__text js-reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
  <div class="client_service__inner js-reveal">
    <div class="ornament_animation ornament_animation-sub ornament_animation-default client_service_ornament">
      <div class="ornament_animation__inner">
        <div class="ornament_animation__svg">
          <svg class="icon-decor-part1 ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
          </svg>
        </div>
        <div class="ornament_animation__svg">
          <svg class="icon-decor-part1 ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="client_service__head">
      <div class="client_service__title h1">Клиент- сервис</div>
      <div class="client_service__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</div>
    </div>
    <div class="section_mark clearfix section_mark--no-animation">
      <div class="section_mark__number_container">
        <div class="ornament_animation ornament_animation-default">
          <div class="ornament_animation__inner">
            <div class="ornament_animation__svg">
              <svg class="icon-decor-part1 ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
              </svg>
            </div>
            <div class="ornament_animation__svg">
              <svg class="icon-decor-part1 ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-decor-part1"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="section_mark__number">02</div>
      </div>
      <div class="section_mark__line"></div>
      <div class="section_mark__text_container">
        <div class="anim_line">
          <div class="anim_line__inner"></div>
        </div>
        <div class="section_mark__text">отзывы</div>
      </div>
    </div>
    <div class="client_service__sliders">
      <div class="client_service__slider client_service__slider--speak">
        <div class="client_service__slider-title">О нас говорят</div>
        <div class="client_service__slider-content">
          <div class="client_service__slider-slides">
            <img src="static/img/client_service-1.png" />
            <img src="static/img/client_service-2.png" />
          </div>
          <div class="slider_custom__nav">
            <div class="slider_custom__nav_container">
              <div class="slider_custom__prev">
                <div>
                  <svg class="icon-arrow-left ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                  </svg>
                </div>
              </div>
              <div class="slider_custom__next">
                <div>
                  <svg class="icon-arrow-right ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="client_service__slider-labels">
            <img src="static/img/quote.png" />
            <div class="client_service__slider-label active" data-related-slide-id="1">
              <span class="text">Мой любимый салон! Лучшее девачковое место, где воплощаются в реальность красивые мечты о себе) Мне так нравится, что несколько процедур можно сделать одновременно, эта такая экономия времени! Чудесные мастера незаметно колдуют каждый в
                своей области, и улучшается не только внешность, но и настроение.</span>
              <span class="author">Рудякова Александра, Директор украинского представительства аграрной компании "ILTA"</span>
            </div>
            <div class="client_service__slider-label" data-related-slide-id="2">
              <span class="text">Стилисты Международной сети салонов красоты Maija представили новую коллекцию окрашивания волос "Пастельное вдохновение" - стрижки, укладки, вдохновленные самыми актуальными трендами в hair-моде. Ее особенностью стало окрашивание в необычные
                пастельные тона - кукольный розовый, платиновый, кремовый с пудровой розовинкой, бледно-голубой, лиловый, серый и мятный. Настроение коллекции - расслабленное и свободной, под стать образам моделей, одетых в пижамный street-style. Главное
                - решиться на перемены, а все остальное сделают специалисты Maija</span>
              <span class="author">Your Hair №5 (83) осень 2016</span>
            </div>
            <div class="client_service__slider-label" data-related-slide-id="2">
              <span class="text">Один из немногих сетей салонов красоты, которые смогли обеспечить превосходное качество во всех</span>
              <span class="author">Журнал Viva 2</span>
            </div>
          </div>
        </div>
      </div>
      <div class="client_service__slider client_service__slider--write">
        <div class="client_service__slider-title">О нас пишут</div>
        <div class="client_service__slider-content">
          <div class="client_service__slider-slides">
            <img src="static/img/client_service-2.png" />
            <img src="static/img/client_service-1.png" />
          </div>
          <div class="slider_custom__nav">
            <div class="slider_custom__nav_container">
              <div class="slider_custom__prev">
                <div>
                  <svg class="icon-arrow-left ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                  </svg>
                </div>
              </div>
              <div class="slider_custom__next">
                <div>
                  <svg class="icon-arrow-right ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="client_service__slider-labels">
            <img src="static/img/quote.png" />
            <div class="client_service__slider-label active" data-related-slide-id="1">
              <span class="text">Мой любимый салон! Лучшее девачковое место, где воплощаются в реальность красивые мечты о себе) Мне так нравится, что несколько процедур можно сделать одновременно, эта такая экономия времени! Чудесные мастера незаметно колдуют каждый в
                своей области, и улучшается не только внешность, но и настроение.</span>
              <span class="author">Рудякова Александра, Директор украинского представительства аграрной компании "ILTA"</span>
            </div>
            <div class="client_service__slider-label" data-related-slide-id="2">
              <span class="text">Стилисты Международной сети салонов красоты Maija представили новую коллекцию окрашивания волос "Пастельное вдохновение" - стрижки, укладки, вдохновленные самыми актуальными трендами в hair-моде. Ее особенностью стало окрашивание в необычные
                пастельные тона - кукольный розовый, платиновый, кремовый с пудровой розовинкой, бледно-голубой, лиловый, серый и мятный. Настроение коллекции - расслабленное и свободной, под стать образам моделей, одетых в пижамный street-style. Главное
                - решиться на перемены, а все остальное сделают специалисты Maija</span>
              <span class="author">Your Hair №5 (83) осень 2016</span>
            </div>
            <div class="client_service__slider-label" data-related-slide-id="2">
              <span class="text">Один из немногих сетей салонов красоты, которые смогли обеспечить превосходное качество во всех</span>
              <span class="author">Журнал Viva 2</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="online_record js-reveal" id="online_record">
  <div class="online_record__title h1">онлайн запись</div>
  <div class="btn online_record__button">
    <div>
      <div class="btn__bg_animation"></div>
      <div class="btn__dots">
        <div class="btn__dot"></div>
        <div class="btn__dot"></div>
        <div class="btn__dot"></div>
      </div>
      <span class="btn__text">записаться</span>
    </div>
  </div>
</section>