<a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
  <div class="c_tabs__ajax-item_date">12.10.2016</div>
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/news-1.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
  </div>
  <div class="c_tabs__ajax-item_link">подробнее</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
  <div class="c_tabs__ajax-item_date">12.10.2016</div>
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/news-6.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
  </div>
  <div class="c_tabs__ajax-item_link">подробнее</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
  <div class="c_tabs__ajax-item_date">12.10.2016</div>
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/news-7.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
  </div>
  <div class="c_tabs__ajax-item_link">подробнее</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
  <div class="c_tabs__ajax-item_date">12.10.2016</div>
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/news-4.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
  </div>
  <div class="c_tabs__ajax-item_link">подробнее</div>
</a>