<div class="c_tabs__body_inner">
  <a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-5.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-6.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-3.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--1" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-4.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Сертификат на 3 000 грн = в подарок шампанское Martini Asti</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
</div>
<div class="btn btn-white btn-line c_tabs__button" data-content-url="08_Actions-and-news__items.html">
  <div>
    <div class="btn__dots">
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
    </div>
    <span class="btn__text">ПОКАЗАТЬ ЕЩЕ</span>
  </div>
</div>