<a class="other-news__item" href="#!">
  <div class="other-news__item_img">
    <img src="static/img/other-news-1.png" />
  </div>
  <div class="other-news__item_date">12.10.2016</div>
  <div class="other-news__item_label">АКЦИЯ</div>
  <div class="other-news__item_title">Бизнес процедуры для лица Biologique Recherche</div>
  <div class="other-news__item_link">ПОДРОБНЕЕ</div>
</a>
<a class="other-news__item" href="#!">
  <div class="other-news__item_img">
    <img src="static/img/other-news-2.png" />
  </div>
  <div class="other-news__item_date">12.10.2016</div>
  <div class="other-news__item_label">АКЦИЯ</div>
  <div class="other-news__item_title">Бизнес процедуры для лица Biologique Recherche</div>
  <div class="other-news__item_link">ПОДРОБНЕЕ</div>
</a>
<a class="other-news__item" href="#!">
  <div class="other-news__item_img">
    <img src="static/img/other-news-3.png" />
  </div>
  <div class="other-news__item_date">12.10.2016</div>
  <div class="other-news__item_label">НОВОСТЬ</div>
  <div class="other-news__item_title">Бизнес процедуры для лица Biologique Recherche</div>
  <div class="other-news__item_link">ПОДРОБНЕЕ</div>
</a>