<div class="c_tabs__body_inner">
  <a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/gallery-5.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Virgin beauty Colour Collection FallWinter 2011-12</span>
    </div>
    <div class="c_tabs__ajax-item_link">смотреть</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/gallery-6.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Видео с UFW Autumn 2016</span>
    </div>
    <div class="c_tabs__ajax-item_link">смотреть</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--5 video_block" href="#!" data-video-src="static/video/screen-1.mp4">
    <div class="c_tabs__ajax-item_video-container">
      <div class="c_tabs__ajax-item_img">
        <img src="static/img/gallery-3.png" />
      </div>
      <div class="c_tabs__ajax-item_play video_block__play">
        <div class="video_block__play_inner">
          <span></span>
          <span></span>
          <span>
            <div class="video_block__play_triangle">
              <span></span>
              <span></span>
            </div>
          </span>
        </div>
      </div>
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Коллекция La frange</span>
    </div>
    <div class="c_tabs__ajax-item_link">смотреть</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/gallery-4.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Коллекция Мама+Я</span>
    </div>
    <div class="c_tabs__ajax-item_link">смотреть</div>
  </a>
</div>
<div class="btn btn-white btn-line c_tabs__button" data-content-url="10_Gallery__items.html">
  <div>
    <div class="btn__dots">
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
    </div>
    <span class="btn__text">ПОКАЗАТЬ ЕЩЕ</span>
  </div>
</div>