<a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/gallery-1.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Новые технологии в окрашивании волос: интервью нашего ведущего специалиста</span>
  </div>
  <div class="c_tabs__ajax-item_link">смотреть</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--5 video_block" href="#!" data-video-src="static/video/screen-1.mp4">
  <div class="c_tabs__ajax-item_video-container">
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/gallery-6.png" />
    </div>
    <div class="c_tabs__ajax-item_play video_block__play">
      <div class="video_block__play_inner">
        <span></span>
        <span></span>
        <span>
          <div class="video_block__play_triangle">
            <span></span>
            <span></span>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Видео с UFW Autumn 2016</span>
  </div>
  <div class="c_tabs__ajax-item_link">смотреть</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/gallery-2.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Новые технологии в окрашивании волос: интервью нашего ведущего специалиста</span>
  </div>
  <div class="c_tabs__ajax-item_link">смотреть</div>
</a>
<a class="c_tabs__ajax-item c_tabs__ajax-item--2" href="#!">
  <div class="c_tabs__ajax-item_img">
    <img src="static/img/gallery-4.png" />
  </div>
  <div class="c_tabs__ajax-item_text">
    <span>Коллекция Мама+Я</span>
  </div>
  <div class="c_tabs__ajax-item_link">смотреть</div>
</a>