<div class="c_tabs__body_inner">
  <a class="c_tabs__ajax-item c_tabs__ajax-item--4" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_text">
      <span>3 бизнес-процедуры = 2 200 грн</span>
    </div>
    <div class="c_tabs__ajax-item_list">
      <span>На Ваш выбор:</span>
      <ul>
        <li>«Безупречная гладкость» - Anti age</li>
        <li>«Дыхание кожи» - Очищение</li>
        <li>«Источник увлажнения» - Увлажнение</li>
        <li>«
          <b>Товары</b> домашнего ухода» - Забота</li>
      </ul>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--3" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_sales">акция</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-2.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Товары домашнего ухода для волос</span>
    </div>
    <div class="c_tabs__ajax-item_desc">
      <span>Приходите к нам на окрашивание! Специальные условия при первом посещении и
        <b>товары</b> домашнего ухода.</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--4" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_text">
      <span>3 бизнес-процедуры = 2 200 грн</span>
    </div>
    <div class="c_tabs__ajax-item_list">
      <span>На Ваш выбор:</span>
      <ul>
        <li>«Безупречная гладкость» - Anti age</li>
        <li>«Дыхание кожи» - Очищение</li>
        <li>«Источник увлажнения» - Увлажнение</li>
        <li>«
          <b>Товары</b> домашнего ухода» - Забота</li>
      </ul>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
  <a class="c_tabs__ajax-item c_tabs__ajax-item--3" href="#!">
    <div class="c_tabs__ajax-item_date">12.10.2016</div>
    <div class="c_tabs__ajax-item_sales">акция</div>
    <div class="c_tabs__ajax-item_img">
      <img src="static/img/news-7.png" />
    </div>
    <div class="c_tabs__ajax-item_text">
      <span>Товары домашнего ухода для волос</span>
    </div>
    <div class="c_tabs__ajax-item_desc">
      <span>Приходите к нам на окрашивание! Специальные условия при первом посещении и
        <b>товары</b> домашнего ухода.</span>
    </div>
    <div class="c_tabs__ajax-item_link">подробнее</div>
  </a>
</div>
<div class="btn btn-white btn-line c_tabs__button" data-content-url="15_Search-results__items.html">
  <div>
    <div class="btn__dots">
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
      <div class="btn__dot"></div>
    </div>
    <span class="btn__text">ПОКАЗАТЬ ЕЩЕ</span>
  </div>
</div>