<div class="popup__content popup__content--form">
  <div class="popup__title">Анкета для мастера</div>
  <div class="popup__subtitle">Пожалуйста заполните все поля и мы свяжемся с вами в ближайшее время</div>
  <form class="popup__body">
    <div class="form__row">
      <div class="form__field form-group has-error">
        <input class="form__input form-control" type="text" placeholder="ФИО*" name="name" />
        <div class="form__error help-block">Ошибка! Введите текст</div>
      </div>
      <div class="form__empty"></div>
    </div>
    <div class="form__row">
      <div class="form__field form-group date-field">
        <input class="form__input form-control" type="text" placeholder="Дата рождения*" name="birthday" />
        <div class="form__error help-block">Ошибка! Введите текст</div>
      </div>
      <div class="form__field form-group">
        <input class="form__input form-control" type="text" placeholder="Город и район проживания*" name="city" />
        <div class="form__error help-block">Ошибка! Введите текст</div>
      </div>
    </div>
    <div class="form__field form-group">
      <div class="c_dropdown c_dropdown-selectable" data-selected-answer-id="0">
        <div class="c_dropdown__title">
          <div class="c_dropdown__selected">Общий стаж работы по специальности*</div>
          <div class="c_dropdown__arrow"></div>
        </div>
        <div class="c_dropdown__options">
          <ul class="c_dropdown__options_inner">
            <li class="c_dropdown__option" data-answer-id="1">Менее 1 года</li>
            <li class="c_dropdown__option" data-answer-id="2">Более 1 года</li>
            <li class="c_dropdown__option" data-answer-id="3">Более 5 лет</li>
          </ul>
        </div>
      </div>
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <div class="c_dropdown c_dropdown-selectable" data-selected-answer-id="0">
        <div class="c_dropdown__title">
          <div class="c_dropdown__selected">Должность на которую претендуете</div>
          <div class="c_dropdown__arrow"></div>
        </div>
        <div class="c_dropdown__options">
          <ul class="c_dropdown__options_inner">
            <li class="c_dropdown__option" data-answer-id="1">Претендуемая должность 1</li>
            <li class="c_dropdown__option" data-answer-id="2">Претендуемая должность 2</li>
            <li class="c_dropdown__option" data-answer-id="3">Претендуемая должность 3</li>
          </ul>
        </div>
      </div>
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="Косметика с которой Вы работаете (марка)*" name="cosmetics" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="Последнее место работы*" name="lastJob" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="Образование*" name="education" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="Профессиональные навыки" name="skills" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="Дополнительно" name="additional" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="popup__footer">* обязательно к заполнению</div>
    <button class="form__submit" type="submit">
      <div class="btn btn-white">
        <div>
          <div class="btn__bg_animation"></div>
          <div class="btn__dots">
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
          </div>
          <span class="btn__text">отправить</span>
        </div>
      </div>
    </button>
  </form>
</div>