<div class="popup__content popup__content--sucess">
  <div class="popup__title">Спасибо за Ваш интерес!</div>
  <div class="popup__subtitle">Наш менеджер перезвонит Вам в ближайшее время и пригласит на собеседование</div>
</div>