<div class="popup__content popup__content--master">
  <div class="popup__left">
    <img src="static/img/popup-master-1.png" />
  </div>
  <div class="popup__right master-info">
    <div class="master-info__title">Козаченко Виктория</div>
    <div class="master-info__subtitle">Топ-стилист, стаж: 10 лет</div>
    <ul class="master-info__list">
      <li>Семинар Ги Кремер</li>
      <li>Cеминар Летиции Генау</li>
      <li>Семинары Loreal, Kerastase, Schwarzkopf Professional</li>
      <li>Cеминар по Кератину</li>
      <li>Бизнес форум Лореаль 2011 и 2012</li>
      <li>Бизнес форум Schwarzkopf Professional Essential Looks 2012</li>
      <li>Семинар Ги Кремер</li>
      <li>Cеминар Летиции Генау</li>
      <li>Семинары Loreal, Kerastase, Schwarzkopf Professional</li>
    </ul>
    <a class="form__submit" href="#!">
      <div class="btn btn-white">
        <div>
          <div class="btn__bg_animation"></div>
          <div class="btn__dots">
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
          </div>
          <span class="btn__text">записаться к мастеру</span>
        </div>
      </div>
    </a>
  </div>
</div>