<div class="popup__content popup__content--form popup__content--form-2">
  <div class="popup__title">Онлайн заявка</div>
  <form class="popup__body">
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="ваше имя" name="userName" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="text" placeholder="номер телефона" name="userPhone" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <div class="form__field form-group">
      <input class="form__input form-control" type="email" placeholder="email" name="userEmail" />
      <div class="form__error help-block">Ошибка! Введите текст</div>
    </div>
    <button class="form__submit" type="submit">
      <div class="btn btn-white">
        <div>
          <div class="btn__bg_animation"></div>
          <div class="btn__dots">
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
            <div class="btn__dot"></div>
          </div>
          <span class="btn__text">отправить заявку</span>
        </div>
      </div>
    </button>
  </form>
</div>